* {
	padding: 0px;
	margin: 0px;
	border: none;
}

body{
	cursor: default;
	background: #c1c1c1;
	background-image: -moz-radial-gradient(center 45deg, circle cover, #CCC, #777);
	background-image: -webkit-gradient(radial, 50% 50%, 0, 50% 50%,1000, from(#CCC), to(#777));
	background-image: -o-radial-gradient(center 45deg, circle cover, #CCC, #777);
	background-image: radial-gradient(center 45deg, circle cover, #CCC, #777);
	font-family: Arial;
	color: #000;
	font-size: 12px;
	padding-bottom: 30px;
}

.clear {
	clear: both;
}

.unselectable {
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-o-user-select: none;
}

img[src=''] {
	display: none;
}

input:focus, textarea:focus, select {
	outline: none;
	resize: none;
	/*cursor: text;*/
}

#wrapperWorkspace {
	width: 100%;
	height: 100%;
	text-align: center;
}

#workspace {
	width: 980px;
	height: 100%;
	margin: 0 auto;
	text-align: left;
}

#wrapperHeader {
	height: 84px;
	padding: 24px;
}

#wrapperDate {
	padding-left: 26px;
	font-weight: bold;
}

#blockLogo {
	float: left;
}

.rtlDirection #blockLogo {
	float: right;
}

#blockVersion {
	float: left;
	margin-left: 12px;
	padding: 4px 8px;
	border-left: 1px dotted #000;
	font-size: 11px;
}

.rtlDirection #blockVersion {
	float: right;
	margin-left: 0;
	margin-right: 12px;
	padding: 4px 8px;
	border-left: none;
	border-right: 1px dotted #000;
	direction: rtl;
	text-align: right;
}

#blockFastmenu {
	float: right;
	padding-top: 10px;
}

.rtlDirection #blockFastmenu {
	float: left;
}

#wrapperContent {
	padding: 0px 10px;
}

a {
	font-size: 12px;
	color: #AA0000;
	text-decoration: none;
	border-bottom: 1px dotted #BB0000;
	cursor: pointer;
	outline: none;
}

a:hover {
	color: #CC0000;
	border-bottom: 1px dotted #DD0000;
}
#dev_lan_control a{
	border:none;
}

#blockVersion a {
	font-size: 11px
}

#blockVersion #adsl_status {
	display: none;
}

#blockVersion #adsl_status img {
	width: 11px;
	vertical-align: bottom;
}

.lightUI.button{
	max-width: 50px;
}

.lightUI .button {
	border: 1px solid #999;
	padding: 3px 15px;
	border-radius: 3px;
	font-style: normal;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	cursor: pointer;
	display: inline-block;
	color: #333;
}

.lightUI .button.normal {
	background: rgb(255,255,255);
	background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlNWU1ZTUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background-image: -moz-linear-gradient(top, rgb(255,255,255) 0%, rgb(229,229,229) 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(255,255,255)), color-stop(100%,rgb(229,229,229)));
	background-image: -o-linear-gradient(top, rgb(255,255,255) 0%,rgb(229,229,229) 100%);
	background-image: -ms-linear-gradient(top, rgb(255,255,255) 0%,rgb(229,229,229) 100%);
	background-image: linear-gradient(top, rgb(255,255,255) 0%,rgb(229,229,229) 100%);
}

.lightUI .button.push {
	background: rgb(246,246,246);
	background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmNmY2ZjYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background-image: -moz-linear-gradient(top, rgb(255,255,255) 0%, rgb(246,246,246) 47%, rgb(237,237,237) 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(255,255,255)), color-stop(47%,rgb(246,246,246)), color-stop(100%,rgb(237,237,237)));
	background-image: -o-linear-gradient(top, rgb(255,255,255) 0%,rgb(246,246,246) 47%,rgb(237,237,237) 100%);
	background-image: -ms-linear-gradient(top, rgb(255,255,255) 0%,rgb(246,246,246) 47%,rgb(237,237,237) 100%);
	background-image: linear-gradient(top, rgb(255,255,255) 0%,rgb(246,246,246) 47%,rgb(237,237,237) 100%);
}

.lightUI .button.disable {
	background: #DDD;
	color: #999;
	cursor: default;
}

.lightUI .button .icon {
	float: left;
	width: 16px;
	height: 16px;
}

.lightUI .button .icon img {
	width: 16px;
	height: 16px;
}

.lightUI .button .title {
	float: left;
	font-size: 12px;
	padding: 1px 5px 0px 5px;
	text-shadow: 1px 1px 0px #FFF;
}

.lightUI .button.hover {
	border: 1px solid #777;
	color: #000;
	box-shadow: 1px 1px 1px #AAA;
	-moz-box-shadow: 1px 1px 1px #AAA;
	-webkit-box-shadow: 1px 1px 1px #AAA;
}

.buttonbox{
	display: inline;
	margin: 0 4px 0 0;
}

.nodebox.para{
	margin-bottom: 35px;
}
