#searcher {
	width: 100%;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	box-shadow: 3px 3px 10px #555;
	-moz-box-shadow: 3px 3px 10px #555;
	-webkit-box-shadow: 3px 3px 10px #555;
	background: rgb(226,226,226);
	background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2UyZTJlMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2RiZGJkYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iI2QxZDFkMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZWZlZmUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background-image: -moz-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(226,226,226,1)), color-stop(50%,rgba(219,219,219,1)), color-stop(51%,rgba(209,209,209,1)), color-stop(100%,rgba(254,254,254,1)));
	background-image: -o-linear-gradient(top, rgba(226,226,226,1) 0%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 51%,rgba(254,254,254,1) 100%);
	background-image: -ms-linear-gradient(top, rgba(226,226,226,1) 0%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 51%,rgba(254,254,254,1) 100%);
	background-image: linear-gradient(top, rgba(226,226,226,1) 0%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 51%,rgba(254,254,254,1) 100%);
}

.rtlDirection #searcher {
	direction: rtl;
}

#searcher .left {
	float: left;
	width: 90%;
}

.rtlDirection #searcher .left {
	float: right;
}

#searcher .left .top {
	width: 100%;
}

#searcher .left .top .title {
	padding: 2px 0 0 7px; 
	float: left;
	font-size: 11px;
	color: #818181;
}

.rtlDirection #searcher .left .top .title {
	padding: 2px 7px 0 0; 
	float: right;
}

#searcher .left .bottom {
	width: 100%;
}

#searcher .left .bottom .data {
	padding: 0 3px 0 7px;
}

.rtlDirection #searcher .left .bottom .data {
	padding: 0 7px 0 3px;
}

#searcher .left .bottom .data input {
	border: none;
	background: none;
	width: 100%;
	font-size: 18px;
}

#searcher .right {
	float: right;
}

.rtlDirection #searcher .right {
	float: left;
}

#searcher .right img {
	margin: 8px 12px 0 0;
}

.rtlDirection #searcher .right img {
	margin: 8px 0 0 12px;
}

/* Search Results CSS */

h2 {
	text-shadow: 1px 1px 0px #999;
}

.searchItem {
	font-family: Arial;
	width: 460px;
	margin-top: 10px;
}

.rtlDirection .searchItem {
	float: right;
}

.searchItem .caption {
	padding-left: 10px;
}

.rtlDirection .searchItem .caption {
	padding-left: 0;
	padding-right: 10px;
}
		
.searchItem .caption a {
	color: #fff;
	font-size: 18px;
	text-decoration: underline;
	border: none;
}

.searchItem .caption a:hover {
	color: #FFFF99;
}
	
.searchItem .caption span.group {
	color: #b4b4b4;
	font-size: 16px;
	margin-left: 5px;
	text-shadow: 1px 1px 0px #555;
}

.rtlDirection .searchItem .caption span.group {
	margin-left: 0;
	margin-right: 5px;
}

.searchItem .description {
	padding: 5px 30px 10px 10px;
	color: #dadada;
	font-size: 12px;
	text-shadow: 1px 1px 0px #555;
}

.rtlDirection .searchItem .description {
	padding: 5px 10px 10px 30px;
}

.searchItem .separator {
	height: 1px;
	background: url('../image/search_separator.png') no-repeat;
}

.searchItem .searchMark {
	background: #FFFFCC;
	color: #000;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	text-shadow: none;
}
