@charset "utf-8";
a {
	text-decoration: none;
}
.popup {
	text-align: left;
}
#iWrap {
	width: 958px;
	min-height: 535px;
	background:#fff;
	font-size: 14px;
	line-height: 1.5;
}
#header {
	padding-bottom: 16px !important;
}
#topBarLeft {
	background: url("../img/install/fullWidth_bg.jpg") no-repeat scroll left top rgba(0, 0, 0, 0);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 20px;
	font-size: 24px;
    width: 920px;
}
#topBarLeft h1:first-letter {
    font-size: 30px;
}
#topBarLeft.fullWidth {
	width: 920px;
	padding:20px;
	background: url(../img/install/fullWidth_bg.jpg) no-repeat top left;
	-webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;	
}
#iContent{
	width: 958px;
	-webkit-border-bottom-right-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	border-top: 1px none #DFDFDF;
	border-right: 1px solid #DFDFDF;
	border-left: 1px solid #DFDFDF;
	border-bottom: 1px solid #DFDFDF;
}
.fullWidth h1:first-letter{	font-size: 30px;}
#topBarRight {
	height: 116px;
	width: 478px;
	margin-bottom:30px;
}
#topBarRight.topBarFull {
	padding-left:250px;
}
#topBarRightImg {
	padding-left: 41px;
	padding-top: 48px;
}
#topBarRightSteps {
	padding-left: 0px; /*13px*/
	margin-left: -4px;
	padding-top: 3px;
}
#topBarRightSteps .fL {
	color: #CCCCCC;
	font-size: 14px;
	text-align: center;
	width: 117px;
}
.actv {
	color: #000 !important;
}
.error-radio{
	padding-left: 16px; 
	padding-top: 2px;
}
#paddingMiddle{
	padding-left: 60px;
	padding-right: 60px;
}

.product16 #topBarRightSteps {
	padding-left: 13px;
	margin-left: -4px;
	padding-top: 3px;
}
.product18 #topBarRightSteps {
	padding-left: 13px;
	margin-left: -4px;
	padding-top: 3px;
}
.product19 #topBarRightSteps {
	padding-left: 13px;
	margin-left: -4px;
	padding-top: 3px;
}

.product16 #topBarRightSteps .fL {
	color: #CCCCCC;
	font-size: 14px;
	text-align: center;
	width: 88px;
}
.product18 #topBarRightSteps .fL {
	color: #CCCCCC;
	font-size: 14px;
	text-align: center;
	width: 88px;
}
.product19 #topBarRightSteps .fL {
	color: #CCCCCC;
	font-size: 14px;
	text-align: center;
	width: 88px;
}
#langSelector {
	font-size: 13px;
	padding: 10px ;
}
#langSelector a {
	padding: 0 7px 0 0;
}
#langSelector a:hover {
	color: #000;
}
#topBarLeftRight {
	height: 116px;
	width: 958px;
}
h1 { margin:0; padding:0;}
h1.twoLines {
	padding-top: 24px;
}
.fL {
	float: left;
}
.fR {
	float: right;
}
#leftContent {
	height: 480px;
	width: 460px;
	position: relative;
	float: left;
	text-align: center;
}
#leftContentImg {}
#rightContent {
	width: 498px;
	position: relative;
	float: left;
	box-sizing:border-box;
	-moz-box-sizing:border-box; /* Firefox */
	-webkit-box-sizing:border-box; /* Safari */
	padding: 50px 20px 85px 20px; /* falls probleme bottom 48px */
}
#rightContent.fullContent {
	 width:958px;
	 height:480px;
}
#rightContent .Speech_Bubbles{
	background: url(../img/Speech_Bubbles.png) no-repeat 0 0;
	padding:0 0 30px 70px;
	border-bottom: 1px solid #DFDFDF;
	margin-bottom:20px;
}
.login_box{ padding:5px 0;}
.row {
	min-height: 24px;
	padding-bottom: 12px;
}
.loadPid11{
	text-align: center; 
	margin-top: 110px;
}
.row.with-border {
	padding-bottom: 16px;
	border-bottom: 1px solid #DFDFDF;
	margin-bottom: 19px;
}
#topBarRightButton {
	padding-right: 58px;
	padding-top: 38px;
}
#leftContentWrap {
	left: 58px;
	padding-right: 43px;
	top: 28px;
}
#rightContentWrap {
	left: 41px;
	padding-right: 58px;
	top: 28px;
}
.leftContentPadding {
	padding: 28px 41px 48px 58px;
}

.buttonsDivider {
    border-bottom: 1px solid #DFDFDF;
    clear: both;
    height: 8px;
    margin-right: 2px;
    width: 379px;
}

#wrapInstallation {
	width: 960px;
	margin: auto;
	position: relative;
}
.lL {
	display: block;
	height: 50px;
	left: 0;
	position: absolute;
	top: 26px;
	width: 180px;
	z-index: 100;
}
#contentInstallation {
	background: #fefcec url(../img/installation-firmware-upgrade.png) no-repeat;
	width: 100%;
	height: 660px;
	position: relative;
}

#columnLeftInner {
	font-size: 14px;
	padding: 28px 0 0 58px;
	width: 400px;
	z-index: 5;
}
#columnLeftInner p {
	font-size: 14px;
	line-height: 1.5;
	margin-bottom: 13px;
}

#columnLeft {
	left: 59px;
}

#columnRight {
	right: 59px;
}

#columnRightInner {
	position: relative;
	height: 363px;
}

.transparent2 {
	opacity: 0.5;
	filter: alpha(opacity=50);
}

#buttonsBottom {
	position: absolute;
	bottom: 48px;
	right: 58px;
	text-align: right;
}

#buttonsDivider {
    border-bottom: 1px solid #dfdfdf;
    clear: both;
    height: 8px;
    /* margin-left: 10px; */
    margin-right: 2px;
	width: 379px;
}

p {
	font-size: 14px;
	line-height: 1.5;
	margin-bottom: 13px;
}

input{
	font-size: 13px;
    width: 295px;
	padding-left: 8px;
}

.input-example {
	font-style: italic;
	color: #888;
}

.title {
	font-weight: bold;
}

.button {
    color: #333333;
    font-weight: bold;
}
.button:active {
    background-image: url("../img/button-grey-pressed.png");
}
.button-wide .button {
	background-image: url("../img/button-grey-wide-shadow.png");
	width: 148px;
}

#fileButton .button, #fileButtonUSB .button {
  margin-top: 2px !important;
}
.button-wide {
    background-image: url("../img/button-grey-wide-shadow.png");
    width: 150px;
}
.button-wide:active {
    background-image: url("../img/button-grey-wide-pressed.png");
    width: 148px;
}
#fileButton.button-wide {
	margin-top: 10px;
}

.button-apply {
    background-image: url("../img/button-purple-narrow-shadow.png");
	color: #fff;
}
.button-apply:active {
    background-image: url("../img/button-purple-pressed.png");
}

.button-apply-wide {
    background-image: url("../img/button-purple-wide-shadow.png");
	width: 150px;
}
.button-apply-wide:active {
    background-image: url("../img/button-purple-wide-pressed.png") !important;
}

.checkbox {
	float: none;
	margin: 0 0 0 8px;
	padding-bottom: 4px;
}

.checkbox-unchecked {
	width: 24px;
	height: 24px;
	background-image: url(../img/checkbox-unchecked.png);
}

.checkbox-checked {
	width: 24px;
	height: 24px;
	background-image: url(../img/checkbox-checked.png);
}

p .notification {
	color: #888888;
    font-style: italic;
}
.qq-uploader { position:relative; width: 100%;
	padding-bottom: 4px;
}


/***** Form Error Message Boxes *****/

.input-error {
    background-color: #FFF2F2;
    border-color: #BD0000; /* gets overrided :( */
    color: #BD0000;
}

.message {
	display: block;
	background: #fefcec url(../img/icon-info-transparent.png) no-repeat scroll 20px 13px;
	clear: both;
	border: 1px solid #f6b03f;
	padding: 20px 15px 20px 62px;
	font-size: 14px;
	line-height: 1.3;
}

fieldset > .message {
	min-height: 1px;
}

.success{
	background-color: #dcecd3;
	border: 1px solid #99cc99;
}

.message-error {
	background-image: url(../img/icon-error.png);
	background-color: #fff2f2;
	border: 1px solid #bd0000;
	color: #bd0000;
}

.message a {
	color: #000;
	text-decoration: underline;
}

/* "progress-bar" Overlay */

#progress-bar-buttons .button {
	float: right;
}

#progress-bar-container {
	 top: 120px;
}
.marginLeft {
    margin-left: 3px;
}
/* FOOTER */
#footerMenu {
	width: 100%;
}
#footerContainer {
	width: 960px;
	padding-top: 10px;
}

#footerContainer div {
	font-size: 13px;
}

#footerLanguage {
	float: left;
}

#footerLanguage span {
	color: #555;
	font-weight: bold;
}

#footerLanguage a {
	color: #888888;
}

#footerLanguage a:hover {
	color: #000000;
}

#footerFirmware {
	float: right;
	color: #888888;
}

.hidden {
	display: none !important;
}
.trans {
	opacity: 0.4;
}

input.pin {
	width: 270px;
}
.textNextToRadio{
	margin-left: 20px;
	width: 335px;
}

.product11.step112 #leftContent{
	height: auto;
	text-align: center;
	padding-top: 140px;

}
.product11.step112 #rightContent{
	height: auto;
	
}
.product11.step112 #iWrap{
	height: auto;
	
}.product11.step111 #leftContent{
	height: auto;
	text-align: center;
	padding-top: 56px;

}
.product11.step111 #rightContent{
	height: auto;
	
}
.product11.step111 #iWrap{
	height: auto;
	
}
.wrongRow{
	padding-left:40px; 
	padding-right:40px; 
	padding-top:50px;
}
.radioButtonMargin1{
	margin-right: 70px; 
	margin-left: 80px;
}
.radioButtonMargin2{
	margin-right: 80px; 
	margin-left: 80px;
}

.radioButtonMargin3{
	margin-right: 70px; 
}

.hundred{
	width: 100%;
	font-size: 22px;
}

.pT{
	padding-top: 130px;
}
.marginRadioButton{
	margin-right: 12px;
}

/* Justin add 20131128 */

.radio-checked:active {
	background-image: url("../img/radio-checked.png");
}

.radio-unchecked:active {
	background-image: url("../img/radio-unchecked.png");
}
.login_text{ float:left; width:30px; line-height:30px; font-size:15px;}
.pl_35{ padding-left:35px;}
.pl_65{ padding-left:65px;}
/* Justin add end */