.unused {
    opacity: 0.2;
}
/*.new {
        color: #14cd05 !important;
}*/
.hide {
    display: none;
}
/*##########################################################################
        HTML5 HACKS, RESETS AND BASICS
##########################################################################*/
header, section, aside, nav, article { display:block;}

header, section, aside, nav, article, ul, li, h1, h2, h3, body, div {
    padding: 0;
    margin: 0;
}

ul, li {
    list-style-type: none;
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    font-size: 0;
    height: 0;
    visibility: hidden;
}

*:first-child+html .clearfix {
    min-height: 0;
}

* html .clearfix {
    height: 1%;
}
a {
    color: #A0A0A0;
    text-decoration: none;
}
#content a {
    text-decoration: underline;
}
.left {
    float: left;
}
.right {
    float: right;
}
a {
    -webkit-transition: color 0.5s ease-out;  /* Saf3.2+, Chrome */
    -moz-transition: color 0.5s ease-out;  /* FF4+ */
    -ms-transition: color 0.5s ease-out;  /* IE10 */
    -o-transition: color 0.5s ease-out;  /* Opera 10.5+ */
    transition: color 0.5s ease-out;
}
@font-face {
    font-family: 'VodafoneRgRegular';
    src: url('fonts/vodafonerg-webfont.eot');
    src: url('fonts/vodafonerg-webfont.eot?#iefix') format('embedded-opentype'),
        url('fonts/vodafonerg-webfont.woff') format('woff'),
        url('fonts/vodafonerg-webfont.ttf') format('truetype'),
        url('fonts/vodafonerg-webfont.svg#VodafoneRgRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'VodafoneRgBold';
    src: url('fonts/vodafonerg_bd-webfont.eot');
    src: url('fonts/vodafonerg_bd-webfont.eot?#iefix') format('embedded-opentype'),
        url('fonts/vodafonerg_bd-webfont.woff') format('woff'),
        url('fonts/vodafonerg_bd-webfont.ttf') format('truetype'),
        url('fonts/vodafonerg_bd-webfont.svg#VodafoneRgBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'VodafoneLtRegular';
    src: url('fonts/vodafonelt-webfont.eot');
    src: url('fonts/vodafonelt-webfont.eot?#iefix') format('embedded-opentype'),
        url('fonts/vodafonelt-webfont.woff') format('woff'),
        url('fonts/vodafonelt-webfont.ttf') format('truetype'),
        url('fonts/vodafonelt-webfont.svg#VodafoneLtRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}
.noOpacity {
    opacity: 0 !important;
}
.noOpacity2 {
    opacity: 0 !important;
}
.op40 {
    opacity: 0.4;
    filter: alpha(opacity=40);
}
.rel {
    position: relative !important;
}
.abs {
    position: absolute !important;
}
.tR {
    text-align: right !important;
}
.tL {
    text-align: left !important;
}
.tC {
    text-align: center !important;
}
.bold {
    font-weight: bold !important;
}
.italic {
    font-style: italic !important;
}
.fL {
    float: left !important;
}
.fR {
    float: right !important;
}
/*##########################################################################
        LAYOUT
##########################################################################*/

body {
    font-size: 100%;
    font-color: #444; /* THIS LINE ISN'T VALID */
    font-family: Arial, sans-serif;
    background: #FFF url(../img/bg.jpg) no-repeat center top;
}
#wrap {
    width: 960px;
    margin: 0 auto;
}
#head-wrap {
    margin-bottom: 13px;
    position: relative;
}
#inner-wrap {
    width: 958px;
    position: relative;
    margin:0 auto;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 1px none #DFDFDF;
    border-right: 1px solid #DFDFDF;
    border-left: 1px solid #DFDFDF;
    border-bottom: 1px solid #DFDFDF;
    background: #fff url(../img/indicator_bg.jpg) repeat-y left top;
}
.menuItem {
    clear: both;
}

/*##########################################################################
        OVERVIEW DESIGN
##########################################################################*/

#inner-wrap article#overview {
    width: 958px;
}
#inner-wrap #overviewContent {
    /*width: 921px;
    margin-left: 2px;
    float: right;
    text-align: center;
    min-height: 163px;
    padding-top: 613px;
    padding-left: 37px;
    position: relative;*/

    background:#FFF;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
#overviewContent .abs {
    text-align: left;
}
#overviewContent.dsl {
    background: #ffffff url(../img/overview-background.png) no-repeat scroll center top;
}
#overviewContent.lte {
    background: #ffffff url(../img/overview-background-lte.png) no-repeat scroll center top;
}
#overviewContent.fiber {
    background: #ffffff url(../img/overview-background-fiber.png) no-repeat scroll center top;
}
#overviewContent.umts {
    background: #ffffff url(../img/overview-background-umts.png) no-repeat scroll center top;
}
#overviewContent.umts-mass-storage {
    background: #ffffff url(../img/overview-background-umts-mass-storage.png) no-repeat scroll center top;
}
#overviewContent.no-usb {
    background: #ffffff url(../img/overview-background-no-usb-devices.png) no-repeat scroll center top;
}
.expert .ov06basic {
    display: none;
}

#inner-wrap article#overview img {
    display: block;
}

#inner-wrap article#overview .overviewCategoryLink {
    display: block;
    position: absolute;
    top: 255px;
    left: 92px;
    width: 83px;
    height: 83px;
    opacity: 0;
    filter: alpha(opacity=0);
    background-color: #000;
    background-image: none;
}

#training-icon {
    position: absolute;
    top: 101px;
    left: 145px;
}

/*##########################################################################
        HEADER AND NAVIGATION
##########################################################################*/
.head-message {
    padding: 10px 20px 10px 20px;
    background: #fefcec;
    border: 1px solid #f6b142;
    border-top: 1 none transparent;
    font-size: 14px;
    width: 918px;
    -webkit-box-shadow: 0px 2px 3px rgba(50, 50, 50, 0.2);
    -moz-box-shadow:    0px 2px 3px rgba(50, 50, 50, 0.2);
    box-shadow:         0px 2px 3px rgba(50, 50, 50, 0.2);
    line-height: 1.6;
}

.head-message .button {
    height: 30px;
    width: 96px;
    margin-top: -5px;
    margin-left: 8px;
    margin-bottom: -5px;
    border: 0 none transparent;
    cursor: pointer;
    background: transparent url(../img/button-grey-narrow-shadow.png) no-repeat scroll top right;
    font-weight: bold;
    font-size: 13px;
    color: #333;
    line-height:30px;
    float: right;
}
.de .head2 {
    margin-top: 7px;
}
.head-message .button:active {
    background: transparent url(../img/button-grey-pressed.png) no-repeat scroll top right;
}

.head-message .purple {
    background: transparent url(../img/button-purple-narrow-shadow.png) no-repeat scroll top right;
    color: #fff
}
.head-message .purple:Active {
    background: transparent url(../img/button-purple-pressed.png) no-repeat scroll top right;
    color: #fff
}

.head-message-close {
    float: right;
    width: 30px;
    height: 30px;
    background: url("../img/button-grey-close-noshadow.png");
    margin-top: -5px;
    margin-left: 6px;
}

#header {}

#head-wrap {
    height: 70px;
    width: 960px;
}
#head-wrap-login {
    width: 960px;
}
#head-wrap .logos,#head-wrap-login .logos{ padding:0px 0 0 0; display: inline-block;}

#header img {
    float: left;
    margin-right: 10px;
}

#header h1 {
    font-size: 18px;
    width: 300px;
    line-height: 35px;
    font-family: VodafoneRgRegular, Arial, sans-serif;
}

nav {}

#header ul {
    position: relative;
    height: 50px;
    width: 960px;
}
#header .overviewMenu {	background: url('../img/menuBars/nav.png') no-repeat;}
#header .phoneMenu { background: url('../img/menuBars/nav.png') no-repeat 0 -50px}
#header .internetMenu {	background: url('../img/menuBars/nav.png') no-repeat 0 -100px}
#header .wifiMenu {background: url('../img/menuBars/nav.png') no-repeat 0 -150px}
#header .settingsMenu {background: url('../img/menuBars/nav.png') no-repeat 0 -200px}
#header .status-and-supportMenu { background: url('../img/menuBars/nav.png') no-repeat 0 -250px}



#header .seven.overviewMenu {
    background: url('../img/menuBars7/overview.png');
}
#header .seven.phoneMenu {
    background: url('../img/menuBars7/phone.png');
}
#header .seven.messagesMenu {
    background: url('../img/menuBars7/messages.png');
}
#header .seven.internetMenu {
    background: url('../img/menuBars7/internet.png');
}
#header .seven.wifiMenu {
    background: url('../img/menuBars7/wifi.png');
}
#header .seven.settingsMenu {
    background: url('../img/menuBars7/settings.png');
}
#header .seven.status-and-supportMenu {
    background: url('../img/menuBars7/status.png');
}

#header .five.overviewMenu {	background: url('../img/menuBars5/nav_5.png') no-repeat;}
#header .five.internetMenu {	background: url('../img/menuBars5/nav_5.png') no-repeat 0 -50px;}
#header .five.wifiMenu {	background: url('../img/menuBars5/nav_5.png') no-repeat 0 -100px;}
#header .five.settingsMenu {	background: url('../img/menuBars5/nav_5.png') no-repeat 0 -150px;}
#header .five.status-and-supportMenu {	background: url('../img/menuBars5/nav_5.png') no-repeat 0 -200px;}

#header .four.overviewMenu {	background: url('../img/menuBars4/nav_4.png') no-repeat;}
#header .four.internetMenu {	background: url('../img/menuBars4/nav_4.png') no-repeat 0 -50px;}
#header .four.settingsMenu {	background: url('../img/menuBars4/nav_4.png') no-repeat 0 -100px;}
#header .four.status-and-supportMenu {	background: url('../img/menuBars4/nav_4.png') no-repeat 0 -150px;}


#header li a {
    color: #fff;
    font-family: Arial,sans-serif;
    font-size: 15px;
    font-weight: bold;
    height: 50px;
    line-height: 50px;
    overflow: hidden;
    position: absolute;
    text-align: center;
    top: 0;
    width: 160px;

}

#header .seven li a {
    color: #333;
    font-family: Arial,sans-serif;
    font-size: 15px;
    font-weight: bold;
    height: 44px;
    line-height: 40px;
    overflow: hidden;
    position: absolute;
    text-align: center;
    top: 0;
    width: 137px;
    text-shadow: 0 1px 0 #FFFFFF;
    text-decoration: none;
}
#header .five li a {
    top: 0;
    width: 192px;
}

#header .four li a {
    top: 0;
    width: 240px;
}

#header li a:hover { color:#78d5ff;}
#header .active a,#header .active a:hover{ color:#0184c4;}
#phone a {
    left: 160px;
}
#internet a {
    left: 320px;
}
#wifi a {
    left: 480px;
}
#settings a {
    left: 640px;
}
#status-and-support a {
    left: 800px;
}


.seven #phone a {
    left: 137px;
}
.seven #messages a {
    left: 274px;
}
.seven #internet a {
    left: 411px;
}
.seven #wifi a {
    left: 548px;
}
.seven #settings a {
    left: 685px;
}
.seven #status-and-support a {
    left: 822px;
}

.five #internet a {
    left: 193px;
}
.five #wifi a {
    left: 386px;
}
.five #settings a {
    left: 579px;
}
.five #status-and-support a {
    left: 772px;
}


.four #internet a {
    left: 240px;
}

.four #settings a {
    left: 480px;
}
.four #status-and-support a {
    left: 720px;
}

#navigation {
    z-index:100;
    background:url(../img/navigation_bg.jpg) no-repeat left top;
    float: left;
    width: 220px;
    text-align: right;
    opacity: 1;
    -webkit-transition: opacity 0.3s ease-out;  /* Saf3.2+, Chrome */
    -moz-transition: opacity 0.3s ease-out;  /* FF4+ */
    -ms-transition: opacity 0.3s ease-out;  /* IE10 */
    -o-transition: opacity 0.3s ease-out;  /* Opera 10.5+ */
    transition: opacity 0.3s ease-out;
}
#navigation.fadeOut {
    opacity: 0;
}
#navigation > ul {
    width: 220px;
    padding:20px 0 30px 0;
}
#navigation > ul > li {
    width: 220px;
    margin-left: -192px;
    min-height: 40px;
    text-shadow: 0 1px 0 #FFFFFF;
    line-height: 40px;
}
#navigation ul li a {
    font-family: Arial,sans-serif;
    font-size: 15px;
    width: 190px;
    padding:5px 20px 5px 10px;
    display: block;
    text-decoration: none;
    color: #333;
}
.notOverview #navigation ul li {
    margin-left: 0px;
}
#navigation ul li.active > a{
    color: #0180be;
    font-weight: bold;
    background:#FFF;
}
#navigation a:hover {
    color: #555;
    -webkit-transition: color 0.3s ease-out;  /* Saf3.2+, Chrome */
    -moz-transition: color 0.3s ease-out;  /* FF4+ */
    -ms-transition: color 0.3s ease-out;  /* IE10 */
    -o-transition: color 0.3s ease-out;  /* Opera 10.5+ */
    transition: color 0.3s ease-out;
}
#navigation ul .sub,#navigation ul .sub a{}

.subMenu {
    height: 0px;
    width: 180px;
    overflow: hidden;
    float: right;
    background: #fff;
    padding:10px 20px 20px 20px;
}

#navigation .subMenu ul li a{ padding:0;width: 180px;}
.subMenu.border { background:#fff url(../img/subMenu_line.png) no-repeat center top;}
#navigation ul .sub ul li a{color:#333;font-weight: normal;}
#navigation .subMenu ul li.active > a{ color:#333; background:url(../img/subMenu_ov.png) no-repeat 0 12px;font-weight: bold;}

#screensLoggedIn {
    float: right;
    font-size: 12px;
    color: #666;
    padding: 6px 16px 0 0;
}

#logout {
    float: right;
    padding:15px 10px 0 0;
    width: 54px;
    height: 54px;
    background: url("../img/Logout_Normal.png") no-repeat 0 15px;
}
#logout:active {
    background: url("../img/Logout_Pressed.png") no-repeat 0 15px;
}
#basexp {
    float: right;
    font-size: 14px;
    height: 21px;
    margin:30px 20px 30px 30px;
    padding: 5px 0 0 10px;
    text-shadow: 1px 0 0 #FFFFFF;
    text-transform: capitalize;
    width: 130px;
    color: #333;
    display: block;
    cursor: pointer;
}
#basexp.basic {
    background: url("../img/Basic_Bar_Normal.png");
}
#basexp.expert {
    background: url("../img/Expert_Bar_Normal.png");
}
#basexp.basic.open {
    background: url("../img/Basic_Bar_Pressed.png");
}
#basexp.expert.open {
    background: url("../img/Expert_Bar_Pressed.png");
}
#dropDownBasExp {
    font-size: 14px;
    font-weight: normal;
    height: 56px;
    padding: 0 0 0 11px;
    position: absolute;
    right: 81px;
    text-shadow: 1px 0 0 #FFFFFF;
    top: 55px;
    width: 134px;
    z-index: 999;
}
#dropDownBasExp.basic {
    background: url("../img/Dropdown_Basic.png");
}
#dropDownBasExp.expert {
    background: url("../img/Dropdown_Expert.png");
}
#dropDownBasExp .selectBasic {
    display: block;
    height: 21px;
    width: 124px;
    padding-top: 5px;
    color: #333;
}
#dropDownBasExp .selectExpert {
    display: block;
    height: 21px;
    width: 124px;
    padding-top: 5px;
    color: #333;
}

/*##########################################################################
        CONTENT
##########################################################################*/

#indicator {
    left: 235px;
    position: absolute;
    top: 27px;
    z-index: 3;
}
.whiteLayer {
    left: 225px;
    position: absolute;
    top: 26px;
    z-index: 5;
}
#content {
    width: 638px;
    padding:30px 50px 85px 50px;
    min-height: 334px;
    position: relative;
}
#content.no-apply-cancel {
    padding-bottom: 72px;
}
/* TEMP NOT NEEDED */
/*#helpButtons {
        left: 895px;
        position: absolute;
        top: 10px;
        width: 55px;
        height: 26px;
}*/
#helpButtonsShort {
    left: 924px;
    position: absolute;
    top: 9px;
    width: 26px;
    height: 26px;
    z-index: 100;
}
#helpButtonsNone {
    left: 921px;
    position: absolute;
    top: 10px;
    width: 27px;
    height: 28px;
}
#resetB {
    left: 0px;
    height: 26px;
    width: 27px;
    background: url("../img/reset-btn.png");
    z-index: 1;
    cursor: hand;
    cursor: pointer;
}
#helpB {
    position: absolute;
    left: 27px;
    height: 26px;
    width: 28px;
    background: url("../img/button-help.png");
    cursor: hand;
    cursor: pointer;
    z-index: 1;
}
#helpButtonsShort #helpB {
    left: 0px;
    height: 26px;
    width: 27px;
    background: url("../img/Help_Single.png");
}
#helpButtonsShort #helpB:active {
    left: 0px;
    height: 26px;
    width: 27px;
    background: url("../img/Help_Single-pressed.png");
}
#resetB:active {
    background: url("../img/reset-btn-pressed.png");
    z-index: 2;
}
#helpB:active {
    background: url("../img/button-help-pressed.png");
    z-index: 2;
}
#r {
    position: relative;
}
#closeH {
    background: url("../img/button-close.png") repeat scroll 0 0 transparent;
    cursor: pointer;
    height: 26px;
    left: 698px;
    position: absolute;
    top: 9px;
    width: 27px;
}
#closeH:active {
    background: url("../img/button-close-pressed.png");
}
#resetR {
    background-image: url("../img/button-purple-narrow-shadow.png");
    color: #FFFFFF;
    cursor: pointer;
    font-size: 13px;
    font-weight: bold;
    height: 24px;
    left: 470px;
    padding: 6px 0 0 1px;
    position: absolute;
    text-align: center;
    top: 21px;
    width: 96px;
}
#cancelR {
    background-image: url("../img/button-grey-narrow-shadow.png");
    color: #333333;
    cursor: pointer;
    font-size: 13px;
    font-weight: bold;
    height: 24px;
    left: 569px;
    padding: 6px 0 0 0;
    position: absolute;
    text-align: center;
    top: 21px;
    width: 96px;
}
#resetR:active {
    background-image: url("../img/button-purple-pressed.png");
}
#cancelR:active {
    background-image: url("../img/button-grey-pressed.png");
}
#resetT {
    color: #333333;
    font-size: 14px;
    left: 90px;
    position: absolute;
    top: 27px;
}
#h {
    position: relative;
}
input.active {
    font-style: normal !important;
    color: #000 !important;
}

.button-apply:active {
    background-image: url(../img/button-purple-pressed.png) !important;
}
.button-cancel:active {
    background-image: url(../img/button-grey-pressed.png) !important;
}
.button-cancel-purple:active {
    background-image: url(../img/button-purple-pressed.png) !important;
}

.faded {
    opacity: 0.4;
    filter: alpha(opacity=40);
}
.button-link {
    text-decoration: none;
}


/*##########################################################################
        POPUP - It's called #progress-bar
##########################################################################*/

.blackBackground {
    position:			fixed !important;
    _position:			absolute !important;
    height:				100%;
    width:				100%;
    top:				0;
    left:				0;
    border:				1px solid #cecece;
    z-index:			9997;
    background: rgba(0, 0, 0, 0.7);
}
.popup {
    left: 50%;
    margin-left: -222px;
    position: absolute;
    text-align: center;
    top: 50px;
    background-color: #ffffff;
    z-index: 9998;
    -moz-box-shadow: 0 0 30px #555;
    -webkit-box-shadow: 0 0 30px #555;
    box-shadow: 0 0 30px #555;
    padding: 34px 40px 40px 40px;
    width: 364px;
    font-size: 14px;
    line-height: 24px;
}
.popup .apply-cancel {
    position: static;
    bottom: auto;
    right: auto;
    padding-top: 24px;
    text-align: right;
}
.popup .button-apply {
    margin-right: 0;
}
.popup.big {
    width: 470px;
    margin-left: -256px;
}

.popup p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 8px;
}
.popup .title {
    font-weight: bold;
    margin-bottom: 24px;
}
.popup .title.no-margin-bottom {
    margin-bottom: 0;
}
.certificates-popup {
    width: 594px;
    left: 252px;
}
.certificates-popup .row .right{
    width: 390px;
}
.certificates-popup .title {
    margin-bottom: 0;
    margin-top: 24px;
}
.certificates-popup .title.no-margin {
    margin-top: 0;
}
.popup textarea {
    background-color: #ffffff;
    border: 1px solid #959595;
    padding: 12px 8px 12px 8px;
    width: 100%;
    color: #666666;
    font-style: italic;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
.popup .select-categories {
    float: left;
    width: 50%;
    text-align: left;
}
.popup .select-categories li {
    padding: 6px 0;
}
.popup .select-categories input {
    margin-right: 16px;
}
.popup .configuration-comment {
    color: #666666;
    font-style: italic;
    font-size: 14px;
}
#progress-bar-buttons .button {
    padding-left: 0;
    height: 28px;
    width: 100px;
    margin-top: -2px;
    margin-left: 8px;
    margin-bottom: 0px;
    border: 0 none transparent;
    cursor: pointer;
    background: transparent url(../img/button-blank.png) no-repeat scroll top right;
    font-size: 13px;
}
#progress-bar-buttons .button-apply {
    background-image: url(../img/button-purple-narrow-shadow.png);
    height: 30px;
    width: 96px;
    font-weight: bold;
    padding-bottom: 6px;
    color: #fff;
    margin-left: 0;
    margin-bottom: -4px;
    margin-top: 24px;
}
#progress-bar-buttons .button-cancel {
    background-image: url(../img/button-grey-narrow-shadow.png);
    height: 30px;
    width: 96px;
    margin-right: -2px;
    font-weight: bold;
    padding-bottom: 6px;
    color: #333;
    margin-bottom: -4px;
    margin-top: 24px;
}

#progress-bar-content2 p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 8px;
}
#progress-bar-buttons2 .button {
    padding-left: 0;
    height: 28px;
    width: 100px;
    margin-top: -2px;
    margin-left: 8px;
    margin-bottom: 0px;
    border: 0 none transparent;
    cursor: pointer;
    background: transparent url(../img/button-blank.png) no-repeat scroll top right;
    font-size: 13px;
}
#progress-bar-buttons2 .button-apply {
    background-image: url(../img/button-purple-narrow-shadow.png);
    height: 30px;
    width: 96px;
    font-weight: bold;
    padding-bottom: 6px;
    color: #fff;
    margin-left: 0;
    margin-bottom: -4px;
    margin-top: 24px;
}
#progress-bar-buttons2 .button-cancel {
    background-image: url(../img/button-grey-narrow-shadow.png);
    height: 30px;
    width: 96px;
    margin-right: -2px;
    font-weight: bold;
    padding-bottom: 6px;
    color: #333;
    margin-bottom: -4px;
    margin-top: 24px;
}
#progress-bar-box {
    background: #fff;
    height: 30px;
    text-align: left;
    border: 1px solid #dfdfdf;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-bottom:30px;
}

#progress-bar-image {
    width: 96px;
    height: 26px;
    margin: 2px 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px; /* future proofing */
    -khtml-border-radius: 2px; /* for old Konqueror browsers */
}

#progress-bar-content .popup-checkbox-group {
    float: left;
    width: 50%;
}

#progress-bar-content li {
    padding: 6px 0 6px 0;
}

#progress-bar-content .popup-checkbox-group .checkbox {
    float: none;
    margin: 1px 16px -1px 0;
}

#progress-bar-content2 .popup-checkbox-group {
    float: left;
    width: 50%;
}
#progress-bar-content2 .message {
    margin-top: 24px;
}
#progress-bar-content2 li {
    padding: 6px 0 6px 0;
}

#progress-bar-content2 .popup-checkbox-group .checkbox {
    float: none;
    margin: 1px 16px -1px 0;
}

#progress-bar-content2 textarea {
    background-color: #ffffff;
    border: 1px solid #959595;
    padding: 12px 8px 12px 8px;
    width: 346px;
    margin-top: 16px;
    margin-bottom: 5px;
    color: #666666;
    font-style: italic;
}

#progress-bar-content .configuration-comment {
    color: #666666;
    font-style: italic;
    font-size: 14px;
    padding-bottom: 20px;
}
#progress-bar-content2 .configuration-comment {
    color: #666666;
    font-style: italic;
    font-size: 14px;
    padding-bottom: 20px;
}

#progress-bar-thinking-box {
    width: 100%;
    text-align: center;
    margin-top: 24px;
}

#progress-bar-image {

}

#progress-bar-content .progress-bar-heading-success {
    font-weight: bold;
}

#progress-bar-content .progress-bar-error-heading {
    margin-top: 24px;
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 0;
}

#progress-bar-content .progress-bar-error-details {
    font-size: 14px;
    margin-bottom: 0;
}
#progress-bar-content .progress-bar-error-details-value {
    font-size: 14px;
    margin-bottom: 0;
    float: right;
    width: 180px;
}
#progress-bar-content2 .progress-bar-heading-success {
    font-weight: bold;
}

#progress-bar-content2 .progress-bar-error-heading {
    margin-top: 24px;
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 0;
}

#progress-bar-content2 .progress-bar-error-details {
    font-size: 14px;
    margin-bottom: 0;
}

.progress-bar-inputGroup {
    min-height: 28px;
    padding: 0 0 8px;
}

.progress-bar-inputGroupFirst {
    margin-top: 24px;
}

.progress-bar-inputGroupLast {
    padding-bottom: 0;
    min-height: 23px;
}

.progress-bar-inputGroup input {
    margin-top: -1px;
}

/*##########################################################################
        POPUP FOR FOLDER SELECTOR - It's called .folder-selector
##########################################################################*/

.folder-selector {
    border: 1px solid #d2d2d2;
    padding: 7px 0px 0px 0px;
    height: 241px;
    background-image: url(../img/folder-select-bg.png);
}

.folder-selector li {
    line-height: 1.4;
    height: 20px;
    padding: 6px 0 6px 34px;
    background: url(../img/folder-icon.png) no-repeat 10px 9px;
    text-align: left;
}

.folder-selector .up-one-level {
    background-image: url(../img/folder-up-one-level.png);
}

.folder-selector .folder-selected {
    background: url(../img/folder-icon.png) no-repeat 10px 9px, url(../img/folder-selected.png) no-repeat left top;
    margin-top: -1px;
    height: 21px;
}

.folder-selector .folder-none {
    font-style: italic;
    background-image: url(../img/folder-icon-none.png);
    color: #bbb;
}

/*##########################################################################
        POPUP FOR FILEEXPLORER - It's called .file-explorer
##########################################################################*/

#file-explorer-content {
    margin: 0 auto;
    background-color: #ffffff;
    text-align: left;
    background: #ffffff;
    width: 799px;
    padding: 34px 40px 40px 40px;
    height: auto;
}

#file-explorer-content p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 24px;
}

#file-explorer-columns {
    width: auto;
    /* background-color: #eee; */
    border-right: 1px solid #aaa;
    margin-bottom: 8px;
}

#file-explorer-content ul {
    float: left;
    width: 265px;
    border: 1px solid #aaa;
    border-right: 0 none transparent;
    padding: 7px 0 7px 0;
    height: 440px;
}

#file-explorer-content li {
    background: transparent url(../img/file-inactive.png) no-repeat scroll 245px 13px;
    font-size: 14px;
    padding: 10px 16px 7px 16px;
}

#file-explorer-content .explorer-selected {
    background: transparent url(../img/file-active.png) no-repeat scroll left 2px;
}

.popup-file-explorer {
    margin-left: -442px;
    top: 5px;
}

/*##########################################################################
        FAKE FILE UPLOAD
##########################################################################*/
#fileButton, #fileButtonUSB {
    float: right;
}
#fileButton .button, #fileButtonUSB .button {
    margin-top: 0 !important;
}
.qq-uploader { position:relative; width: 100%;
}

.qq-upload-button {border: 0 none transparent;
                   cursor: pointer;
                   height: 28px;
                   margin-bottom: 0;
                   margin-bottom: 0;
                   margin-left: 8px;
                   margin-top: -2px;
                   font-size: 13px;
}
.qq-upload-button-hover {}
.qq-upload-button-focus {outline:1px dotted black;}

.qq-upload-drop-area {
    position:absolute; top:0; left:0; width:100%; height:100%; min-height: 70px; z-index:2;
    background:#FF9797; text-align:center;
}
.qq-upload-drop-area span {
    display:block; position:absolute; top: 50%; width:100%; margin-top:-8px; font-size:16px;
}
.qq-upload-drop-area-active {background:#FF7171;}

.qq-upload-list {display: none !important;
}
.qq-upload-list li { margin:0; padding:0; line-height:15px; font-size:12px;}
.qq-upload-file, .qq-upload-spinner, .qq-upload-size, .qq-upload-cancel, .qq-upload-failed-text {
    margin-right: 7px;
}

.qq-upload-file {}
.qq-upload-spinner {display:inline-block; background: url("loading.gif"); width:15px; height:15px; vertical-align:text-bottom;}
.qq-upload-size,.qq-upload-cancel {font-size:11px;}

.qq-upload-failed-text {display:none;}
.qq-upload-fail .qq-upload-failed-text {display:inline;}


/*##########################################################################
        FOOTER
##########################################################################*/
#footerMenu {
    font-size: 13px;
    padding: 10px 0 10px 0;
    text-align: left;
    color: #888;
    line-height: 1.5;
    width: 734px;
    float: right;
    opacity: 0;
    -webkit-transition: opacity 0.3s ease-out;  /* Saf3.2+, Chrome */
    -moz-transition: opacity 0.3s ease-out;  /* FF4+ */
    -ms-transition: opacity 0.3s ease-out;  /* IE10 */
    -o-transition: opacity 0.3s ease-out;  /* Opera 10.5+ */
    transition: opacity 0.3s ease-out;
    padding-bottom: 60px;
}
#footerMenu:hover {
    opacity: 1;
}
.overview #footerMenu {
    width: 100%;
}

#footerMenu hr {
    border: 0;
    height: 1px;
    background: #ddd;
}

#footerMenu a {
    color: #666;
    font-size: 12px;
}

.firmwareVersion {
    font-size: 13px;
    text-align: right;
    color: #888;
    padding: 15px 0;
}

.greyItalic {
    color: #424242;
    font-size: 13px;
    font-style: italic;
}
.bigBold {
    font-weight: bold;
}
.ov01 {
    left: 118px;
    top: 319px;
}
.ov02 {
    left: 332px;
    top: 319px;
}
.ov03 {
    left: 578px;
    top: 319px;
}
.ov04 {
    left: 800px;
    top: 319px;
}
.ov05 {
    left: 76px;
    top: 370px;
}
.ov06 {
    left: 76px;
    top: 421px;
}
.ov06basic {
    left: 76px;
    top: 370px;
}
.ov07 {
    left: 536px;
    top: 370px;
}
.de .ov07 {
    top: 362px;
    width: 100px;
}
.ov08 {
    left: 765px;
    top: 370px;
}
.de .ov08 {
    top: 362px;
}
.ov09 {
    left: 765px;
    top: 421px;
}
.ov10 {
    left: 765px;
    top: 470px;
}
.oneMoreDevice {
    background: url("../img/overview-1-more-device.png") repeat scroll 0 0 transparent;
    cursor: pointer;
    font-size: 13px;
    height: 35px;
    width: 193px;
}
.oneMoreDevice span {
    left: 50px;
    position: absolute;
    top: -2px;
}
.moreDevices {
    background: url("../img/overview-4-more-devices.png") repeat scroll 0 0 transparent;
    cursor: pointer;
    font-size: 13px;
    height: 41px;
    width: 193px;
}
.moreDevices span {
    left: 72px;
    position: absolute;
    top: 4px;
}
#guestWifiTitle {
    background: url("../img/overview-guest-wifi-title.png") repeat scroll 0 0 transparent;
    height: 51px;
    margin-top: 10px;
    padding-top: 11px;
    width: 193px;
    font-weight: bold;
}
#phoneExpanded {
    background: url("../img/overview-hide-devices-phone.png") repeat scroll 0 0 transparent;
    width: 193px;
    height: 41px;
    cursor: pointer;
}
#phoneExpanded span {
    font-size: 13px;
    left: 40px;
    position: absolute;
    top: 3px;
}
#guestWifiExpanded {
    background: url("../img/overview-hide-devices.png") repeat scroll 0 0 transparent;
    width: 193px;
    height: 35px;
    cursor: pointer;
}
#guestWifiExpanded span {
    font-size: 13px;
    left: 40px;
    position: absolute;
    top: -2px;
}
#normalWifiExpanded {
    background: url("../img/overview-hide-devices.png") repeat scroll 0 0 transparent;
    width: 193px;
    height: 35px;
    cursor: pointer;
}
#normalWifiExpanded span {
    font-size: 13px;
    left: 40px;
    position: absolute;
    top: -2px;
}
.lteOverlay {
    left: 24px;
    position: absolute;
    top: 30px;
}

label.lessPadding {
    padding-right: 5px;
}
/*
.disabled {
        opacity: 0.5;
}
*/
#langSelector {
    font-size: 13px;
    padding: 15px 0;
}

#langSelector a {
    padding: 0 7px 0 0;
    margin: 0 7px 0 0;
}
#langSelector .line{ background:url(../img/language-links_line.jpg) no-repeat center right;}

#langAndFirmware {
    width: 940px;
    padding:0 10px;
    margin:auto;

}

.overview #langAndFirmware {
    width: 100%;
}

.hidden_menu
{
    float: left;
    margin-bottom: 10px;
    padding: 12px;
    width: 29.6%;
}

.hidden_menu_title
{
    font-weight: bold;
}

.hidden_menu ul, .hidden_menu li
{
    list-style-type: decimal;
}

#exitToPlayground
{
    text-align: right;
}

#exitToPlayground a
{
    font-weight: bold;
    font-size: 14px;
}

.lanSubnect-col1{
    float: left;
    width: 194px;
}
.button-cancel.disabled, .button-blank.disabled {
    color: rgb(192, 192, 192);
}
.passwordStrength {
    float: left;
    font-size: 11px;
    height: 16px;
    line-height: 15px;
    text-align: left;
    width: 14.2%;
}
.passwordStrength.strength0 {
    border-bottom: 4px solid #FF0000;
    width: 30%;
}
.passwordStrength.strength1 {
    border-bottom: 4px solid #FF0000;
    width: 43%;
}
.passwordStrength.strength2 {
    border-bottom: 4px solid #FFA500;
    width: 57.2%;
}
.passwordStrength.strength3 {
    border-bottom: 4px solid #FFA500;
    width: 71.5%;
}
.passwordStrength.strength4 {
    border-bottom: 4px solid #008000;
    width: 85.8%;
}
.passwordStrength.strength5 {
    border-bottom: 4px solid #008000;
    width: 100%;
}
