/* @override 
	http://192.168.69.28/rhein-vd/css/wifi.css */

#push-status-report a {
	display: block;
	width: 192px;
}

#dns-ddns {
	clear: both;
}

#status a {
	display: block;
	width: 192px;
}
#push-status-report a {
	display: block;
	width: 192px;
}
#push-status-report {
	clear: both;
}
#diagnostic-utility {
	clear: both;
}
/***** ACTUALLY NEW STUFF FOR WIFI SECTION *****/
/***** Because everything above is just copied and unchanged from status-and-support.css *****/

#wifiWrap div .h3Column1, #wifiWrap div .h3Column2 {
    background-color: #ffffff;
    border-bottom: 1px solid #dfdfdf;
	height: 27px;
    margin-bottom: 16px;
	padding: 6px 0 0;
    width: 194px;
}


#wifiWrap div .h3Column2 {
    float: right;
}

.wifiUnsecuredError {
    color: #EC9C1A;
    font-weight: bold;
}

/***** WDS Table styles from phone.css *****/

/* .tabbedTableWithHeading */
.tabbedTableWithHeading {
	table-layout: fixed; /* No automatic sizing of cell widths */
}
.tabbedTableWithHeading td .checkbox {
	margin-bottom: -6px;
}

/* .singleAdditionalLine */
.singleLineCells td, .singleLineCells th {
	height: 30px;
}

/***** Specific: Wifi/Timer *****/

#wifiWrap div .inputgroupcheckbox {
	/* background-color: #fcf; */
	clear: none;
	float: right;
	padding: 0 0 0 0;
	font-size: 14px;
	margin-top: 0;
	text-align: left;
	width: 202px;
}

#wifiWrap .inputgroupcheckbox input{
	float: none;
	margin-left: 8px;
	margin-top: 0;
	margin-right: 7px;
}

#wifiWrap div .inputGroupTimer {
	/* background-color: #fcf; */
	clear: none;
	float: right;
	padding: 0 0 0 0;
	font-size: 13px;
	width: 194px;
}

#wifiWrap .inputGroupTimer input {
	float: none;
	width: 44px; /* 192px */
}

#wifiWrap .inputGroupTimer .button-delete {
	float: right;
	width: 41px; /* 192px */
}

.radioTab {
	clear: none;
	float: left;
	font-size: 12px;
	margin-bottom: 12px;
	text-align: left;
	width: 191px;
	color: #888888;
}

.radioTab .radio-checked, .radioTab .radio-unchecked {
	margin: 3px 8px 0 0;
	float: left;
}

.radioTab span {
	
	width: 150px;
	color: #333333;
	display: inline-block;
	font-size: 14px;
}