.SWITCHER.DISABLED .SLIDER,
.fastaccess {
    display: none
}

.SWITCHER {
    position: relative;
    height: 8px;
    width: 30px;
    background: url(../image/gradient/switcher.gif) repeat-x;
    cursor: pointer;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px
}

.SWITCHER .SLIDER {
    position: absolute;
    height: 8px;
    width: 16px;
    top: -1px;
    left: -1px;
    border: 1px solid #c1c1c1;
    background: url(../image/gradient/switcher_on.gif) repeat-x;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px
}

.SWITCHER.OFF .SLIDER {
    left: auto;
    top: auto;
    bottom: -1px;
    right: -1px;
    border: 1px solid #ef9c00;
    background: url(../image/gradient/switcher_off.gif) repeat-x
}

.SWITCHER.V {
    height: 30px;
    width: 8px;
    background: url(../image/gradient/switcher_v.gif) repeat-y
}

.SWITCHER.V .SLIDER {
    height: 16px;
    width: 8px;
    background: url(../image/gradient/switcher_v_on.gif) repeat-y
}

.SWITCHER.V.OFF .SLIDER {
    background: url(../image/gradient/switcher_v_off.gif) repeat-y
}

.SWITCHER.DISABLED {
    cursor: default
}

.menuvert1 ul.popupmenu {
    border: 1px solid #C1C1C1;
    background: #FFF;
    white-space: nowrap;
    position: absolute;
    left: 0;
    top: 0;
    box-shadow: 1px 1px 5px #CCC;
    -moz-box-shadow: 1px 1px 5px #CCC;
    -webkit-box-shadow: 1px 1px 5px #CCC;
    display: none;
    padding: 0;
    margin: 0;
    list-style: none inside;
    -moz-user-select: none;
    -o-user-select: none;
    -khtml-user-select: none;
    font-size: 11px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px
}

#tip ul,
.lightUI.list,
.lightUI.list ul {
    list-style: none
}

.menuvert1 .popupmenu li.separator {
    border-top: 1px solid #CCC;
    margin: 3px
}

.menuvert1 .popupmenu li.item {
    padding: 3px 10px 3px 0;
    text-align: left
}

.menuvert1 .popupmenu li.item img[src=''] {
    visibility: hidden
}

.menuvert1 .popupmenu li.item:hover {
    background: #FFC;
    color: #004DC6
}

.menuvert1 .popupmenu li.item a {
    padding-top: 3px;
    text-decoration: none;
    border: none;
    font-size: 11px
}

.menuvert1 .popupmenu li.item a.disabled {
    color: #CCC
}

div.checkwan div.out {
    padding-bottom: 20px
}

div.checkwan div.description,
div.checkwan div.resume {
    font-style: italic;
    font-weight: 700;
    width: 600px
}

div.checkwan div.resume {
    padding-top: 10px
}

div.checkwan div.inetok {
    color: green
}

div.checkwan div.inetfail {
    color: red
}

.picable {
    float: left;
    margin-left: 80px
}

.picableInfo1 {
    width: 350px;
    float: left;
    margin-top: 12px
}

.picableInfo2 {
    width: 300px;
    float: left;
    margin-top: 6px
}

.wanBrConflict,
.wanGwifErr {
    margin: 5px;
    font-size: 14px;
    text-align: center;
    color: #e00;
    padding: 5px
}

.console {
    background: #000;
    border: 5px solid #000;
    padding: 5px 50px 5px 5px;
    margin: 10px 5px 0;
    overflow: scroll;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px
}

.console pre {
    color: #FFF;
    font-size: 12px;
    line-height: 1.2
}

.console.ping {
    height: 130px
}

.console.traceroute {
    height: 200px
}

.console.syslog {
    height: 440px;
    margin-top: 0
}

.lightUI.context.list {
    position: relative;
    z-index: 200000
}

.lightUI.context.list,
.lightUI.context.list ul {
    background: #EEE;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .5);
    max-width: 150px;
    min-width: 120px;
    margin: 0
}

.lightUI.context.list li>ul {
    position: relative;
    top: -18px
}

.lightUI.context.list li {
    background: 0 0;
    height: 12px
}

.lightUI.context.list li.collapsed,
.lightUI.context.list li.expanded {
    background: url(http://em.dlink.ru/emul/DIR-615DP1/image/nav-arrow-right.png) right center no-repeat
}

.lightUI.context.list li.last>.hitarea,
.lightUI.context.list li>.hitarea {
    background: 0 0;
    float: right
}

.groupWan,
div.editFloat {
    float: left
}

.lightUI.context.list li:hover {
    background: #39F;
    cursor: pointer
}

.lightUI.context.list li.__iam__delim {
    border-bottom: 1px solid #ddd;
    padding-bottom: 0;
    cursor: auto;
    height: 1px
}

div.decorSeparator {
    border-bottom: 1px solid #DDD;
    padding: 0;
    margin-top: 30px;
    margin-bottom: 10px
}

div.decorDescText {
    color: #AAA;
    font-size: 12px;
    text-shadow: none;
    font-style: italic;
    margin: 0;
    padding: 0 0 5px 10px
}

div.decorLabelText {
    color: #518413;
    font-size: 14px;
    font-weight: 700;
    padding: 0 0 2px 3px
}

div.decorLabelText font {
    color: auto;
    font-size: 14px;
    font-weight: 700;
    text-shadow: 1px 1px 0 #FFF
}

div.editSeparator {
    border-bottom: 1px solid #000;
    height: 16px;
    margin-bottom: 5px;
    padding: 2px
}

div.editSpacer {
    clear: both;
    padding: 2px
}

.editCell,
.editCell_100,
.editCell_120,
.editCell_140,
.editCell_20 .editCell_20,
.editCell_250,
.editCell_270,
.editCell_300,
.editCell_40,
.editCell_400,
.editCell_60,
.editCell_80,
.editCell_h {
    min-height: 19px;
    padding: 0 8px;
    text-align: left
}

div[class=editCell] label:hover {
    color: #004DC6
}

.editCellDisabled {
    font-style: italic;
    color: #888
}

.editCell_100 {
    width: 100px
}

.editIndent_20 {
    padding-left: 20px
}

.editClear {
    clear: both
}

.editErrorText {
    color: red;
    background: url(http://em.dlink.ru/emul/DIR-615DP1/image/errormarker.gif) no-repeat
}

.error-block {
    background: url(../image/warning-round-red.png) 2em 2em no-repeat #FFF;
    border: 1px solid #E5E5E5;
    border-radius: 5px;
    color: #555;
    margin: 90px auto;
    max-height: 150px;
    padding: 2em;
    width: 380px;
    position: relative
}

.error-block .title {
    border-bottom: 1px solid #DDD;
    color: #044476;
    margin: 0 0 0 4em;
    padding: 0 0 2px
}

.error-block .short-desc {
    border-bottom: 1px solid #ddd;
    margin: 0 0 1em 4em;
    padding: 1em 0
}

.error-block .long-desc {
    padding: 0 0 0 5em
}

.error-block .tryagain {
    text-align: right
}

.error-block .tryagain button {
    border: 1px solid #999;
    padding: 1px 6px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    cursor: pointer;
    color: #333;
    font-size: 12px;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlNWU1ZTUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+) #fff;
    background-image: -moz-linear-gradient(top, #fff 0, #e5e5e5 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff), color-stop(100%, #e5e5e5));
    background-image: -o-linear-gradient(top, #fff 0, #e5e5e5 100%);
    background-image: -ms-linear-gradient(top, #fff 0, #e5e5e5 100%);
    background-image: linear-gradient(top, #fff 0, #e5e5e5 100%)
}

.error-block .tryagain button:hover {
    border: 1px solid #777;
    color: #000;
    box-shadow: 1px 1px 1px #AAA;
    -moz-box-shadow: 1px 1px 1px #AAA;
    -webkit-box-shadow: 1px 1px 1px #AAA
}

#logo .fastbutton {
    border-bottom: 1px solid #8DCFF4;
    height: 40px;
    margin-bottom: 3px;
    padding-right: 160px;
    width: 75px
}

.fastaccess .trDown,
.fastaccess .trUp {
    position: absolute;
    border-style: dashed dashed solid;
    border-width: 0 18px 13px;
    height: 0;
    left: 82px;
    width: 0;
    z-index: 1
}

.fastaccess .trDown {
    border-color: transparent transparent #DDD;
    top: 3px
}

.fastaccess .trUp {
    border-color: transparent transparent #FFF;
    top: 5px
}

.fastaccess {
    position: absolute;
    padding-top: 15px;
    width: 300px;
    z-index: 999;
    left: -63px
}

#fastbutton {
    position: relative
}

.fastaccess.on {
    display: block
}

#fastaccess {
    background: #FFF;
    border: 2px solid #DDD;
    border-radius: 15px;
    box-shadow: 0 0 5px 2px #DDD;
    margin: 0;
    overflow-y: hidden;
    padding: 14px;
    text-align: center;
    white-space: normal
}

#fastaccess.two {
    width: auto;
    top: 20px;
    right: 250px;
    border-radius: 15px
}

.fastaccess .labelIcon {
    background: #FFF;
    border: 1px solid #D6F0FD;
    border-radius: 5px;
    max-width: 200px;
    padding: 4px;
    position: absolute;
    text-align: center;
    color: #00A8EC
}

#fastaccess .item {
    display: inline-block;
    text-align: center;
    width: 89px;
    position: relative
}

#fastaccess .item .aIcon {
    display: inline-block;
    font-size: 13px;
    margin: 8px 2px;
    outline: 0;
    text-align: center;
    color: #404040;
    text-decoration: none
}

#fastaccess .item .aIcon .icon {
    display: inline-block;
    height: 64px;
    vertical-align: top;
    width: 64px
}

#fastaccess .item .aIcon .caption {
    display: block;
    line-height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 79px
}

#fastaccess .item:hover .aIcon .caption {
    opacity: 0
}

#fastaccess .item.sw_save .aIcon .icon {
    background: url(../image/icon/save.png) center center no-repeat #fff
}

#fastaccess .item.sw_reboot .aIcon .icon {
    background: url(../image/icon/reboot_on.png) center center no-repeat #fff
}

#fastaccess .item.sw_reboot.off .aIcon .icon {
    background: url(http://em.dlink.ru/emul/DIR-615DP1/image/icon/reboot48x48_off.png) center center no-repeat #fff
}

#fastaccess .item.sw_backup .aIcon .icon {
    background: url(../image/icon/download.png) center center no-repeat #fff
}

#fastaccess .item.sw_backup.off .aIcon .icon {
    background: url(http://em.dlink.ru/emul/DIR-615DP1/image/icon/backup_off.png) center center no-repeat #fff
}

#fastaccess .item.sw_restore .aIcon .icon {
    background: url(../image/icon/upload.png) center center no-repeat #fff
}

#fastaccess .item.sw_restore.off .aIcon .icon {
    background: url(http://em.dlink.ru/emul/DIR-615DP1/image/icon/backup_off.png) center center no-repeat #fff
}

#fastaccess .item.sw_factory .aIcon .icon {
    background: url(../image/icon/factory_on.png) center center no-repeat #fff
}

#fastaccess .item.sw_factory.off .aIcon .icon {
    background: url(http://em.dlink.ru/emul/DIR-615DP1/image/icon/backup_off.png) center center no-repeat #fff
}

#fastaccess .item.sw_firmware .aIcon .icon {
    background: url(../image/icon/update_on.png) center center no-repeat #fff
}

#fastaccess .item.sw_firmware.off .aIcon .icon {
    background: url(http://em.dlink.ru/emul/DIR-615DP1/image/icon/backup_off.png) center center no-repeat #fff
}

#fastaccess .item.sw_logout .aIcon .icon {
    background: url(../image/icon/exit_on.png) center center no-repeat #fff
}

#fastaccess .item.sw_logout.off .aIcon .icon {
    background: url(../image/icon/exit_off.png) center center no-repeat #fff
}

#fastaccess .item.sw_wifi .aIcon .icon {
    background: url(../image/icon/wifi_on.png) center center no-repeat #fff
}

#fastaccess .item.sw_wifi.off .aIcon .icon {
    background: url(../image/icon/wifi_off.png) center center no-repeat #fff
}

#fastaccess .item.sw_wifi.loading .aIcon .icon {
    background: url(../image/icon/wifi_anim.gif) center center no-repeat #fff
}

#fastaccess .item.sw_flash .aIcon .icon {
    background: url(../image/icon/flash_on.png) center center no-repeat #fff
}

#fastaccess .item.sw_flash.disable .aIcon .icon {
    background: url(../image/icon/flash_off.png) center center no-repeat #fff
}

#fastaccess .item.sw_volume .aIcon .icon {
    background: url(../image/icon/vol_on.png) center center no-repeat #fff
}

#fastaccess .item.sw_volume.off .aIcon .icon {
    background: url(../image/icon/wifi_off.png) center center no-repeat #fff
}

.all_lans span.lan_label,
.all_lans span.wan_label {
    position: relative;
    font-weight: 700;
    font-size: 10px;
    padding: 1px 2px;
    top: 18px
}

.groupWan {
    border: 1px solid #666;
    -webkit-box-shadow: 10px 13px 23px -8px #000;
    box-shadow: 10px 13px 23px -8px #000;
    border-radius: 15px;
    height: 80px;
    width: 29%;
    margin: 11px;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjAuMjUiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjA1Ii8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
    background: -moz-linear-gradient(-45deg, rgba(0, 0, 0, .15) 0, rgba(0, 0, 0, .05) 100%);
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0, rgba(0, 0, 0, .15)), color-stop(100%, rgba(0, 0, 0, .05)));
    background: -webkit-linear-gradient(-45deg, rgba(0, 0, 0, .15) 0, rgba(0, 0, 0, .05) 100%);
    background: -o-linear-gradient(-45deg, rgba(0, 0, 0, .15) 0, rgba(0, 0, 0, .05) 100%);
    background: -ms-linear-gradient(-45deg, rgba(0, 0, 0, .15) 0, rgba(0, 0, 0, .05) 100%);
    background: linear-gradient(135deg, rgba(0, 0, 0, .15) 0, rgba(0, 0, 0, .05) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#40000000', endColorstr='#0d000000', GradientType=1)
}

.groupWan:hover {
    background-color: #fff
}

.customCheckbox {
    width: 48px;
    height: 78px;
    display: inline-block;
    cursor: pointer
}

.customCheckbox:hover {
    opacity: .65
}

.customCheckbox.dis:hover,
.customCheckbox.fiber.dis:hover,
.customCheckbox.wifi.dis:hover {
    opacity: 1
}

.customCheckbox.on {
    background: url(../image/eth_port_positive.png) no-repeat
}

.customCheckbox.off {
    background: url(../image/eth_port_negative.png) no-repeat
}

.customCheckbox.dis {
    background: url(../image/eth_port_disabled_red.png) no-repeat
}

.customCheckbox.wifi.on {
    background: url(../image/wifi_port_positive.gif) no-repeat
}

.customCheckbox.wifi.off {
    background: url(../image/wifi_port_negative.gif) no-repeat
}

.customCheckbox.wifi.dis {
    background: url(../image/wifi_port_disabled_red.gif) no-repeat
}

.customCheckbox input {
    display: none
}

.all_lans,
.dis_fw_lans,
.dis_lans {
    color: #000;
    display: inline-block;
    height: 48px;
    line-height: 6;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    width: 48px
}

.customCheckbox.fiber.on {
    background: url(http://em.dlink.ru/emul/DIR-615DP1/image/fiber_port_positive.png) no-repeat
}

.customCheckbox.fiber.off {
    background: url(http://em.dlink.ru/emul/DIR-615DP1/image/fiber_port_negative.png) no-repeat
}

.customCheckbox.fiber.dis {
    background: url(http://em.dlink.ru/emul/DIR-615DP1/image/fiber_port_disabled_red.png) no-repeat
}

.all_lans {
    background: url(../image/eth_port_positive.png) no-repeat
}

.dis_lans {
    background: url(../image/eth_port_negative.png) no-repeat
}

.dis_fw_lans {
    background: url(../image/eth_port_disabled.png) no-repeat
}

.all_lans span.wan_label {
    color: #fff;
    background: #2bb673;
    border-radius: 0 0 5px 5px
}

.fieldSetSlider {
    border-bottom: 1px solid #ddd;
    padding: 24px 0 0;
    margin-bottom: 10px
}

.fieldSetSlider>div {
    color: #518413;
    font-size: 14px;
    font-weight: 700;
    padding: 0 0 2px 10px
}

.filebrowser div.storage {
    background: url(http://em.dlink.ru/emul/DIR-615DP1/image/usb.gif) no-repeat;
    padding-left: 23px;
    min-height: 16px
}

.filebrowser .item {
    padding-left: 23px;
    height: 16px;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -o-user-select: none
}

.filebrowser .item>span {
    cursor: default
}

.filebrowser li>div.folder {
    background: url(http://em.dlink.ru/emul/DIR-615DP1/image/folder_close.gif) no-repeat
}

.filebrowser li.expanded>div.folder {
    background: url(http://em.dlink.ru/emul/DIR-615DP1/image/folder_open.gif) no-repeat
}

.filebrowser li>div.file {
    background: url(http://em.dlink.ru/emul/DIR-615DP1/image/file.png) no-repeat;
    cursor: default
}

.filebrowser li.wait>div.item {
    background: url(../image/wait.gif) no-repeat
}

.filebrowser li.error>div.item {
    background: url(../image/errorloader.gif) no-repeat
}

.filebrowser .file-info>div {
    text-align: left;
    float: left
}

.filebrowser .file-info .value {
    padding: 0 0 0 10px
}

.filebrowser .file-info .clean {
    clear: both;
    float: none
}

.filebrowser .hitarea,
.lightUI.list .hitarea {
    cursor: pointer;
    float: left;
    height: 16px;
    width: 16px
}

.filebrowser.lightUI.list div.selected {
    background-color: #396;
    color: #fff;
    font-weight: 700;
    text-shadow: none
}

.filebrowser .hitarea {
    background: url(http://em.dlink.ru/emul/DIR-615DP1/image/hitarea.gif) -80px -3px no-repeat;
    margin-left: -16px
}

.lightUI.list ul {
    margin: 0;
    padding: 0
}

.lightUI.list li {
    background: url(http://em.dlink.ru/emul/DIR-615DP1/image/listline.gif) no-repeat;
    margin: 0;
    padding: 3px 0 3px 16px
}

.lightUI.list li.expanded {
    background-position: 0 -176px
}

.lightUI.list li.last {
    background-position: 0 -1766px
}

.lightUI.list .hitarea {
    background: url(http://em.dlink.ru/emul/DIR-615DP1/image/hitarea.gif) -80px -3px no-repeat;
    margin-left: -16px
}

.lightUI.list li.expanded>.hitarea {
    background-position: -64px -25px
}

.file-info>div.clean {
    clear: both;
    float: none
}

#contentHelp,
.lightUI .upload .ubutton,
.lightUI .upload .ufile,
.selectex .s_ex_input {
    float: left
}

#tip {
    position: absolute;
    left: 0;
    top: 0;
    background: #000;
    display: none;
    cursor: default;
    opacity: .75;
    -moz-opacity: .75;
    -khtml-opacity: .75;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    box-shadow: 1px 1px 2px #555;
    -moz-box-shadow: 1px 1px 2px #555;
    -webkit-box-shadow: 1px 1px 2px #555
}

#tip .tip_content {
    font-size: 11px;
    padding: 5px 10px;
    margin: 0;
    white-space: nowrap;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    text-shadow: none;
    color: #fc0
}

#tip .tip_arrow {
    position: absolute;
    width: 10px;
    height: 10px
}

#tip.top .tip_arrow {
    bottom: -10px;
    left: 50%;
    margin-left: -5px;
    background: url(../image/tip_arrows.png) no-repeat
}

#tip.bottom .tip_arrow {
    top: -10px;
    left: 50%;
    margin-left: -5px;
    background: url(../image/tip_arrows.png) 0 -30px no-repeat
}

#tip.left .tip_arrow {
    right: -10px;
    top: 50%;
    margin-top: -5px;
    background: url(../image/tip_arrows.png) 0 -20px no-repeat
}

#tip.right .tip_arrow {
    left: -10px;
    top: 50%;
    margin-top: -5px;
    background: url(../image/tip_arrows.png) 0 -10px no-repeat
}

#tip ul li {
    padding: 0 4px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px
}

#tip ul li:hover {
    background: #222
}

#tip a {
    display: block;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 11px;
    color: #fff;
    text-decoration: none;
    line-height: 1.3
}

#tip a:hover {
    text-decoration: underline
}

#tip ul li a:hover,
.changeBoxLeft a,
.changeBoxRight a {
    text-decoration: none
}

.tip {
    display: none
}

td.changeBoxLeft,
td.changeBoxRight {
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none
}

td.changeBoxLeft {
    vertical-align: top
}

td.changeBoxRight {
    vertical-align: bottom
}

.changeBoxLeft a {
    background: url(../image/left_grey.gif) center no-repeat
}

.changeBoxRight a {
    background: url(../image/right_grey.gif) center no-repeat
}

.changeBoxDst,
.changeBoxSrc {
    min-width: 80px
}

.radio2 .name {
    font-weight: 700
}

.radio2 div div span {
    font-weight: 700;
    font-size: 12pt;
    padding: 0 30px
}

.radio2 ul {
    list-style-type: none;
    width: 90%;
    margin: 12px
}

.radio2 ul li {
    padding: 0;
    font-size: 12px
}

.radio2 ul li:hover {
    background: #F8F8F8;
    cursor: pointer
}

.radio2 ul li input {
    margin-right: 10px
}

.radio2 ul li div {
    color: #AAA;
    font-size: 11px;
    font-style: italic;
    font-weight: 400;
    margin-left: 20px;
    padding: 5px 25px
}

.grid>table,
table.gridTable {
    width: 99%;
    font-size: 12px;
    border: none
}

.grid>table thead tr,
.gridHeader {
    font-weight: 700;
    text-align: left;
    color: #00A8EC
}

.gridTable tr.disable {
    color: #aaa
}

.grid>table tbody tr.even,
.gridRow1 {
    background: #FCFCFC
}

.grid>table tbody tr.odd,
.gridRow2 {
    background: 0 0
}

.gridRowSel {
    background: #FFD;
    color: #F90
}

.grid>table td,
.gridHeader td,
.gridRow1 td,
.gridRow2 td,
.gridRowSel td {
    border-bottom: 1px dotted #CCC;
    border-left: 1px dotted #EEE;
    padding: 4px;
    text-align: center
}

.grid>table td:first-child,
.gridHeader td:first-child,
.gridRow1 td:first-child,
.gridRow2 td:first-child,
.gridRowSel td:first-child {
    border-left: none
}

.grid>table tbody tr:hover,
.gridRow1:hover,
.gridRow2:hover,
.gridRowSel:hover {
    background: #FFC;
    color: #004DC6
}

.grid>table tbody tr td.editable,
.grid>table tbody tr.clickable,
.gridTable tbody tr:not(.disable) {
    cursor: pointer
}

.grid>table tbody tr.selected {
    background: #FFA;
    color: #F90
}

.selectex {
    display: inline-block;
    position: relative
}

.selectex .s_ex_input input {
    width: 200px
}

.selectex .s_ex_btn {
    background: url(../image/selectex_btn.png) -5px 2px no-repeat;
    float: left;
    position: relative;
    left: -18px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none
}

.selectex .disabled {
    cursor: default
}

.selectex .box {
    width: 300px;
    display: none;
    background: #fff;
    border: 1px solid #C1C1C1;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    box-shadow: 1px 1px 5px #CCC;
    -moz-box-shadow: 1px 1px 5px #CCC;
    -webkit-box-shadow: 1px 1px 5px #CCC;
    position: absolute;
    padding: 20px 20px 20px 0;
    overflow: auto;
    z-index: 999;
    text-shadow: 1px 1px 0 #FFF;
    margin-top: -1px
}

.clear {
    clear: both
}

.menuvert1 ul.selectexItem {
    list-style: none inside;
    white-space: nowrap
}

.menuvert1 ul.selectexItem li {
    margin: 3px 3px 3px 25px;
    padding: 1px
}

.menuvert1 ul.selectexItem li.marked {
    background-color: #FFC
}

.menuvert1 ul.selectexItem li a {
    color: #333;
    font-size: 14px;
    padding-left: 24px;
    cursor: pointer;
    border: none
}

.menuvert1 ul.selectexItem li.branch_close,
.menuvert1 ul.selectexItem li.branch_open {
    background: url(../image/icon_blockcollapsed.gif) 0 2px no-repeat
}

.menuvert1 ul.selectexItem li.leaf a:hover {
    text-decoration: underline
}

.lightUI .trackbar>.shell {
    position: relative;
    margin: 0 32px 0 0;
    width: 240px;
    height: 2px
}

.lightUI .trackbar.vertical>.shell {
    margin: 32px 0 0;
    width: 2px;
    height: 240px
}

.lightUI .trackbar>.shell>.value {
    position: absolute;
    right: -40px;
    top: -4px;
    width: 32px;
    color: #AAA;
    font-size: 12px;
    text-align: left
}

.lightUI .trackbar.vertical>.shell>.value {
    left: -14px;
    top: -20px;
    text-align: center
}

.lightUI .trackbar.disable>.shell>.value {
    color: #CCC
}

.lightUI .trackbar>.shell>.rail {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #FFF;
    border: 1px solid #CCC;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px
}

.lightUI .trackbar.disable>.shell>.rail {
    border: 1px solid #EEE
}

.lightUI .trackbar>.shell>.rail>.tail {
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background: #EEE;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px
}

.lightUI .trackbar.vertical>.shell>.rail>.tail {
    left: 0;
    top: auto;
    bottom: 0;
    width: 100%;
    height: 0
}

.lightUI .trackbar>.shell>.rail>.toddler {
    position: absolute;
    left: 0;
    top: 0;
    width: 10px;
    height: 10px;
    margin: -5px 0 0 -5px;
    border: 1px solid #CCC;
    cursor: pointer;
    background: #EEE;
    background: -moz-linear-gradient(top, #fff 0, #f3f3f3 50%, #ededed 51%, #fff 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff), color-stop(50%, #f3f3f3), color-stop(51%, #ededed), color-stop(100%, #fff));
    background: -o-linear-gradient(top, #fff 0, #f3f3f3 50%, #ededed 51%, #fff 100%);
    background: -ms-linear-gradient(top, #fff 0, #f3f3f3 50%, #ededed 51%, #fff 100%);
    background: linear-gradient(to bottom, #fff 0, #f3f3f3 50%, #ededed 51%, #fff 100%);
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px
}

.lightUI .trackbar.vertical>.shell>.rail>.toddler {
    top: auto;
    left: 0;
    bottom: 0;
    margin: 0 0 -5px -5px
}

.lightUI .trackbar>.shell>.rail>.toddler:hover {
    box-shadow: 0 0 3px #CCC;
    -moz-box-shadow: 0 0 3px #CCC;
    -webkit-box-shadow: 0 0 3px #CCC
}

.lightUI .trackbar.disable>.shell>.rail>.toddler,
.lightUI .trackbar.disable>.shell>.rail>.toddler:hover {
    cursor: default;
    border: 1px solid #EEE;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none
}

.lightUI .upload {
    position: relative;
    display: inline-block
}

.lightUI .upload .ustatus {
    position: absolute;
    left: 1px;
    top: 1px;
    width: 24px;
    height: 24px;
    background: url(../image/upload.gif) center center no-repeat
}

.lightUI .upload.uploading .ustatus {
    background: url(../image/preload/b16.gif) center center no-repeat
}

.edit .input .upload .ufile input[type=text],
.lightUI .upload .ufile input {
    font-size: 12px;
    color: #777;
    padding: 0 4px 0 24px;
    width: 113px;
    height: 24px;
    background: url(../image/gradient/input.gif) repeat-x;
    border: 1px solid #C1C1C1;
    border-right: none;
    border-radius: 5px 0 0 5px;
    -moz-border-radius: 5px 0 0 5px;
    -webkit-border-radius: 5px 0 0 5px
}

.lightUI .upload .ubutton input {
    width: 70px;
    height: 26px;
    font-size: 12px;
    color: #555;
    text-shadow: 1px 1px 0 #FFF;
    cursor: pointer;
    text-align: center;
    background: url(../image/gradient/button.gif) left center repeat-x;
    border: 1px solid #C1C1C1;
    border-radius: 0 5px 5px 0;
    -moz-border-radius: 0 5px 5px 0;
    -webkit-border-radius: 0 5px 5px 0
}

.edit .input .upload .ufile input[type=text]:focus,
.lightUI .upload .ufile input:focus {
    border: 1px solid #A1A1A1;
    border-right: none
}

.edit .input .upload.disable .ufile input[disabled][type=text],
.edit .input .upload.disable .ufile input[disabled][type=text].validate,
.lightUI .upload.disable .ufile input {
    background: #FCFCFC;
    border: 1px solid #E9E9E9;
    border-right: none;
    color: #CCC;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none
}

.lightUI .upload .ubutton input:hover {
    background: url(../image/gradient/button_hover.gif) left center repeat-x;
    border: 1px solid #AAA
}

.lightUI .upload .ubutton input.cancel,
.lightUI .upload.uploading .ubutton input.browse {
    display: none
}

.lightUI .upload.uploading .ubutton input.cancel {
    display: block
}

#showerHelp,
.lightUI .upload-ie .ubutton,
.lightUI .upload-ie .ufile,
.lightUI .upload-ie form input[type=reset] {
    display: none
}

.lightUI .upload form,
.lightUI .upload iframe {
    position: absolute;
    left: -1000px;
    top: -1000px;
    width: 0;
    height: 0
}

.lightUI .upload-ie7 form,
.lightUI .upload-ie8 form {
    position: absolute;
    top: 0;
    filter: alpha(opacity=0);
    opacity: 0
}

.lightUI .upload-ie8 form {
    right: 150px;
    left: auto;
    width: 0;
    height: 0
}

.lightUI .upload-ie8 form input[type=file] {
    height: 30px;
    border: 600px solid;
    border-left-width: 600px
}

.lightUI .upload-ie7 form {
    right: 300px;
    left: auto;
    height: 0
}

.lightUI .upload-ie7 form input[type=file] {
    height: 30px;
    width: 100px;
    border: 30px solid;
    border-left-width: 100px
}

.lightUI .upload-ie form {
    top: auto;
    left: auto;
    width: auto;
    height: auto
}

#contentHelp font.fieldSetTitleLink,
#contentHelp input.fieldSetButton {
    cursor: pointer
}

#contentHelp font.fieldSetTitleText,
#showerHelp a,
font.fieldSetTitleLink {
    text-decoration: none;
    font-weight: 700;
    letter-spacing: -1px;
    vertical-align: middle
}

#closerHelp a,
#closerHelp:hover,
#showerHelp a {
    text-decoration: none
}

#contentHelp div. {
    background-color: #DCDCDC;
    background-image: none;
    border-left: 1px solid #9D9DA1;
    border-right: 1px solid #9D9DA1;
    border-top: 1px solid #9D9DA1;
    margin: 0;
    padding: 3px 0 3px 10px;
    text-align: left
}

#contentHelp,
#showerHelp {
    margin-left: 2%;
    height: 100%
}

#contentHelp div.fieldSetMainContentContainer {
    background-color: #FFF;
    border: 1px solid #9D9DA1;
    padding: 5px
}

#contentHelp div.fieldSetMainButtons {
    margin-top: 5px;
    padding: 2px;
    text-align: right
}

#contentHelp div.fieldSetMainContent {
    background-color: #FFF;
    border: 1px solid #C7C7C0;
    padding: 10px
}

#contentHelp font.fieldSetTitleText,
font.fieldSetTitleLink {
    color: #000
}

#contentHelp div.fieldSetSpacer {
    clear: both;
    padding: 3px
}

#contentHelp {
    width: 18%
}

#contentHelp a {
    color: #121212
}

#closerHelp {
    float: right;
    border: 0
}

#closerHelp img,
#closerHelp:hover {
    border: 0
}

#showerHelp {
    float: left;
    width: 8%;
    margin-right: 2%
}

#showerHelp img,
#showerHelp img:hover {
    border: none
}

#showerHelp .fieldSetMainPath {
    border-bottom: 1px solid #9D9DA1
}

#showerHelp a {
    color: #000;
    font-family: tahoma, sans-serif;
    font-size: 8pt;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 10%;
    display: block;
    background-color: #DCDCDC;
    border: 1px solid #9D9DA1
}

#showerHelp a img {
    float: right;
    margin-right: 4px
}

#contentHelp li {
    margin-left: 30px
}

h3.help-title {
    margin-bottom: 10px
}

table.help-params td {
    padding: 5px
}