@charset "utf-8";


/***** Container + Headings *****/

#inner-wrap > article {
	min-height: 474px;
	float: right;
	background: #FFF url(../img/overview/Overview_bg.jpg) no-repeat top right;
	color: #333;
		border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;

}
h1 {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	color: #0089d8;
	font-size: 24px;
	line-height: 1;
	margin-bottom: 32px;
}
h1.not{font-size: 20px;color: #fff;margin-bottom:0;}
#topBarLeft h1{	color:#FFF;}
h1.padding-bottom {
	
}

#content h2 {
	font-size: 14px;
	font-weight: normal;
	line-height: 20px;
	color: #333;
	margin-bottom: 32px;
}

h3 {
	font-size: 14px;
	line-height: 14px;
	display: block;
	background-color: #f4f4f4;
	padding: 13px 16px 13px 16px;
	margin-bottom: 16px;
	color:#0089D8;
}
.font12 {
	font-size: 12px;
}


.hidden1, .hidden2 {
	display: none;
}


/***** Layout *****/

.row:after {
	clear: both;
	content: '';
	display: table;
}
.h3-content {
	padding: 0 0 32px 0;
	font-size: 14px;
	line-height: 20px; 
}
.h3-content.no-padding-bottom, .row.no-padding-bottom {
	padding-bottom: 0;
}
h3.margin-top {
	margin-top: 32px;
}
.h3-content .row, .popup .row, .sharing-table .row{
	padding: 5px 0 5px 0;
	height: 28px;
	border-bottom: 1px solid #DFDFDF;
}
.h3-content .timeAdd{ border:none;}
.h3-content .add-row,.sharing-table .add-row,.add-row{ border:none;}
.row.big {
	height: auto;
}
.row.big-padding-bottom {
	padding-bottom: 32px;
}
.row.grey {
	color: #888888;
}
.rowGroup {
	clear: right;
	height: 28px;
    padding: 0 0 8px;
}
.certificates-popup .row {
	height: 16px;
}
.apply-cancel {
	position: absolute; bottom: 70px; right:50px;
}
.product1 .apply-cancel, .product3 .apply-cancel {
	position: static;
	bottom: auto;
	right: auto;
}
.product1 #content, .product3 #content {
	padding-bottom: 74px;
	min-height: 364px;
}
.left.fixed-width {
	width: 480px;
	padding:5px 0;
}
.h3-content .radio, .popup .radio {
	margin: 0 8px 0 32px;
}
.h3-content.margin-top {
	margin-top: 32px;
}



/* tables */
.table {
	font-size: 14px;
}
.table.big-padding-bottom {
	padding-bottom: 32px;
}
.table-row {
	height: 30px;
	line-height:30px;
	padding-top: 6px;
	border-bottom: 1px solid #DFDFDF;
	padding:4px 0;
}
.table-row:after {
  content: "";
  display: table;
  clear: both;
}
.add-row {
	/* margin-top: 24px; */
	text-align: right;
}
/*.button-row .right, .apply-cancel div.right, .add-row div.right {
	padding: 3px;
}*/
.button-row .right:first-of-type, .apply-cancel div.right:first-of-type {
	padding-right: 0px;
}
.table-row-head {
	border-bottom: 1px solid #DFDFDF;
	font-weight: bold;
}
.table-col {
	float: left;
}
.table.port-mapping {
	
}
.table.port-mapping .table-row {
}
.table.port-mapping .table-col:nth-child(1) {
	width: 156px;
}
.table.port-mapping .table-col:nth-child(2) {
	width: 74px;
}
.table.port-mapping .table-col:nth-child(3) {
	width: 93px;
}
.table.port-mapping .table-col:nth-child(4) {
	width: 100px;
}
.table.port-mapping .table-col:nth-child(5) {
	width: 30px;
}
.table.port-mapping .table-col:nth-child(6) {
	width: 30px;
}
.table.port-mapping .table-col:nth-child(7) {
	width: 90px;
}
.table.exposed-host .table-col:nth-child(2) {
	width: 210px;
}
.table.port-mapping .table-row.inactive {
	opacity: 0.5;
}
.product16 .table.port-mapping .table-col:nth-child(1), .product18 .table.port-mapping .table-col:nth-child(1) {
	width: 126px;
}
.product16 .table.port-mapping .table-col:nth-child(2), .product18 .table.port-mapping .table-col:nth-child(2) {
	width: 96px;
}
.product16 .table.port-mapping .table-col:nth-child(3), .product18 .table.port-mapping .table-col:nth-child(3) {
	width: 59px;
}
.product16 .table.port-mapping .table-col:nth-child(4), .product18 .table.port-mapping .table-col:nth-child(4) {
	width: 74px;
}
.product16 .table.port-mapping .table-col:nth-child(5), .product18 .table.port-mapping .table-col:nth-child(5) {
	width: 68px;
	padding-top: 0;
}
.product16 .table.port-mapping .table-col:nth-child(6), .product18 .table.port-mapping .table-col:nth-child(6) {
	width: 30px;
}
.product16 .table.port-mapping .table-col:nth-child(7), .product18 .table.port-mapping .table-col:nth-child(7) {
	width: 30px;
}
.product16 .table.port-mapping .table-col:nth-child(8), .product18 .table.port-mapping .table-col:nth-child(8) {
	width: 90px;
}

.product16 .table.port-triggering .table-col:nth-child(1), .product18 .table.port-triggering .table-col:nth-child(1) {
	width: 111px;
}
.product16 .table.port-triggering .table-col:nth-child(2), .product18 .table.port-triggering .table-col:nth-child(2) {
	width: 86px;
}
.product16 .table.port-triggering .table-col:nth-child(3), .product18 .table.port-triggering .table-col:nth-child(3) {
	width: 68px;
}
.product16 .table.port-triggering .table-col:nth-child(4), .product18 .table.port-triggering .table-col:nth-child(4) {
	width: 88px;
}
.product16 .table.port-triggering .table-col:nth-child(5), .product18 .table.port-triggering .table-col:nth-child(5) {
	width: 70px;
}
.product16 .table.port-triggering .table-col:nth-child(6), .product18 .table.port-triggering .table-col:nth-child(6) {
	width: 30px;
}
.product16 .table.port-triggering .table-col:nth-child(7), .product18 .table.port-triggering .table-col:nth-child(7) {
	width: 30px;
}
.product16 .table.port-triggering .table-col:nth-child(8), .product18 .table.port-triggering .table-col:nth-child(8) {
	width: 90px;
}


.product19 .table.port-mapping .table-col:nth-child(1), .product18 .table.port-mapping .table-col:nth-child(1) {
	width: 126px;
}
.product19 .table.port-mapping .table-col:nth-child(2), .product18 .table.port-mapping .table-col:nth-child(2) {
	width: 96px;
}
.product19 .table.port-mapping .table-col:nth-child(3), .product18 .table.port-mapping .table-col:nth-child(3) {
	width: 59px;
}
.product19 .table.port-mapping .table-col:nth-child(4), .product18 .table.port-mapping .table-col:nth-child(4) {
	width: 74px;
}
.product19 .table.port-mapping .table-col:nth-child(5), .product18 .table.port-mapping .table-col:nth-child(5) {
	width: 68px;
	padding-top: 0;
}
.product19 .table.port-mapping .table-col:nth-child(6), .product18 .table.port-mapping .table-col:nth-child(6) {
	padding-top: 2px;
	width: 30px;
}
.product19 .table.port-mapping .table-col:nth-child(7), .product18 .table.port-mapping .table-col:nth-child(7) {
	padding-top: 2px;
	width: 30px;
}
.product19 .table.port-mapping .table-col:nth-child(8), .product18 .table.port-mapping .table-col:nth-child(8) {
	width: 90px;
}

.product19 .table.port-triggering .table-col:nth-child(1), .product18 .table.port-triggering .table-col:nth-child(1) {
	width: 111px;
}
.product19 .table.port-triggering .table-col:nth-child(2), .product18 .table.port-triggering .table-col:nth-child(2) {
	width: 86px;
}
.product19 .table.port-triggering .table-col:nth-child(3), .product18 .table.port-triggering .table-col:nth-child(3) {
	width: 68px;
}
.product19 .table.port-triggering .table-col:nth-child(4), .product18 .table.port-triggering .table-col:nth-child(4) {
	width: 88px;
}
.product19 .table.port-triggering .table-col:nth-child(5), .product18 .table.port-triggering .table-col:nth-child(5) {
	width: 70px;
	padding-top: 0;
}
.product19 .table.port-triggering .table-col:nth-child(6), .product18 .table.port-triggering .table-col:nth-child(6) {
	padding-top: 2px;
	width: 30px;
}
.product19 .table.port-triggering .table-col:nth-child(7), .product18 .table.port-triggering .table-col:nth-child(7) {
	padding-top: 2px;
	width: 30px;
}
.product19 .table.port-triggering .table-col:nth-child(8), .product18 .table.port-triggering .table-col:nth-child(8) {
	width: 90px;
}


.es-es .table.port-triggering .table-row {
	height: auto;
}
.es-es .table.port-triggering .table-col:nth-child(1) {
	width: 111px;
}
.es-es .table.port-triggering .table-col:nth-child(2) {
	width: 86px;
}
.es-es .table.port-triggering .table-col:nth-child(3) {
	width: 68px;
}
.es-es .table.port-triggering .table-col:nth-child(4) {
	width: 88px;
}
.es-es .table.port-triggering .table-col:nth-child(5) {
	width: 70px;
	padding-top: 0;
}
.es-es .table.port-triggering .table-col:nth-child(6) {
	padding-top: 2px;
	width: 30px;
}
.es-es .table.port-triggering .table-col:nth-child(7) {
	padding-top: 2px;
	width: 30px;
}
.es-es .table.port-triggering .table-col:nth-child(8) {
	width: 90px;
}


.es-es .table.port-mapping .table-row-head {
	height: auto;
}
.es-es .table.port-mapping .table-row {
	height: auto;
}
.es-es .table.port-mapping .table-col:nth-child(1) {
	width: 106px;
}
.es-es .table.port-mapping .table-col:nth-child(2) {
	width: 106px;
}
.es-es .table.port-mapping .table-col:nth-child(3) {
	width: 69px;
}
.es-es .table.port-mapping .table-col:nth-child(4) {
	width: 64px;
	padding-right: 10px;
}
.es-es .table.port-mapping .table-col:nth-child(5) {
	padding-top: 2px;
	width: 68px;
}
.es-es .table.port-mapping .table-col:nth-child(6) {
	padding-top: 2px;
	width: 30px;
}
.es-es .table.port-mapping .table-col:nth-child(7) {
	width: 30px;
}


/* QoS Table */
.table.qos-table .table-row {
	height: 24px;
	padding-top: 6px;
}
.table.qos-table .table-col:nth-child(1) {
	width: 125px;
}
.table.qos-table .table-col:nth-child(2) {
	width: 150px;
}
.table.qos-table .table-col:nth-child(3) {
	width: 130px;
}
.table.qos-table .table-col:nth-child(4) {
	width: 122px;
}
.table.qos-table .table-col:nth-child(5) {
	width: 25px;
}

/* QoS Table */
.table.qos-two-table .table-row {
	height: 24px;
	padding-top: 6px;
}
.table.qos-two-table .table-col:nth-child(1) {
	width: 125px;
}
.table.qos-two-table .table-col:nth-child(2) {
	width: 150px;
}

/* QoS Table */
.es-es .table.qos-table .table-row {
	height: 24px;
	padding-top: 6px;
}
.es-es .table.qos-table .table-col:nth-child(1) {
	width: 75px;
}
.es-es .table.qos-table .table-col:nth-child(2) {
	width: 198px;
}
.es-es .table.qos-table .table-col:nth-child(3) {
	width: 130px;
}
.es-es .table.qos-table .table-col:nth-child(4) {
	width: 122px;
}
.es-es .table.qos-table .table-col:nth-child(5) {
	width: 25px;
}

/* QoS Table */
.product16 .table.qos-table .table-row {
	height: 24px;
	padding-top: 6px;
}
.product16 .table.qos-table .table-col:nth-child(1) {
	width: 125px;
}
.product16 .table.qos-table .table-col:nth-child(2) {
	width: 150px;
}
.product16 .table.qos-table .table-col:nth-child(3) {
	width: 130px;
}
.product16 .table.qos-table .table-col:nth-child(4) {
	width: 145px;
}
.product16 .table.qos-table .table-col:nth-child(5) {
	width: 20px;
}

.product19 .table.qos-table .table-row {
	height: 24px;
	padding-top: 6px;
}
.product19 .table.qos-table .table-col:nth-child(1) {
	width: 125px;
}
.product19 .table.qos-table .table-col:nth-child(2) {
	width: 150px;
}
.product19 .table.qos-table .table-col:nth-child(3) {
	width: 130px;
}
.product19 .table.qos-table .table-col:nth-child(4) {
	width: 145px;
}
.product19 .table.qos-table .table-col:nth-child(5) {
	width: 20px;
}

.table.certificates {
	font-size: 13px;
}
.table.certificates .table-row {
}
.table.certificates .table-col:nth-child(1) {
	width: 196px;
}
.table.certificates .table-col:nth-child(2) {
	width: 234px;
}
.table.certificates .table-col:nth-child(3) {
	width: 83px;
}
.table.certificates .table-col:nth-child(4) {
	width: 30px;
}
.table.certificates .table-col:nth-child(5) {
	width: 30px;
}



.table.url-filtering {
	font-size: 13px;
}
.table.url-filtering .table-row {
}
.table.url-filtering .table-col:nth-child(1) {
	float: left;
}
.table.url-filtering .table-col:nth-child(2) {
	float: right;
}



.table.access-control {
	font-size: 13px;
}
.table.access-control .table-row.inactive .table-col:nth-child(1), .table.access-control .table-row.inactive .table-col:nth-child(2), .table.access-control .table-row.inactive .table-col:nth-child(3) {
	opacity: 0.5;
}
.table.access-control .table-col:nth-child(1) {
	width: 110px;
}
.table.access-control .table-col:nth-child(2) {
	width: 130px;
}
.table.access-control .table-col:nth-child(3) {
  width: 140px;
}
.table.access-control .table-col:nth-child(4) {
  width: 70px;
}
.table.access-control .table-col:nth-child(5) {
  width: 60px;
}
.table.access-control .table-col:nth-child(6) {
	width: 30px;
	text-align: right;
}
.table.access-control .table-col:nth-child(7) {
	width: 30px;
	text-align: right;
}


.table.wds {
	font-size: 13px;
}
.table.wds .table-row {
}
.table.wds .table-col:nth-child(1) {
	width: 194px;
}
.table.wds .table-col:nth-child(2) {
	width: 166px;
}
.table.wds .table-col:nth-child(3) {
	width: 80px;
}
.table.wds .table-col:nth-child(4) {
	width: 102px;
}
.table.wds .table-col:nth-child(5) {
	width: 80px;
	text-align: right;
}
.table.wds .table-col:nth-child(5) span{ display:block; text-align:center;}
.table.wds .table-col:nth-child(5) .checkbox, .linked .checkbox {
	margin-left: 6px;
}
.table.wds .mac-address {
	width: 348px !important;
}
.table.wds .linked {
	text-align: right;
}
.table.wds .no-entry .table-col {
	width: 100%;
	text-align: center;
}


.table.messages .table-row {
	height: 34px;
	padding-top: 6px;
}
.table.messages .table-col:nth-child(1) {
	width: 40px;
}
.table.messages .table-col:nth-child(2) {
	width: 90px;
}
.table.messages .table-col:nth-child(3) {
	width: 60px;
}
.table.messages .table-col:nth-child(4) {
	width: 110px;
}
.table.messages .table-col:nth-child(5) {
	width: 230px;
}


.table.call-log-popup .table-col:nth-child(1) {
	width: 238px;
}
.table.call-log-popup .table-col:nth-child(2) {
	width: 152px;
}
.table.call-log-popup .table-col:nth-child(3) {
	width: 42px;
	text-align: right;
}
/*
.product16 .table.call-log .table-col:nth-child(5), .product18 .table.call-log .table-col:nth-child(5) {
	display: none;
}
.product16 .table.call-log .table-col:nth-child(3), .product18 .table.call-log .table-col:nth-child(3) {
	width: 140px;
}
.product16 .table.call-log .table-col:nth-child(4), .product18 .table.call-log .table-col:nth-child(4) {
	width: 200px;
}
.product16 .table.call-log .table-col:nth-child(6), .product18 .table.call-log .table-col:nth-child(6) {
	width: 80px;
}
*/
.product19 .table.call-log .table-col:nth-child(5), .product18 .table.call-log .table-col:nth-child(5) {
	display: none;
}
.product19 .table.call-log .table-col:nth-child(3), .product18 .table.call-log .table-col:nth-child(3) {
	width: 140px;
}
.product19 .table.call-log .table-col:nth-child(4), .product18 .table.call-log .table-col:nth-child(4) {
	width: 200px;
}
.product19 .table.call-log .table-col:nth-child(6), .product18 .table.call-log .table-col:nth-child(6) {
	width: 80px;
}


.table.dhcp .table-row {

}
.table.dhcp .table-col:nth-child(1) {
	width: 126px;
}
.table.dhcp .table-col:nth-child(2) {
	width: 246px;
}
.table.dhcp .table-col:nth-child(3) {
	width: 180px;
}
.table.dhcp .table-col:nth-child(4) {
	width: 22px;
	float: right;
	text-align: right;
}

.dhcp select {
	width: 120px;
}

.table.ipv4 .table-col:nth-child(1) {
	width: 126px;
}
.table.ipv4 .table-col:nth-child(2) {
	width: 276px;
}
.table.ipv4 .table-col:nth-child(3) {
	width: 205px;
}
.table.ipv4 .table-col:nth-child(4) {
	width: 22px;
	float: leftt;
}


.table.ipv4.product1.product3 .table-col:nth-child(1) {
	width: 240px;
}
.table.ipv4.product1.product3 .table-col:nth-child(2) {
	width: 246px;
}
.table.ipv4.product1.product3 .table-col:nth-child(3) {
	width: 41px;
	float: right;
	text-align: right;
}

.ipv4 select {
	width: 120px;
}

.table.ipv6 .table-col:nth-child(1) {
	width: 126px;
}
.table.ipv6 .table-col:nth-child(2) {
	width: 405px;
}
.table.ipv6 .table-col:nth-child(3) {
	width: 41px;
}
.table.ipv6 .table-col:nth-child(2) input {
	width: 260px;
}

.gatewayCol{
	width: 260px;
}
.ipv6 select {
	width: 120px;
}

.table.call-log {
	padding: 10px 0 0 16px;
	margin-bottom: 32px;
}
.table.call-log .table-row {
	height: 38px;
	padding-top: 12px;
	border-bottom:#dcdcdc 1px solid;
}
.table.call-log .table-row-head {
	line-height: 24px;
	font-weight:bold;
}
.table.call-log .table-col:nth-child(1) {
	width: 30px;
	margin-top: -4px;
}
.table.call-log .table-col:nth-child(2) {
	width: 90px;
}
.table.call-log .table-col:nth-child(3) {
	width: 80px;
}
.table.call-log .table-col:nth-child(4) {
	width: 170px;
}
.table.call-log .table-col:nth-child(5) {
	width: 120px;
}
.table.call-log .table-col:nth-child(6) {
	width: 60px;
}
.table.call-log .table-col:nth-child(7) {
	width: 22px;
}
.table.call-log .table-col:nth-child(8) {
	width: 30px;
	text-align: right;
}
.call-log .divDoubleLine p {
	color: #888888;
	font-size: 11px;
	line-height: 1;
	margin-top: 2px;
}

.am-pm {
	width: 54px;
}

.table.contacts {
	
}
.table.contacts .table-row {
	height: 31px;
}
.table.contacts .table-row-head {
	line-height: 24px;
	font-weight:bold;
}
.table.contacts .table-col:nth-child(1) {
	width: 241px;
}
.table.contacts .table-col:nth-child(2) {
	width: 170px;
}
.table.contacts .table-col:nth-child(3) {
	width: 120px;
}
.table.contacts .table-col:nth-child(4) {
	width: 40px;
	text-align: right;
}
.table.contacts .table-col:nth-child(5) {
	width: 30px;
	text-align: right;
}
.second .name {
	opacity: 0;
}


.sharing-table {
	border:2px solid #F4F4F4;
	font-size: 14px;
	line-height: 20px;
	padding: 10px 20px;
	margin:10px 0 0 0;
}
.sharing-table .line-bottom {
	border-bottom: 1px solid #DFDFDF;
	margin-bottom: 8px;
	padding-bottom: 0px;
}
.sharing-table .folder-name {
	width: 208px;
}
.sharing-table .folder-path {
	font-size: 12px;
	color: #666666;
}

.marginDrop{
	text-align: right;
	width: 210px;
}

/*
 *
 * checkbox / button etc
 *
 *
 */
 .max2 {
 	width: 26px;
 }
 .max3 {
 	width: 31px;
 }
 .max4 {
 	width: 36px;
 }
 .max5 {
 	width: 44px;
 }
  input {
 	padding-left: 8px;
 	border: 1px solid #dfdfdf;
 	height: 28px;
 	font-size: 13px;
 	background-color: #ffffff;
 	width: 184px;
	margin-left:5px;
	-webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
 }
 
 .input-example {
 	font-style: italic;
 	color: #888;
 }
 
 .input-error {
 	background-color: #fff2f2;
 	color: #bd0000;
 	border-color: #bd0000;
 }
 .input-message {
 	background-color: #FEFCEC;
 	border: 1px solid #F6B03F;
 }
  .input-message-error {
	background-color: #FFF2F2;
	border: 1px solid #BD0000;
}

.apply-cancel-margin-top {
	margin-top: 32px;
}
 
 select {
 	height: 24px;
 	padding-left: 4px;
 	width: 194px;
 	padding-top: 2px;
 	font-size: 13px;	
	border: 1px solid #DFDFDF;
 }
 
 option {
 	padding: 4px 8px 4px 8px;
 }
 
 .button-on-off {
 	position: relative;
 	width: 80px;
 	overflow: hidden;
 	-webkit-border-radius: 4px;
 	border-radius: 4px;
 	height: 28px;
 }
 .button-on-off .button-slider {
 	-webkit-transition: all 0.3s ease-out;
 	-moz-transition: all 0.3s ease-out;
 	-o-transition: all 0.3s ease-out;
 	transition: all 0.3s ease-out; 
 	position: absolute;
 	top: 0;
 	width: 119px;
 	height: 28px;
 }
 .button-on-off.on .button-slider {
 	left: 0;
 }
 .button-on-off.off .button-slider {
 	left: -39px;
 }
 .button {
 	height: 30px;
 	width: 100px;
 	margin: 0;
 	border: 0 none transparent;
 	cursor: pointer;
 	background: transparent url(../img/button-blank.png) no-repeat scroll top right;
 	padding: 0;
 	font-size: 13px;
	margin-right:5px;
 }
.checkbox-unchecked {
	width: 24px;
	height: 24px;
	margin-top: 0px;
	background-image: url(../img/checkbox-unchecked.png);
}
.checkbox-unchecked:active {
	background-image: url(../img/checkbox-unchecked-pressed.png);
}
.checkbox-unchecked2:active {
	background-image: url(../img/checkbox-unchecked-pressed.png) !important;
}

.checkbox-checked {
	width: 24px;
	height: 24px;
	margin-top: 0px;
	background-image: url(../img/checkbox-checked.png);
}
.checkbox-checked:active {
	background-image: url(../img/checkbox-checked-pressed.png);
}
.checkbox-checked2:active {
	background-image: url(../img/checkbox-checked-pressed.png) !important;
}

.radio-unchecked {
	width: 24px;
	height: 24px;
	padding-top: -8px;
	background-image: url(../img/radio-unchecked.png);
}

.radio-checked {
	width: 24px;
	height: 24px;
	padding-top: -8px;
	background-image: url(../img/radio-checked.png);
}

.button-blank {
	font-weight: bold;
	width: 150px;
	background-image: url(../img/button-grey-wide-shadow.png);
	height: 30px;
	color: #333;
	margin: 0 0 0 5px;
}

.button-blank:active {
	background-image: url(../img/button-grey-wide-pressed.png);
}

.button-mediumwidth {
	background-image: url(../img/button-grey-narrow-shadow.png);
	width: 100px;
}

.button-mediumwidth:active {
	background-image: url(../img/button-grey-pressed.png);
}

#content a{
	color: #000000;
}

.button-on {
	width: 70px;
	background-image: url(../img/button-on.png);
}
.de .button-on {
	background-image: url(../img/button-on_DE.png) !important;
}

.button-off {
	width: 70px;
	background-image: url(../img/button-off.png);
}
.de .button-off {
	background-image: url(../img/button-off_DE.png) !important;
}

.button-eject {
	width: 30px;
	height:24px;
	background-image: url(../img/button-eject.png);
}
.button-eject:active {
	background-image: url(../img/button-eject-pressed.png);
}

.button-delete {
	width: 40px;
	background-image: url(../img/button-delete.png);
}
.button-delete:active {
	background-image: url(../img/button-delete-pressed.png);
}

.button-delete-small {
	width: 30px;
	height: 24px;
	margin-top: 0px;
	background-image: url(../img/button-delete-small.png);
}

.button-delete-small:active {
	background-image: url(../img/button-delete-small-pressed.png);
}

.button-edit-small {
	width: 30px;
	height: 24px;
	margin-top: 0px;
	background-image: url(../img/button-edit-small.png);
}
.button-edit-small:active {
	background-image: url(../img/button-edit-small-pressed.png);
}

.button-add {
	width: 70px;
	background-image: url(../img/button-add.png);
	height: 28px;
}
.button-add:active {
	background-image: url(../img/button-add-pressed.png);
}

.button-add-small {
	width: 70px;
	height: 28px;
	margin-top: 0px;
	background-image: url(../img/button-add.png);
}
.button-add-small:active {
	background-image: url(../img/button-add-pressed.png);
}

.button-play-large {
	width: 41px;
	background-image: url(../img/button-play-large.png);
}
.button-play-large:active {
	background-image: url(../img/button-play-large-pressed.png);
}

.button-play-small {
	width: 22px;
	height: 22px;
	margin-top: 0px;
	background-image: url(../img/button-play-small.png);
}

.button-play-small:active {
	background-image: url(../img/button-play-small-pressed.png);
}

.button-stop-small {
	width: 22px;
	height: 22px;
	margin-top: 0px;
	background-image: url(../img/button-stop-small.png);
}
.button-stop-small:active {
	background-image: url(../img/button-stop-small-pressed.png);
}



.button-apply {
	background-image: url(../img/button-purple-narrow-shadow.png);
	height: 30px;
	width: 100px;
	font-weight: bold;
	color: #fff;
	margin: 0 0 0 5px;
}

.button-cancel {
	background-image: url(../img/button-grey-narrow-shadow.png);
	height: 30px;
	width: 100px;
	font-weight: bold;
	color: #333;
	margin: 0 0 0 5px;
}

.button-cancel-purple {
	background-image: url(../img/button-purple-narrow-shadow.png);
	height: 30px;
	width: 96px;
	font-weight: bold;
	padding-bottom: 6px;
	color: #fff;
}

.noEntry {
	width: 100%;
	text-align: center;
	font-size: 14px;
	font-style: italic;
}

.noEntryTD {
	text-align: center;
	font-style: italic;
}
input:disabled {
	background-color: #F4F4F4;
}
#pw, #pwt, #npw, #npwt, #gpw, #gpwt, #pw1, #pwt1, #pw2, #pwt2 {
	background: none;
	border: 0 none;
	text-align: right;
}
.message {
	display: block;
	background: #fefcec url(../img/icon-info-transparent.png) no-repeat scroll 20px 13px;
	clear: both;
	border: 1px solid #f6b03f;
	padding: 20px 15px 20px 80px;
	font-size: 14px;
	line-height: 1.3;
	margin-bottom: 10px;
	text-align: left;
}
.popup .message {
	margin-bottom: 0;
}
.popup .visible-pw-row {
	display: none;
}
.product16 .popup.visible-pw .visible-pw-row, .product18 .popup.visible-pw .visible-pw-row {
	display: block;
}
.product16 .popup.visible-pw .hidden-pw-row, .product18 .popup.visible-pw .hidden-pw-row {
	display: none;
}

.product19 .popup.visible-pw .visible-pw-row, .product18 .popup.visible-pw .visible-pw-row {
	display: block;
}
.product19 .popup.visible-pw .hidden-pw-row, .product18 .popup.visible-pw .hidden-pw-row {
	display: none;
}

.message-error {
	background-color: #FFF2F2;
	background-image: url("../img/icon-error.png");
	background-repeat: no-repeat;
	border: 1px solid #BD0000;
	color: #BD0000;
	line-height: 1.3;
}
.message-text {
	border: 1px solid #959595;
	resize: none;
	width: 100%;
	min-height: 130px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 6px;
}
.replyMessage .message-text {
	border: 0;
}
.message-text.read {
	border: 0;
}
.apply-applied-box {
	bottom: 58px;
	height: 58px;
	padding-left: 67px;
	position: absolute;
	right: 277px;
}
.apply-applied-box.apply {
	background: url("../img/icon-info-transparent.png") no-repeat scroll 20px 8px, url("../img/message-arrowbox-left.png") no-repeat scroll left top transparent;
}
.apply-applied-box.applied {
	background: url("../img/icon-tick-transparent.png") no-repeat scroll 20px 8px, url("../img/message-arrowbox-applied-left.png") no-repeat scroll left top transparent;
}
.apply-applied-box .content {
	font-size: 14px;
	height: 58px;
	padding-right: 29px;
	padding-top: 16px;
}
.apply-applied-box.apply .content {
	background: url("../img/message-arrowbox-right.png") no-repeat scroll right top transparent;
}
.apply-applied-box.applied .content {
	background: url("../img/message-arrowbox-applied-right.png") no-repeat scroll right top transparent;
}

.apply_message {
  float: right;
  font-size: 14px;
  margin-right: 10px;
  margin-top: -12px;
}
.apply_message1 {
  background: url("../img/apply-message1.png") repeat scroll 0 0 transparent;
  float: left;
  height: 58px;
  width: 62px;
}
.apply_message2 {
  background: url("../img/apply-message2.png") repeat scroll 0 0 transparent;
  float: left;
  height: 58px;
  line-height: 48px;
}
.apply_message3 {
  background: url("../img/apply-message3.png") repeat scroll 0 0 transparent;
	float: left;
	height: 58px;
	width: 20px;
}


/* tabs */
.tabs {
	width: 643px;
	height: 40px;
}

.tabs > div {
	color: #333333;
	cursor: hand;
	cursor: pointer;
	float: left;
	font-size: 13px;
	font-weight: bold;
	height: 27px;
	width: 160px;
	text-align: center;
	padding-top: 5px;
	background-repeat: no-repeat;
}
.tabs .tab-selected {
	padding-bottom: 6px;
}
.tabs-bg-4-1 .tab_icon01{ background:url(../img/call-log-received.png) no-repeat 15px 0 ;}
.tabs-bg-4-1 .tab_icon02{ background:url(../img/call-log-dialled.png) no-repeat 15px 0 ;}
.tabs-bg-4-1 .tab_icon03{ background:url(../img/call-log-missed.png) no-repeat 15px 0 ;}

.tabs-bg-4-2 .tab_icon01{ background:url(../img/call-log-received_ov.png) no-repeat 15px 0 ;}
.tabs-bg-4-2 .tab_icon02{ background:url(../img/call-log-dialled.png) no-repeat 15px 0 ;}
.tabs-bg-4-2 .tab_icon03{ background:url(../img/call-log-missed.png) no-repeat 15px 0 ;}

.tabs-bg-4-3 .tab_icon01{ background:url(../img/call-log-received.png) no-repeat 15px 0 ;}
.tabs-bg-4-3 .tab_icon02{ background:url(../img/call-log-dialled_ov.png) no-repeat 15px 0 ;}
.tabs-bg-4-3 .tab_icon03{ background:url(../img/call-log-missed.png) no-repeat 15px 0 ;}

.tabs-bg-4-4 .tab_icon01{ background:url(../img/call-log-received.png) no-repeat 15px 0 ;}
.tabs-bg-4-4 .tab_icon02{ background:url(../img/call-log-dialled.png) no-repeat 15px 0 ;}
.tabs-bg-4-4 .tab_icon03{ background:url(../img/call-log-missed_ov.png) no-repeat 15px 0 ;}


.tabs-bg-4-1 {	background: #fafafa url(../img/tabs_bg.png) no-repeat scroll top left;}
.tabs-bg-4-2 .tabs-all,.tabs-bg-4-3 .tabs-all,.tabs-bg-4-4 .tabs-all{padding-top: 13px;}
.tabs-bg-4-1 .tabs-all {
	padding-top: 13px;
	color:#FFF;
}

.tabs-bg-4-2 {
	background: #fafafa url(../img/tabs_bg.png) no-repeat scroll  left -40px;
}
.tabs-bg-4-2 .tabs-dialled {
	color:#FFF;
}

.tabs-bg-4-3 {
	background: #fafafa url(../img/tabs_bg.png) no-repeat scroll left -80px;
}
.tabs-bg-4-3 .tabs-received {
	color:#FFF;
}

.tabs-bg-4-4 {
	background: #fafafa url(../img/tabs_bg.png) no-repeat scroll left -120px;
}
.tabs-bg-4-4 .tabs-missed {
	color:#FFF;
}
.tabs-all {
	
}
.tabs-dialled {

}
.tabs-received {

}
.tabs-missed {

}
.tabs .clearfix {
	padding-left: 30px;
}
.tabs .clearfix .img, .tabs .clearfix span {
	float: left;
}
.tabs .clearfix span {
	line-height: 30px;
	padding-left: 30px;
}




.notification{
	font-style: italic;
	color: #888888;
}
.error{
	font-style: italic;
	color: #bd0000;
}
.tel {
	display: inline;
	color: #44c5d8;
}

input[readonly="readonly"]
{
	color: #6D6D6D;
}

.with-border {
    border-bottom: 1px solid #DFDFDF;
}

.product3 article .message-arrowbox, .product1 article .message-arrowbox {
  bottom: auto;
  margin-left: 60px;
  margin-top: -42px;
  position: static;
  right: auto;
  width: 262px;
}
article .message-arrowbox {
	background: url(../img/message-arrowbox-left_s.png) no-repeat scroll left top;
	height: 58px;
	padding-left: 67px;
	position: absolute;
	bottom: 55px;
	right: 270px;
}

article .message-arrowbox-right {
	background: transparent url(../img/message-arrowbox-right.png) no-repeat scroll right top;
	height: 58px;
	font-size: 14px;
	padding-top: 16px;
	padding-right: 29px;
}

article .message-arrowbox-applied {
	background: url(../img/message-arrowbox-applied-left_s.png) no-repeat scroll left top;
	height: 58px;
	float:right;
	padding-left: 67px;
	position: absolute;
	bottom: 55px;
	right: 270px;
}

article .message-arrowbox-applied-right {
	background: transparent url(../img/message-arrowbox-applied-right.png) no-repeat scroll right top;
	height: 58px;
	font-size: 14px;
	padding-top: 16px;
	padding-right: 29px;
}


/* custom wake up call */
/*
.product16 #wake-up-call-table td:nth-of-type(4), .product18 #wake-up-call-table td:nth-of-type(4) {
	display: none;
}
*/
/* custom wake up call */
.product19 #wake-up-call-table td:nth-of-type(4), .product18 #wake-up-call-table td:nth-of-type(4) {
	display: none;
}

/* custom wifi page */
.product16 .wifi-col2, .product18 .wifi-col2 {
	float: right;
	padding: 0;
}

/* custom wifi page */
.product19 .wifi-col2, .product18 .wifi-col2 {
	float: right;
	padding: 0;
}



.modeInFooter {
	margin: 0 10px;
	font-weight: bold;
}
.pr_5{ padding-right:5px;}
.w124{ width:124px;}
.text_r{text-align: right;}
.mb_10{ margin-bottom:10px; display:block;}
.border_top{ border-top:1px solid #DFDFDF;}
.h3-content .b_b0{ border-bottom: none;}
.mt10{ margin-top:10px;}
.loading_text{ padding: 10px 0 30px 0;}

/*
article label{
	font-size: 14px;
	line-height: 20px;
	padding-right: 24px;
	/* background-color: #ffc; *!/
}

article .div-title{
	font-weight: bold;
	padding-bottom: 0;
}

article .notification{
	font-style: italic;
	color: #888888;
}

article .error{
	font-style: italic;
	color: #bd0000;
}

article .bold{
	font-weight: bold;
}

article .label-legend{
	/* font-style: italic; *!/
	border-bottom: 1px solid #bebebe;
	margin-bottom: 8px;
	min-height: 20px;
}

fieldset p {
	font-size: 14px;
	line-height: 24px;
}

article fieldset a {
	color: #000;
	text-decoration: underline;
}

article fieldset a:hover {
	color: #e60000;
	-webkit-transition: color 0.1s ease-out;  /* Saf3.2+, Chrome *!/
	-moz-transition: color 0.1s ease-out;  /* FF4+ *!/
	-ms-transition: color 0.1s ease-out;  /* IE10 *!/
	-o-transition: color 0.1s ease-out;  /* Opera 10.5+ *!/
	transition: color 0.1s ease-out;
}

/***** Tabs *****!/

article .tabs {
	margin-left: -16px;
	padding-bottom: 32px;
	margin-top: 20px;
	padding-top: 4px;
	height: 28px;
}

article .tabs input {
	height: 41px;
	border: 0;
	font-weight: bold;
	padding-bottom: 2px;
	background-color: transparent;
	cursor: hand;
	cursor: pointer;
	padding-left: 0;
	color: #333333;
}
article .tabs .tab-selected {
	padding-bottom: 6px;
}

#content fieldset > .tabbed-content {
	background-color: #fafafa;
	width: 574;
	padding: 0 0 16px 16px;
	margin-left: -16px;
}

.tabbed-table-heading {
	color: #777;
	padding-bottom: 16px;
}

.tabbed-table {
	width: 100%;
	margin: 0;
}

.tableOutsideForm {
	width: 574px;
}

/***** 3 Tabs Specific *****!/

article .tabs-bg-3-1{
	background: #fafafa url(../img/3-tabs-1.png) no-repeat scroll top left;
}

article .tabs-bg-3-2 {
	background: #fafafa url(../img/3-tabs-2.png) no-repeat scroll top center;
}

article .tabs-bg-3-3 {
	background: #fafafa url(../img/3-tabs-3.png) no-repeat scroll top right;
}

article .tabs-3-1 {
	width: 197px;
}

article .tabs-3-1:hover {
	
}

article .tabs-3-2 {
	width: 196px;
}

article .tabs-3-2:hover {
	
}

article .tabs-3-3 {
	width: 197px;
}

article .tabs-3-3:hover {
	
}

/***** 4 Tabs Specific *****!/

article .tabs-bg-4-1{
	background: #fafafa url(../img/4-tabs-1.png) no-repeat scroll top left;
}

article .tabs-bg-4-2 {
	background: #fafafa url(../img/4-tabs-2.png) no-repeat scroll top center;
}

article .tabs-bg-4-3 {
	background: #fafafa url(../img/4-tabs-3.png) no-repeat scroll top center;
}

article .tabs-bg-4-4 {
	background: #fafafa url(../img/4-tabs-4.png) no-repeat scroll top right;
}

article .tabs-4-1 {
	width: 147px;
}

article .tabs-4-1:hover {
	
}

article .tabs-4-2 {
	width: 147px;
}

article .tabs-4-2:hover {
	
}

article .tabs-4-3 {
	width: 146px;
}

article .tabs-4-3:hover {
	
}

article .tabs-4-4 {
	width: 147px;
}

article .tabs-4-4:hover {
	
}

/***** Dividing an area with background colours *****!/

article .variation-1, article .variation-2 {
	margin-left: -16px;
	padding: 16px 16px 0 16px;
	margin-top: 0px;
}

article .variation-1 {
	background-color: #fafafa;
}

article .variation-2 {
	background-color: #f4f4f4
}

/***** Buttons *****!/

article .button {
	height: 28px;
	width: 100px;
	margin-top: -2px;
	margin-left: 8px;
	margin-bottom: 0px;
	border: 0 none transparent;
	cursor: pointer;
	background: transparent url(../img/button-blank.png) no-repeat scroll top right;
	padding-left: 0;
	font-size: 13px;
}

article .button-blank {
	font-weight: bold;
	width: 148px;
	background-image: url(../img/button-grey-wide-shadow.png);
	padding-bottom: 6px;
	height: 30px;
	margin-top: -3px;
	color: #333;
}

.button-blank:active {
	background-image: url(../img/button-grey-wide-pressed.png);
}

article .button-mediumwidth {
	background-image: url(../img/button-grey-narrow-shadow.png);
	width: 96px;
}

.button-mediumwidth:active {
	background-image: url(../img/button-grey-pressed.png);
}

article .button-select {
	/* Not using - needs more hacking to make a decent graphical replacement *!/
	width: 154px;
	background-image: url(../img/button-blank.png);
	font-weight: bold;
	padding-bottom: 4px;
	padding-bottom: 3px;
	padding-right: 0px;
	text-align: center;
}

article .button-on {
	width: 80px;
	background-image: url(../img/button-on.png);
}
.de .button-on {
	background-image: url(../img/button-on_DE.png) !important;
}

article .button-off {
	width: 80px;
	background-image: url(../img/button-off.png);
}
.de .button-off {
	background-image: url(../img/button-off_DE.png) !important;
}

article .button-eject {
	width: 41px;
	background-image: url(../img/button-eject.png);
}
article .button-eject:active {
	background-image: url(../img/button-eject-pressed.png);
}

article .button-delete {
	width: 41px;
	background-image: url(../img/button-delete.png);
}
article .button-delete:active {
	background-image: url(../img/button-delete-pressed.png);
}

article .button-delete-small {
	width: 22px;
	height: 22px;
	margin-top: 0px;
	background-image: url(../img/button-delete-small.png);
}

article .button-delete-small:active {
	background-image: url(../img/button-delete-small-pressed.png);
}

article .button-edit-small {
	width: 22px;
	height: 22px;
	margin-top: 0px;
	background-image: url(../img/button-edit-small.png);
}
article .button-edit-small:active {
	background-image: url(../img/button-edit-small-pressed.png);
}

article .button-add {
	width: 41px;
	background-image: url(../img/button-add.png);
}
article .button-add:active {
	background-image: url(../img/button-add-pressed.png);
}

article .button-play-large {
	width: 41px;
	background-image: url(../img/button-play-large.png);
}
article .button-play-large:active {
	background-image: url(../img/button-play-large-pressed.png);
}

article .button-play-small {
	width: 22px;
	height: 22px;
	margin-top: 0px;
	background-image: url(../img/button-play-small.png);
}

article .button-play-small:active {
	background-image: url(../img/button-play-small-pressed.png);
}

article .button-stop-small {
	width: 22px;
	height: 22px;
	margin-top: 0px;
	background-image: url(../img/button-stop-small.png);
}
article .button-stop-small:active {
	background-image: url(../img/button-stop-small-pressed.png);
}



article .button-apply {
	margin-top: 28px;
	background-image: url(../img/button-purple-narrow-shadow.png);
	height: 30px;
	width: 96px;
	font-weight: bold;
	padding-bottom: 6px;
	color: #fff;
	/* text-shadow: 0 1px 1px #000000; *!/
}

article .button-cancel {
	margin-top: 28px;
	background-image: url(../img/button-grey-narrow-shadow.png);
	height: 30px;
	width: 96px;
	margin-right: -2px;
	font-weight: bold;
	padding-bottom: 6px;
	color: #333;
	/* text-shadow: 0 -1px 1px #ffffff; *!/
}

article .showHideDivAbove {
	margin-top: -4px;
	margin-bottom: 72px;
}

.field-automatic {
	 /* background-color: #F6F6F6; *!/
	 color: #888;

	 cursor: default;
	 text-align: center;
	 border: 1px solid #d2d2d2;
}

/***** Message/Notification Boxes *****!/

article .message, body .message {
	display: block;
	background: #fefcec url(../img/icon-info-transparent.png) no-repeat scroll 20px 13px;
	clear: both;
	border: 1px solid #f6b03f;
	padding: 20px 15px 20px 62px;
	font-size: 14px;
	line-height: 1.3;
}

article fieldset > .message {
	min-height: 1px;
}

article .success, body .success {
	background-color: #dcecd3;
	border: 1px solid #99cc99;
}

article .message-error, body .message-error {
	background-image: url(../img/icon-error.png);
	background-color: #fff2f2;
	border: 1px solid #bd0000;
	color: #bd0000;
	line-height: 1.3;
}

article .message a {
	color: #000;
	text-decoration: underline;
}

article .message a:hover {
	color: #e60000;
	text-decoration: underline;
}

article .message-arrowbox {
	margin-top: 16px;
	background: url(../img/icon-info-transparent.png) no-repeat scroll 20px 8px, transparent url(../img/message-arrowbox-left.png) no-repeat scroll left top;
	height: 58px;
	float:right;
	padding-left: 67px;
}

article .message-arrowbox-right {
	background: transparent url(../img/message-arrowbox-right.png) no-repeat scroll right top;
	height: 58px;
	font-size: 14px;
	padding-top: 16px;
	padding-right: 29px;
}

article .message-arrowbox-applied {
	margin-top: 16px;
	background: url(../img/icon-tick-transparent.png) no-repeat scroll 20px 8px, transparent url(../img/message-arrowbox-applied-left.png) no-repeat scroll left top;
	height: 58px;
	float:right;
	padding-left: 67px;
}

article .message-arrowbox-applied-right {
	background: transparent url(../img/message-arrowbox-applied-right.png) no-repeat scroll right top;
	height: 58px;
	font-size: 14px;
	padding-top: 16px;
	padding-right: 29px;
}

#progress-bar-content .message {
	margin-top: 24px;
}

/***** Content Sharing Specific CSS *****!/

article div .folder-name{
	display: inline-block;
	width: 160px;
	/*background-color: #fcf; *!/
	margin-right: 24px;
}

article div .folder-path{
	display: inline-block;
	width: 260px;
	font-size: 12px;
	color: #666;
	/*background-color: #ffc; *!/
}

article div .input-fixed-text{
	text-align: right;
	padding-right: 0;
	float:right;
	/*background-color: #ffc; *!/
}

/***** Energy Settings Specific - Originally only used for Settings->Energy Settings, now used in a lot of places to line up multiple input fields/radios/checkboxes, ith some overrides. The original LAN DHCP page also needs it's own overrides now. Not ideal, but rebuilding isn't worth it currently *****!/

article div .inputgroupradio {
	/* background-color: #fcf; *!/
	clear: none;
	float: right;
	padding: 0 0 0 0;
	font-size: 14px;
	margin-top: -2px;
}

article .inputgroupradio input{
	float: none;
	margin-left: 32px;
	margin-top: 0;
	margin-right: 8px;
}

/***** LAN DHCP - Originally only used for Settings->LAN DHCP->Static DHCP table, now used in a lot of places to line up multiple input fields/radios/checkboxes, ith some overrides. The original LAN DHCP page also needs it's own overrides now. Not ideal, but rebuilding isn't worth it currently *****!/

article div .inputgroup {
	/* background-color: #fcf; *!/
	clear: none;
	float: right;
	padding: 0 0 0 0;
	font-size: 13px;
}

article .inputgroup input, article .inputgroup select {
	float: none;
}

article .inputgroup input[type="text"] {
	width: 36px; /* 192px *!/
}
.macA {
	width: 26px !important;
}

/* article .inputgroup .button-delete { *!/
/* Resetting delete-button's width to correct width inside the inputgroup *!/
/*	width: 41px; /* 192px *!/
/* } *!/

article div .inputgroup div {
	/* background-color: #cfc; *!/
	width: 194px;
	min-height: 5px;
	padding: 4px 0 0 0;
}

article div .macaddress{
	width: 296px;
	padding-left: 40px;
}

article div .macaddress input{
	width: 36px; /* Was 19px *!/
}

article input{
	padding-left: 8px;
}


/***** TABLE *****!/

table {
	font-size: 14px;
	margin-bottom: 28px;
	margin-top: 1px;
	margin-left: 16px; /* Changed from padding to margin, seems it was originally like this and was changed in the merge... *!/
	width: 100%;
}

.tableInFieldset {
	margin-left: 0;
}

tr {
	
}

th {
	text-align: left;
	font-weight: normal;
}

td {
	line-height: 24px;
}

.table-heading  th, .table-heading  td {
	border-bottom: 1px solid #dfdfdf;
	padding-bottom: 6px;
}

.table-first-row th, .table-first-row td {
	padding-top: 6px
}

.table-dense td {
	font-size: 12px;
}

.noEntry {
	width: 100%;
	text-align: center;
	font-size: 14px;
	font-style: italic;
}

.noEntryTD {
	text-align: center;
	font-style: italic;
	padding-top: 10px !important;
	line-height: 1;
}

/***** TABLE PAGINATION *****!/

.pagination {
	margin-top: -20px;
	border-top: 1px solid #dfdfdf;
	padding-top: 10px;
	padding-bottom: 40px;
	margin-left: 16px;
	font-size: 13px;
	color: #777;
}

.pagination a {
		float: right;
		margin-left: 16px;
		min-width: 10px;
		color: #777;
		text-decoration: underline;
}

#paginationBack, #paginationForward {
	background: #fafafa url(../img/pagination-back.png) no-repeat scroll center center;
	display: inline-block;
	text-decoration: none !important;
	opacity: 0.5;
}

#paginationForward {
	background-image: url(../img/pagination-forward.png);
}

/***** Ordered Lists - right column, width of input text boxes *****!/

article ol li {
	list-style-type: decimal;
	font-size: 12px;
	width: 176px;
	list-style-position: outside;
	padding-bottom: 12px;
}*/

