/* @override 
	http://192.168.69.28/rhein-vd/css/phone.css */

/*##########################################################################
	TABLES WITH MANY VARIATIONS
############################################################################
	
	.tabbedTableWithHeading
	.tabbedTableNoHeading
	
	.multiLineCellsSometimes - cells are aligned to top
	.multiLineCellsAlways
	
	.tableHeading
	.tableFirstLine
	.tableLastLine
	
*/

/* Colour specified lines for debugging
article .variationTable-1 {
	background-color: #f4f4f4;
} */

.tabbed-table img {
	margin-top: 0px;
}

/* .tabbedTableWithHeading */
.tabbedTableWithHeading {
	table-layout: fixed; /* No automatic sizing of cell widths */
}
.tabbedTableWithHeading td .checkbox {
	margin-bottom: -6px;
}
.tabbedTableWithHeading td {
	line-height: 1;
	height: 40px;
	/*border-top: 1px dotted #DFDFDF;*/
	padding-top: 6px;
}
.first {
	border-top: 1px dotted #DFDFDF;
}
.tableLastLine td {
	border-bottom: 1px dotted #DFDFDF;
}
.tabbedTableWithHeading .tableHeading td {
	/* background-color: #f4f4f4; */
	border-top: 0 none transparent;
	border-bottom: 1px solid #dfdfdf;
	height: 31px;
}

/* .multiLineCellsSometimes */
.multiLineCellsSometimes td {
	height: 40px;
}
.multiLineCellsSometimes .tdDoubleLine p {
	font-size: 11px;
	line-height: 1;
	color: #888;
	margin-top: 2px;
}

/* .singleAdditionalLine */
.singleLineCells td, .singleLineCells th {
	height: 30px;
}
.singleAdditionalLine td {
	border-top: 0 none transparent;
}

/* Switch in tables */

table .button-on, table .button-off {
	margin-bottom: -9px;
}

/*##########################################################################
	RINGING SCHEDULE (Same as TIMER in WIFI.CSS)
##########################################################################*/

#phoneWrap div .inputgroupcheckbox {
	/* background-color: #fcf; */
	clear: none;
	float: right;
	padding: 0 0 0 0;
	font-size: 14px;
	margin-top: 0;
	text-align: left;
	width: 202px;
}

#phoneWrap .inputgroupcheckbox input{
	float: none;
	margin-left: 8px;
	margin-top: 0;
	margin-right: 7px;
}

#phoneWrap div .inputGroupTimer {
	/* background-color: #fcf; */
	clear: none;
	float: right;
	padding: 0 0 0 0;
	font-size: 13px;
	width: 228px;
}

#phoneWrap .inputGroupTimer input {
	float: none;
	width: 44px; /* 192px */
}

#phoneWrap .inputGroupTimer .button-delete {
	float: right;
	width: 41px; /* 192px */
}

/*##########################################################################
	GREETING MESSAGES AND WAKE UP CALL
##########################################################################*/

.progress-bar-inputGroup div select {
	width: 139px;
	margin-right: 6px;
}

table .phoneNumberError {
	font-weight: bold;
	color: #ec9c1a;
}

.info .phoneNumberError {
	font-weight: bold;
	color: #ec9c1a;
}

table .answerMessageNew {
	font-weight: bold;
}

table .answerMessageNew p {
	font-weight: normal;
}

/*##########################################################################
	EMAIL FORWARDING
##########################################################################*/

#phoneWrap fieldset > div > div {
    clear: both;
    min-height: 28px;
    padding: 0 0 8px;
}










#help-index {
	float: left;
	margin-left: -38px;
	width: 12px;
	font-size: 14px;
	padding-top: 4px;
}
#help-index a {
	color: #666666;
	cursor: default;
}
#help-index .bold {
	font-weight: bold;
	color: #1d1d1b;
	cursor: pointer;
}
#help-index.sticky {
	position: fixed;
	top: 0px;
}