/***** LAN DHCP Crappy hacky extra CSS *****/

#content div .inputgroup {
	/* background-color: #fcf; */
	clear: none;
	float: right;
	padding: 0 0 0 0;
	font-size: 13px;
}

#content div .macaddress{
	width: 378px;
	text-align: right;
}

article div .macaddress .button-delete-small {
    width: 22px;
}