#status-and-supportWrap fieldset > div > div {
	/* display: block; */
	min-height: 28px;
	/* background-color: #fcf; */
	clear: both;
	padding: 0 0 8px 0;
}

/* Event Log */

#eventLogTable {
	margin-left: 0;
	/* border-top: 1px solid #DFDFDF;
	width: 100%;
	margin-top: 0; */
}


.eventLogErrorSecurity {
	color: #a00;
}

.eventLogIP {
	width: 21px;
}
.eventLogIPDetail {
	width: 100px;
}
.eventLogMAC {
	width: 52px;
}
.eventLogMACDetail {

}



/***** Specific: Wifi/Timer *****/

#status-and-supportWrap div .inputgroupcheckbox {
	/* background-color: #fcf; */
	clear: none;
	float: right;
	padding: 0 0 0 0;
	font-size: 14px;
	margin-top: 0;
	text-align: left;
	width: 202px;
}

#status-and-supportWrap .inputgroupcheckbox input{
	float: none;
	margin-left: 8px;
	margin-top: 0;
	margin-right: 7px;
}



#deleted {
	border-top: 1px solid #DFDFDF;
	padding-top: 12px;
}

/* help */
#searchInputWrap {
	position: relative;
}
#searchInputWrap .delete {
	position: absolute;
	right: 4px;
	top: 4px;
}
#searchInputWrap .loupe {
	position: absolute;
	right: 4px;
	top: 3px;
}
#help-index {
	float: left;
	margin-left: -38px;
	margin-top: -4p;
	width: 12px;
	font-size: 14px;
}
#help-index a {
	color: #666666;
	cursor: default;
}
#help-index .bold {
	font-weight: bold;
	color: #1d1d1b;
	cursor: pointer;
}
#help-index.sticky {
	position: fixed;
	top: 0px;
}
#search {
	color: #888;
	padding-right: 20px;
	width: 164px;
}
#search:focus {
	color: #1D1D1B;
}
#searchContent h4 {
	color: #1D1D1B;
	font-size: 15px;
	padding: 0 0 0 20px;
}
#searchContent p {
	color: #666666;
	font-size: 14px;
	padding: 0 0 30px 20px;
}
#searchContentWrap {
}

/* NAPT Sessions */
.table.nat-mapping-table .table-row {
	height: 24px;
	padding-top: 6px;
}
.table.nat-mapping-table .table-col:nth-child(1) {
	width: 40px;
}
.table.nat-mapping-table .table-col:nth-child(2) {
	width: 200px;
}
.table.nat-mapping-table .table-col:nth-child(3) {
	width: 150px;
}
.table.nat-mapping-table .table-col:nth-child(4) {
	width: 180px;
}

/* Status - Voice Status */
.table.voice-status .table-row {
	height: 24px;
	padding-top: 6px;
}
.table.voice-status .table-col:nth-child(1) {
	width: 200px;
}
.table.voice-status .table-col:nth-child(2) {
	width: 150px;
}
.table.voice-status .table-col:nth-child(3) {
	width: 180px;
}

/* Status -DSL Status */
.table.dsl-status .table-row {
	height: 24px;
	padding-top: 6px;
}
.table.dsl-status .table-col:nth-child(1) {
	width: 190px;
}
.table.dsl-status .table-col:nth-child(2) {
	width: 190px;
}
.table.dsl-status .table-col:nth-child(3) {
	width: 190px;
}

/* Status -Vodafone TV Status */
.table.vodafone-tv-status .table-row {
	height: auto;
	min-height: 24px;
	padding-top: 6px;
	font-size: 12px;
}
.table.vodafone-tv-status .table-row-head {
	font-size: 14px;
}
.table.vodafone-tv-status .table-col:nth-child(1) {
	width: 110px;
}
.table.vodafone-tv-status .table-col:nth-child(2) {
	width: 100px;
}
.table.vodafone-tv-status .table-col:nth-child(3) {
	width: 204px;
}
.table.vodafone-tv-status .table-col:nth-child(4) {
	width: 70px;
}
.table.vodafone-tv-status .table-col:nth-child(5) {
	width: 90px;
}