@charset "utf-8";
/* CSS designed for Netgear by TBS group
* Modify : none
*/
body { font:12px Arial, Helvetica, Geneva, Swiss, SunSans-Regular, sans-serif; margin:0px auto; visibility:hidden; overflow-x:hidden;}
ul { margin:0px; padding:0px; list-style-type:none;}
a { text-decoration:none;}
p { margin:0px; padding:0px;}
select { font-size:11px; font-family:Tahoma,Helvetica,Geneva,Arial,sans-serif;}
/* Firefox
input[type=text] { width:120px; font-size:11px; padding:2px 4px; font-family:Tahoma,Helvetica,Geneva,Arial,sans-serif;}
input[type=password] { width:120px; font-size:11px; padding:2x 4px; font-family:Tahoma,Helvetica,Geneva,Arial,sans-serif;}
IE
input { width:expression((this.type=="text"||this.type=="password")?"120px":""); padding:expression((this.type=="text"||this.type=="password")?"2px 4px":""); font-family:expression((this.type=="text"||this.type=="password")?"Tahoma,Helvetica,Geneva,Arial,sans-serif":""); font-size:expression((this.type=="text"||this.type=="password")?"11px":"");}*/
/* header */
#Header { height:130px; border-bottom:2px solid #ECE9D8;}
#header_space { height:10px; background:#330099;}
#header_main {background:#ffffff;}
/* Page */
#Page {}
/* Menu
#Menu { width:210px; float:left; padding:10px;}
#Menu h3 { margin:0px; color:#0099cc; font-size:10pt;}
#Menu hr { border:1px solid #0099cc;}
#Menu ul { margin:0px; padding:5px 10px 0px 20px;}
#Menu ul li { list-style-type:disc; color:red;}
#Menu ul li a { color:white; font-weight:bold; font:Arial,Helvetica,Geneva,Swiss,SunSans-Regular; font-size:10pt; line-height:22px;}*/
/* content */
.reboot_div{ position: relative; width: 100%; height: 40px; }
#content_icons { width: 622px; _height: 800px; overflow-y: auto; position: absolute; top: 0; left: 0; bottom: 0; }
.adv_icon{float:left; margin-left: 5px; width: 295px; height: 256px; background-image: url(http://gui.netgear.ru/admin/WNR612v3/html/html/skin/image/icon/advanced-back.gif); background-repeat: no-repeat;}
.adv_icon .title{ width: 295px; height: 34px; background-image: url(http://gui.netgear.ru/admin/WNR612v3/html/html/skin/image/icon/advanced-title.gif); background-repeat: no-repeat;}
.adv_icon .title img{margin: 7px 4px auto 4px; float:left;}
.adv_icon .title b{position:relative; top: 8px; font-family: Arial; font-size: 14px; color: #e5e5e5; text-decoration: underline;}
.adv_icon .title_smallFonts, .adv_icon .title_doubleline { width: 295px; height: 34px; background-image: url(http://gui.netgear.ru/admin/WNR612v3/html/html/skin/image/icon/advanced-title.gif); background-repeat: no-repeat; }
.adv_icon .title_smallFonts img, .adv_icon .title_doubleline img {margin: 7px 4px auto 4px; float:left;}
.adv_icon .title_smallFonts b{position:relative; top: 2px; font-family: Arial; font-size: 12px; color: #e5e5e5; line-height: 30px; text-decoration: underline;}
.adv_icon .title_doubleline b{position:relative; top: 2px; font-family: Arial; font-size: 12px; color: #e5e5e5; text-decoration: underline;}
.adv_icon tr td{font:12px arial; color: #404040; line-height: 13px;}
.adv_icon tr td b{font: bold 12px arial; position:relative; left: 5px; line-height: 13px;}
.adv_icon img{margin-top:2px; margin-bottom: 2px;}
.adv_icon .info_div{width: 100%; height:178px;}
.content { background:#F1F1F1; border-collapse:collapse;}
.content td {vertical-align:top;}
/* sub menu */
.td_menu { background:#404343; height:400px;}
.sub_menu { width:131px; background:#404343; font-size:11px;}
.sub_menu p { border-bottom:1px solid white;}
.sub_menu p a { padding:6px 0px 6px 6px; color:#F1F1F1; display:block; border:1px solid #404343;}
.sub_menu p a:hover { text-decoration:underline;}
#up { border:1px solid black; background:#F1F1F1; color:black;}
/* third menu */
ul.thirdMenu { border:1px solid black; display:none;}
.thirdMenu li { margin:0px; padding:0px;}
.thirdMenu li a { padding:6px 0px 6px 6px; width:130px; display:block; border-bottom:1px solid white; background:#404343; color:white;}
.thirdMenu li a:hover { text-decoration:underline;}
/* 1:<td> -> config1 */
.config1 { padding:8px; width:auto; border:0px solid red;}
/* 2:<td> -> config2 */
.config2 { padding:6px; border:0px solid #F1F1F1;margin:0px;}
.config3 { border:0px solid #F1F1F1;margin:0px 0px 0px 0px; width:100%;}
/*.mainFramWidth { width:expression((document.body.clientWidth) < 200? "200px" : document.body.clientWidth); max-width:100%; min-width:5%}*/
/* Title */
.div_title { padding:5px 0px; margin-bottom:10px; border-bottom:2px solid #9966ff; font-size:16px; color:#9966ff; font-weight:bold;}
/* about p/div */
.bk_orange { padding:5px 0px 15px; font-weight:bold; letter-spacing:1px; border-bottom:2px solid #9966ff; font-family:Arial,Helvetica,Geneva,Swiss,SunSans-Regular,sans-serif; font-size:16px; color:#0099CC;}
.bk_orange1 { padding:5px 0px 15px; font-weight:bold; letter-spacing:1px; font-family:Arial,Helvetica,Geneva,Swiss,SunSans-Regular,sans-serif; font-size:16px; color:#9966ff;}
.bk_orange3 { padding:0px 0px 30px; font-weight:bold; letter-spacing:1px; border-bottom:2px solid #9966ff; font-size: 150%; color:#34A3BE}
.bk_orange3_head{width: 100%; height: 20px; font: bold 17px arial; color: #9966ff; position: absolute; top: 0px; left: 0px;}
/*.bk_orange3_head { padding:8px 0px 15px; background:white none repeat scroll 0 0;color:#0099CC;font-family:Arial,Helvetica,Geneva,Swiss,SunSans-Regular,sans-serif;font-size:16px;font-weight:bold;}*/
.div_orange { padding:10px 0px; line-height:16px; font-size:12px;}
.div_orange3 { padding:10px 0px; line-height:16px;}
.div_orange p { padding-bottom:10px;}
.bk_black { padding:5px 0px; font-weight:bold; color:black; letter-spacing:1px; border-bottom:2px solid #9966ff;}
.bk_black3 { padding:8px 0px 0px; font-weight:bold; color:#34A3BE; letter-spacing:1px; border-top:2px solid #9966ff;font-family:Arial,Verdana,Sans-serif}
.bk_black3_black { padding:8px 0px 5px; font-weight:bold; color:#000000; border-top:2px solid #9966ff;font-family:Arial,Helvetica,Geneva,Swiss,SunSans-Regular,sans-serif; font-size:12px;}
.bk_black3_forprofile { padding:8px 0px 2px; font-weight:bold; color:#34A3BE; letter-spacing:1px; border-top:2px solid #0099cc;font-family:Arial,Verdana,Sans-serif}
.bk_black3_black_noborder { padding:8px 0px 5px; font-weight:bold; color:#000000; letter-spacing:1px; font-family:Arial,Verdana,Sans-serif}
.div_black { padding:10px 0px; line-height:16px; background:white; font-size:12px;}
.div_black3 { padding:2px 0px 2px 0px; line-height:16px; background:white;font-family:Arial,Verdana,Sans-serif}
.div_black p { padding-bottom:10px;}
.div_left { padding:3px 4px 4px 0px; float:left; width:235px; text-align:left;}
.div_right { height:27px; font-size:11px;}
.div_left3 { padding:2px 4px 2px 0px; float:left; width:60%; text-align:left;font-weight:bold;}
.div_left3_nobold { padding:2px 4px 2px 0px; float:left; text-align:left; width:100px;}
.div_left3_nobold_20 { padding:2px 4px 2px 0px; float:left; width:20%; text-align:left;}
.div_left3_nobold_60 { padding:2px 4px 2px 0px; float:left; width:60%; text-align:left;}
.div_left3_nobold_57 { padding:2px 0px 2px 20px; float:left; width:57%; text-align:left;}
.div_left3_nobold_maxwidth { padding:2px 4px 2px 0px; float:left; text-align:left;font-family:Arial,Verdana,Sans-serif; max-width:74%; min-width:5%}
.div_left3_center { padding:2px 4px 2px 0px; float:center; text-align:center; font-weight:bold;}
.div_right3_center { padding:2px 4px 2px 0px; float:none; text-align:center;}
.div_right3 { padding:2px 4px 2px 0px;}
.div_right3_br { height:27px; font-size:11px; width:235px;}
.div_button { margin-top:3px; padding:0px 0px; text-align:center;}
.div_button3 {padding:10px 0px 3px; text-align:center; margin:0px 0px; }
.div_button3_no {text-align:center;}
.div_form3 {margin:0px 0px 0px 0px; padding:0px 0px 0px 0px;}
.do { margin-top:8px;}
/* about talbe: short & long */
.td_table_s { border-collapse:separate; width:auto; background:#DFDFDF;}
.td_table_s3 {font-family:Arial,Helvetica,Geneva,Swiss,SunSans-Regular,sans-serif; font-size: 12px;}
.td_table_s td { border:1px solid white; text-align:center; font-size:11px;}
.td_table_s3 td { text-align:center;}
.td_table_l { border-collapse:separate; width:auto; background:#DFDFDF;}
.td_table_l td { border:1px solid white; text-align:center; font-size:11px;}
.tr_bold { font-weight:bold; font-size:12px;}
.tr_bold3 { font-weight:bold; font-size:12px; color:#34A3BE;-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:#767676 none repeat scroll 0 0;
color:#FFFFFF;
font-family:Arial,Helvetica,Geneva,Swiss,SunSans-Regular,sans-serif;
font-size:12px;
font-weight:bold;}
/* 2:<td> -> help
.td_help {position:relative;right: 0px;width:250px;background:#9966ff;}
.help { color:black; font-size:11px; font-family:Tahoma,Helvetica,Geneva,Arial,sans-serif;}
.help h5 { margin:5px; display:block; font-size:11px; color:black}
.help h5 a, .help p a { color:black;}
.help h5 a:hover, .help p a:hover { background:#E29861; color:#404343;}
.help p { margin:15px 5px;}
.help b { }
*/
.help_table ul{
font-size: 11px; list-style-type: disc; padding-left:40px
}
.help_table li{
font-size: 11px;
}
.help_table dt{
font-size: 11px; font-weight:bold;
}
.help_table a{
text-decoration:underline;
}
.help_example dl {
border-right: gray 1px solid; padding-right: 0px; border-top: gray 1px solid; padding-left: 4px; padding-bottom: 0px; border-left: gray 1px solid; padding-top: 0px;border-bottom: gray 1px solid; background-color: #dfdfdf
}
SPAN.button_ref {
PADDING-RIGHT: 4px; PADDING-LEFT: 4px; FONT-WEIGHT: bold; FONT-SIZE: 9px; PADDING-BOTTOM: 0px; MARGIN: 0px 2px; COLOR: #111111; LINE-HEIGHT: 12px; PADDING-TOP: 0px; WHITE-SPACE: nowrap; BACKGROUND-COLOR: #99ccee
}
.common_bt1,.common_bt2{min-width:170px;width:expression((this.width) < 170? "170px" : "200px");}
.apply_bt, .cancel_bt, .long_add_bt, .add_bt, .edit_bt, .delete_bt, .common_bt, .long_common_bt, .short_common_bt, .middle_common_bt,.common_bt1,.common_bt2{ height: 22px; color: #f2f2f2; font-family: Arial; font-weight: Bold; font-size: 12px; background-color: transparent; border: none; cursor: pointer; padding-bottom: 2px;}
.edit_bt_little, .delete_bt_little , .long_add_bt_little{ height: 22px; color: #f2f2f2; font-family: Arial; font-weight: Bold; font-size: 12px; background-color: transparent; border: none; cursor: pointer; padding-bottom:2px; padding-left:17px;}
.apply_bt{width: 130px; background: url(image/button/apply.gif) no-repeat;}
.cancel_bt{width: 134px; background: url(image/button/cancel.gif) no-repeat; }
.add_bt{ width:135px; background: url(image/button/add.gif) no-repeat;}
.long_add_bt{ width: 220px; background: url(image/button/add_long.gif) no-repeat;}
.long_add_bt_little{ width: 220px; background: url(image/button/add_long.gif) no-repeat;}
.edit_bt{width:190px; background: url(image/button/edit.gif) no-repeat;}
.edit_bt_little{width:190px; background: url(image/button/edit.gif) no-repeat;}
.delete_bt{width:175px; background: url(image/button/delete.gif) no-repeat;}
.delete_bt_little{width:175px; background: url(image/button/delete.gif) no-repeat;}
.common_bt{background: transparent url(image/button/button.gif) left bottom no-repeat;}
.long_common_bt{width:320px; background: url(image/button/long_button.gif) no-repeat;}
.short_common_bt{width:99px; background: url(image/button/test.gif) no-repeat;}
.middle_common_bt{width:125px; background: url(image/button/middle_button.gif) no-repeat;}
.common_bt1{height: 22px; background: url(image/button/advanced_home_button.gif) left top no-repeat;border: 0; cursor: pointer;color: #f2f2f2;}
.common_bt2{position:relative;left:1px;top:0;background: url(image/button/advanced_home_button.gif) right top no-repeat;padding:3px 10px 3px 6px;padding:0px 10px 0px 6px\9;border: 0; cursor: pointer;color: #f2f2f2;}
.adv_icon tr td{font:12px arial; color: #404040; line-height: 13px; line-height: 14px\9;}
.adv_icon tr td b{font: bold 12px arial; position:relative; left: 5px; line-height: 13px;}
/* footer */
.footer { background:#404343; border-left:1px solid white; border-right:1px solid white;}
/* copyright */
p#copyright { color:#F1F1F1; text-align:center; font-size:11px; margin:10px;}
.headerClass{font-size:16px; color:#9966ff}
.table_new{width:100%}
.table_new th {color:#9966ff; font-weight:bold; text-align:center}
.table_new td {text-align:center}
.div_orange_2 { padding:10px 0px; margin:10px 0px; border-top:2px solid #9966ff;}
.div_right_2 { height:27px; font-size:11px; text-align:right;}
/*use in netgear*/
/*copy from netgear*/
P {
LIST-STYLE-POSITION: outside; FONT-SIZE: 12px; FONT-FAMILY: Arial, Helvetica, Geneva, Swiss, SunSans-Regular, sans-serif
}
H1 {
FONT-WEIGHT: bold; FONT-SIZE: 16px; BACKGROUND: white; COLOR: #09c; FONT-FAMILY: Arial, Helvetica, Geneva, Swiss, SunSans-Regular, sans-serif
}
/*BODY {
FONT-SIZE: 12px; MARGIN: 2px; FONT-FAMILY: Arial, Helvetica, Geneva, Swiss, SunSans-Regular, sans-serif
}*/
TD {
FONT-SIZE: 12px; FONT-FAMILY: Arial, Helvetica, Geneva, Swiss, SunSans-Regular, sans-serif
}
/*A {
BACKGROUND: white; COLOR: black; TEXT-DECORATION: none
}*/
.thead {
FONT-WEIGHT: bold; FONT-SIZE: 12px; BACKGROUND: white; COLOR: #09c; FONT-FAMILY: Arial, Helvetica, Geneva, Swiss, SunSans-Regular, sans-serif; TEXT-ALIGN: center
}
.ttext {
FONT-SIZE: 12px; FONT-FAMILY: Arial, Helvetica, Geneva, Swiss, SunSans-Regular, sans-serif; TEXT-ALIGN: center
}
.subhead {
FONT-WEIGHT: bold; FONT-SIZE: 12px; BACKGROUND: white; COLOR: #09c; FONT-FAMILY: Arial, Helvetica, Geneva, Swiss, SunSans-Regular, sans-serif
}
.num {
FONT: 10pt "Courier New",Courier,serif; COLOR: black
}
