
/* ------------------ File browser ------------------ */

#folderbrowser.menuvert1{
	overflow: auto;
	margin:0;
	float:left;
	color: #333;
	font-size: 12px;
}

#folderbrowser.menuvert1 ul{
	list-style: none inside;
	padding: 0px;
	margin: 0px;
}

#folderbrowser.menuvert1 ul li {
	text-align: left;
	border-left: 1px solid #FFF;
}

#folderbrowser.menuvert1 ul li.opened {
	border-left: 1px dotted #AAA;
}

#folderbrowser.menuvert1 ul li img {
	vertical-align: middle;
}

#folderbrowser.menuvert1 ul li a {
	margin-left: 5px;
	cursor: pointer;
}

#folderbrowser.menuvert1 ul li a:hover {
	/*text-decoration: underline;
	color: #007CBA;*/
}

#folderbrowser.menuvert1 ul li.usb{
	margin: 3px 3px 3px 0px;
	padding: 3px;
}

#folderbrowser.menuvert1 ul li.folder, #folderbrowser.menuvert1 ul li.file{
	margin: 3px 3px 3px 25px;
	padding: 3px;
}

/* ------------------ DHCP options browser ------------------ */

.dhcpopt .menuvert1{
	overflow: auto;
	margin:0;
	float:left;
	color: #333;
	font-size: 12px;
}

.dhcpopt .menuvert1 ul{
	list-style: none inside;
	padding: 0px;
	margin: 0px;
}

.dhcpopt .menuvert1 ul li {
	text-align: left;
	border-left: 1px solid #FFF;
}

.dhcpopt .menuvert1 ul li.opened {
	border-left: 1px dotted #AAA;
}

.dhcpopt .menuvert1 ul li img {
	vertical-align: middle;
}

.dhcpopt .menuvert1 ul li a {
	margin-left: 5px;
	cursor: pointer;
}

.dhcpopt .menuvert1 ul li a:hover {
	/*text-decoration: underline;
	color: #007CBA;*/
}

.dhcpopt .menuvert1 ul li.usb{
	margin: 3px 3px 3px 0px;
	padding: 3px;
}

.dhcpopt .menuvert1 ul li.folder_close,
	.dhcpopt .menuvert1 ul li.folder_open,
	.dhcpopt .menuvert1 ul li.folder_new,
	.dhcpopt .menuvert1 ul li.file,
	.dhcpopt .menuvert1 ul li.file_new{
	margin: 3px;
	padding: 3px 0 0 17px;
}

.dhcpopt .menuvert1 ul li.folder_close{
	background: url("../image/folder_close.gif") no-repeat scroll 3px 0 transparent;
}

.dhcpopt .menuvert1 ul li.folder_open{
	background: url("../image/folder_open.gif") no-repeat scroll 3px 0 transparent;
}

.dhcpopt .menuvert1 ul li.folder_new{
	background: url("../image/folder_new.png") no-repeat scroll 3px 0 transparent;
}

.dhcpopt .menuvert1 ul li.folder_deleted{
	background: url("../image/folder_deleted.png") no-repeat scroll 3px 0 transparent;
}

.dhcpopt .menuvert1 ul li.file{
	background: url("../image/file.png") no-repeat scroll 3px 0 transparent;
}

.dhcpopt .menuvert1 ul li.file_new{
	background: url("../image/file_new.png") no-repeat scroll 3px 0 transparent;
}

.dhcpopt .menuvert1 ul li.file_deleted{
	background: url("../image/file_deleted.png") no-repeat scroll 3px 0 transparent;
}
/* ---------------------------------------------------------- */

.menuvert1 ul.popupmenu{
	border: 1px solid #AAA;
	background: #EEE;
	background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ3JSIgc3RvcC1jb2xvcj0iI2Y2ZjZmNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlZGVkZWQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background-image: -moz-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(47%,#f6f6f6), color-stop(100%,#ededed));
	background-image: -webkit-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%);
	background-image: -o-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%);
	background-image: -ms-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%);
	background-image: linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%);
	white-space: nowrap;
	position: absolute;
	left: 200px;
	top: 200px;
	box-shadow: 0px 0px 5px #AAA;
	-moz-box-shadow: 0px 0px 5px #AAA;
	-webkit-box-shadow: 0px 0px 5px #AAA;
	display: none;
	padding: 0px;
	margin: 0px;
	list-style: none inside;
	-moz-user-select: none;
	-o-user-select: none;
	-khtml-user-select: none;
	font-size: 11px;
	text-shadow: 1px 1px 0px #FFF;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

.menuvert1 .popupmenu li.separator {
	border-top: 1px solid #CCC;
	margin: 3px;
}

.menuvert1 .popupmenu li.item {
	padding: 3px 10px 3px 0px;
	text-align: left;
}

.rtlDirection .menuvert1 .popupmenu li.item {
	padding: 3px 0px 3px 10px;
	text-align: right;
}
			
.menuvert1 .popupmenu li.item:hover {
	background: #FFFFDD;
}
		
.menuvert1 .popupmenu li.item a {
	padding-top: 3px;
	text-decoration: none;
	color: #333;
	border: none;
	font-size: 11px;
}

.menuvert1 .popupmenu li.item a.disabled {
	color: #BBB;
}
									  
