v\: * {
    /* VML stuff */
    behavior:url(#default#VML);
    position:absolute
}

[draggable=true] {
    -khtml-user-drag: element;
    -webkit-user-drag: element;
    -khtml-user-select: none;
    -webkit-user-select: none;
}

a {
    outline: none;
}

html {
    height: 100%;
}

body {
    background: #f0f0f0;
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 11px;
    cursor: default;
    margin: 0;
    padding: 0;
    height: 100%;
}

.top {
    background: #ccc;
}

td.menu {
    background: #ccc;
    width: 150px;
    box-shadow:
	-1px 0 5px rgba(255,255,255,0.8) inset,
	-1px 0 #888 inset,
	1px 0 3px #888 inset;
    -webkit-box-shadow:
	-1px 0 5px rgba(255,255,255,0.8) inset,
	-1px 0 #888 inset,
	1px 0 3px #888 inset;
    -moz-box-shadow:
	-1px 0 5px rgba(255,255,255,0.8) inset,
	-1px 0 #888 inset,
	1px 0 3px #888 inset;
}

#startup {
    margin: 4em 0 0 150px;
}
#startup h1 {
    margin: 0;
    font-size: 18px;
    font-weight: normal;
}
#startup img {
    margin: 0 0 0 1em;
}

#login {
    margin: 2em 1em 1em 10em;
}
#login h1 {
    font-weight: normal;
    font-size: 18px;
    margin-left: 1em;
}
#login table {
    margin: 2em 0 0 0;
}
#login table td {
    padding: 0 4px 0 0;
}
#login table td.label {
    text-align: right;
}
#login table td.toolbar {
    padding: 0 0 0 1em;
    vertical-align: top;
}
#login ul.toolbar {
    margin: 0;
}

#login input {
    border: 1px solid #888;
    margin: 2px 2px;
    padding: 1px;
    width: 10em;
}

#logo {
    float: right;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: -1px;
    color: #a5a5a5;
    text-shadow: #444 -1px -1px, #eee 1px 1px;
    margin: 2px 6px 0 1em;
    _color: #808080; /* only IEv6 does not ignore this */
}

#top {
    display: inline-block;
    position: relative;
    left: -4px;
    margin: 3px 0 0 4px;
    white-space: nowrap;
}

#menu {
    margin: 0 0 0 -1px;
    padding: 0;
    display: block;
    height: 100%;
    box-shadow: 0px 2px 2px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0px 2px 2px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 2px 2px rgba(0,0,0,0.2);
}
#menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
#menu li {
    list-style: none;
}
#menu li.group a:after {
    content: url("right-arrow.png");
    float: right;
}
#menu li.activegroup a:after {
    content: url("down-arrow.png");
    float: right;
}
#menu li.sep {
    height: 4px;
}
#menu ul.group {
    display: none;
}
#menu a {
    display: block;
    border: 1px solid #888;
    background: #ddd;
    text-decoration: none;
    color: #000000;
    margin: -1px 0 0 0;
    padding: 4px 8px;
    cursor: inherit;
    box-shadow:
	1px 1px 2px rgba(255,255,255,0.8) inset,
	0 5px 10px -5px rgba(255,255,255,0.7) inset;
    -webkit-box-shadow:
	1px 1px 2px rgba(255,255,255,0.8) inset,
	0 5px 10px -5px rgba(255,255,255,0.7) inset;
    -moz-box-shadow:
	1px 1px 2px rgba(255,255,255,0.8) inset,
	0 5px 10px -5px rgba(255,255,255,0.7) inset;
    width: 120px;

    -webkit-transition: background 0.2s linear, box-shadow 0.3s linear;
    -moz-transition: background 0.2s linear, box-shadow 0.3s linear;
}
#menu a.opened {
    background: #aaa;
    box-shadow: 1px 1px 2px #888 inset;
    -webkit-box-shadow: 1px 1px 2px #888 inset;
    -moz-box-shadow: 1px 1px 2px #888 inset;
}
#menu a.active {
    background: #ccc;
    box-shadow: 1px 1px 1px #aaa inset;
    -webkit-box-shadow: 1px 1px 1px #aaa inset;
    -moz-box-shadow: 1px 1px 1px #aaa inset;
}
#menu a.active:hover {
    background: #ccc;
}
#menu a.active:active {
    background: #ccc;
}
#menu a:hover {
    background: #eee;
}
#menu a.opened:hover {
    background: #aaa;
}
#menu a:active {
    background: #aaa;
    box-shadow: 1px 1px 2px #888 inset;
    -webkit-box-shadow: 1px 1px 2px #888 inset;
    -moz-box-shadow: 1px 1px 2px #888 inset;
}
#menu ul.activegroup {
    padding-left: 4px;
    box-shadow: 1px 0 3px #000 inset;
    -webkit-box-shadow: 1px 0 3px #000 inset;
    -moz-box-shadow: 1px 0 3px #000 inset;
}
#menu ul.activegroup li a {
    margin: -1px 0 0 0;
    padding: 4px 0 4px 9px;
    background-color: #c1c1c1;
    box-shadow: 0 5px 10px -5px rgba(255,255,255,0.6) inset;
    -webkit-box-shadow: 0 5px 10px -5px rgba(255,255,255,0.6) inset;
    -moz-box-shadow: 0 5px 10px -5px rgba(255,255,255,0.6) inset;
}
#menu ul.activegroup li a.opened {
    background: #aaa;
    box-shadow: 1px 1px 2px #888 inset;
    -webkit-box-shadow: 1px 1px 2px #888 inset;
    -moz-box-shadow: 1px 1px 2px #888 inset;
}
#menu ul.activegroup li a:hover {
    background: #ddd;
}
#menu ul.activegroup li a.opened:hover {
    background: #aaa;
}
#menu ul.activegroup li a:active {
    background: #aaa;
    box-shadow: 1px 1px 2px #888 inset;
    -webkit-box-shadow: 1px 1px 2px #888 inset;
    -moz-box-shadow: 1px 1px 2px #888 inset;
}
#menu input {
    font-size: 11px;
    font-family: verdana, arial, helvetica, sans-serif;
    border: 0;
    margin: 0;
    padding: 0;
    width: 80px;
    background: #ddd;
    background: transparent;
}
#menu input:focus {
    border: 1px solid #888;
}
#menu a:active input {
    background: #aaa;
    background: transparent;
}
#menu a:hover input {
    background: #eee;
    background: transparent;
}
#menu ul.activegroup input {
    background: #ccc;
    background: transparent;
}
#menu ul.activegroup a:hover input {
    background: #ddd;
    background: transparent;
}

#title {
    font-family: verdana, arial, helvetica, sans-serif;
    float: right;
    color: #000;
    font-size: 14px;
    margin: 7px 10px 3px 12px;
}
#title input {
    font-family: verdana, arial, helvetica, sans-serif;
    background-color: #ccc;
    font-weight: bold;
    font-size: 14px;
    border: 0;
    margin: 0;
    padding: 0;
    width: 20em;
    text-align: right;
}

#tabs ul {
    font-size: 11px;
    text-align: left;
    list-style: none;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
#tabs .prefix {
    float: left;
    background: none;
    padding-left: 2px;
}
#tabs li {
    float: left;
    margin: 0;
    padding: 0;
}
#tabs a {
    float: left;
    margin: 4px 2px 0 0;
    padding: 4px 8px 5px 8px;
    background: #aaa;
    background: -webkit-gradient(linear, left top, left bottom, from(#aaa), to(#888));
    border: 1px solid #888;
    border-bottom: none;
    border-radius: 3px 3px 0 0;
    -moz-border-radius: 3px 3px 0 0;
    box-shadow:
        1px 1px 2px rgba(255,255,255,0.9) inset,
	0 1px 20px 10px rgba(240,240,240,0.7) inset, /* top gradient */
	0 1px rgba(255,255,255,0.2);
    -webkit-box-shadow:
        1px 1px 2px rgba(255,255,255,0.9) inset,
	0 1px 20px 10px rgba(240,240,240,0.7) inset,
	0 1px rgba(255,255,255,0.2);
    -moz-box-shadow:
        1px 1px 2px rgba(255,255,255,0.9) inset,
	0 1px 20px 10px rgba(240,240,240,0.7) inset,
	0 1px rgba(255,255,255,0.2);
    color: #000;
    text-decoration: none;
    white-space: nowrap;
    cursor: inherit;

    -webkit-transition: background 0.2s linear;
    -moz-transition: background 0.2s linear;
}
#tabs a:hover {
    background: #fff;
}
#tabs a:active {
    background: #ccc;
    box-shadow: 1px 1px 2px #aaa inset;
    -webkit-box-shadow: 1px 1px 2px #aaa inset;
    -moz-box-shadow: 1px 1px 2px #aaa inset;
}
#tabs a.active {
    padding-top: 6px;
    margin-top: 2px;
    background: #f0f0f0;
    box-shadow:
        1px 1px 2px #fff inset,
	0 1px 20px 0 rgba(240,240,240,0.2) inset,
	0 2px #f0f0f0;
    -webkit-box-shadow:
        1px 1px 2px #fff inset,
	0 1px 20px 0 rgba(240,240,240,0.2) inset,
	0 2px #f0f0f0;
    -moz-box-shadow:
        1px 1px 2px #fff inset,
	0 1px 20px 0 rgba(240,240,240,0.2) inset,
	0 2px #f0f0f0;
}
#tabs a.active:active {
}
#tabs a.active:hover {
}
#tabs input {
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 11px;
    border: 0;
    margin: 0;
    padding: 0;
    width: 10em;
}
#tabs a input {
    background: #e8e8e8;
    background: transparent;
}
#tabs a:hover input {
    background: #f8f8f8;
    background: transparent;
}
#tabs a.active input {
    background: #fff;
    background: transparent;
}
#tabs a.active:hover input {
    background: #fff;
    background: transparent;
}
#tabend {
    clear: left;
}

#right {
    width: 100%;
}

#rtable {
    width: 100%;
}

#content {
    margin: 0;
    padding: 16px 8px 8px 8px;
    border-top: 1px solid #888;
}

ul.toolbar {
    font-size: 11px;
    text-align: left;
    list-style-type: none;
    padding: 0;
    margin: 2px 0 4px 2px;
}
.top ul.toolbar {
    margin-left: 8px;
}
ul.toolbar li {
    float: left;
    vertical-align: middle;
}
ul.toolbar li.hidden {
    display: none;
}
ul.toolbar li.sep {
    padding: 1px 10px 0 0;
}
ul.toolbar li.custom {
    padding: 0;
}
.top ul.toolbar li.custom {
    margin: 2px 4px 0 0;
}
ul.toolbar li.postfix {
    background: none;
    float: none;
    clear: left;
    display: block;
    padding: 4px 8px 10px 0;
    margin: 0 2em 0 0;
}
ul.toolbar li.ending {
    background: none;
    float: none;
    clear: left;
    padding: 0;
    margin: 0;
}
ul.toolbar a {
    float: none;
    display: block;
    margin: 2px 4px 2px 0;
    padding: 5px;

    background: #ddd;
    border: 1px solid #888;
    border-radius: 3px;
    -moz-border-radius: 3px;
    box-shadow:
        1px 1px 2px rgba(255,255,255,0.8) inset,
	0 10px 10px -5px rgba(255,255,255,0.5) inset, /* top gradient */
	1px 1px 2px rgba(0,0,0,0.2); /* shadow */
    -webkit-box-shadow:
        1px 1px 2px rgba(255,255,255,0.8) inset,
	0 10px 10px -5px rgba(255,255,255,0.5) inset,
	1px 1px 2px rgba(0,0,0,0.2);
    -moz-box-shadow:
        1px 1px 2px rgba(255,255,255,0.8) inset,
	0 10px 10px -5px rgba(255,255,255,0.5) inset,
	1px 1px 2px rgba(0,0,0,0.2);
    color: #000;

    text-decoration: none;
    text-align: center;
    white-space: nowrap;
    cursor: inherit;
    min-width: 4em;

    -webkit-transition: background 0.2s linear, box-shadow 0.2s ease-out;
    -moz-transition: background 0.2s linear, box-shadow 0.2s ease-out;
}
ul.toolbar a.disabled {
     box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    -moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    color: #888;
}
ul.toolbar a:hover {
    background: #eee;
}
ul.toolbar a.disabled:hover {
    background: #ddd;
}
ul.toolbar a.pressed {
    background: #bbb;
    box-shadow: 1px 1px #aaa inset;
    -webkit-box-shadow: 1px 1px #aaa inset;
    -moz-box-shadow: 1px 1px #aaa inset;
}
ul.toolbar a.disabled:pressed {
    background: #ddd;
     box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    -moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
}
ul.toolbar a.pressed:hover {
}
ul.toolbar a:active {
    background: #aaa;
    box-shadow: 1px 1px 2px #999 inset;
    -webkit-box-shadow: 1px 1px 2px #999 inset;
    -moz-box-shadow: 1px 1px 2px #999 inset;
}
ul.toolbar a.disabled:active {
    background: #ddd;
     box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    -moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
}
ul.toolbar a:focus {
    text-decoration: strikeout;
}
ul.toolbar a span {
}
ul.toolbar li.custom:active {
    background: none;
}
ul.toolbar li.sep:active {
    background: none;
}
ul.toolbar .checkbox {
    margin: 0 0 0 1em;
}
ul.toolbar a input {
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 11px;
    border: 0;
    margin: 0 1em 0 0;
    padding: 0;
    background: #e8e8e8;
    background: transparent;
    width: 10em;
}
ul.toolbar li.custom {
    vertical-align: middle;
}
ul.toolbar .filter {
    float: right;
    margin-top: 1px;
}

ul.popup {
    font-size: 11px;
    text-align: left;
    list-style-type: none;
    padding: 0;
    margin: 0;
    background: #dddddd;
    border: 1px solid #888;
    position: absolute;
    z-index: 100;
}
ul.popup li {
    float: none;
    display: block;
    margin: 0;
    padding: 0;
    background: none;
}
ul.popup a {
    display: block;
    background: none;
    padding: 2px 4px;
    margin: 0;
    color: #000;
    text-decoration: none;
    white-space: nowrap;
    cursor: inherit;

    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}
ul.popup a:hover {
    background: #aaa;
}
ul.popup a:active {
    background: #aaa;
}

a.tbtn {
    display: inline;
    border-top-color: #d0d0d0;
    border-left-color: #d0d0d0;
    border-bottom-color: #606060;
    border-right-color: #606060;
    border-style: solid;
    border-width: 1px;
    padding: 0px 4px 0px 3px;
    margin: 0 0 0 2px;
    font-size: 10px;
    text-decoration: none;
    color: #000000;
    background: #e0e0e0;
    cursor: inherit;
}
a.tbtn:hover {
    background: #F0F0F0;
}
a.tbtn:active {
    background: #F0F0F0;
    border: 1px inset #000000;
}

a.sbtn {
    border: 1px solid #f0f0f0;
    padding: 2px 3px 2px 3px;
    margin: 2px 0 2px 4px;
    font-size: 13px;
    text-decoration: none;
    color: #000000;
    cursor: inherit;
    white-space: nowrap;
}
a.sbtn_disabled {
    border: 1px solid #f0f0f0;
    padding: 2px 4px 2px 3px;
    margin: 2px 0 2px 4px;
    font-size: 13px;
    text-decoration: none;
    color: #000000;
    white-space: nowrap;
}
a.sbtn:hover {
    border: 1px solid #888;
    background: #ddd;
    border-radius: 3px;

    box-shadow:
        1px 1px 2px rgba(255,255,255,0.8) inset,
	1px 1px 2px rgba(0,0,0,0.2); /* shadow */
    -webkit-box-shadow:
        1px 1px 2px rgba(255,255,255,0.8) inset,
	1px 1px 2px rgba(0,0,0,0.2);
    -mox-box-shadow:
        1px 1px 2px rgba(255,255,255,0.8) inset,
	1px 1px 2px rgba(0,0,0,0.2);
}
a.sbtn:active {
    background: #aaa;
    box-shadow: 1px 1px 2px #999 inset;
    -webkit-box-shadow: 1px 1px 2px #999 inset;
    -moz-box-shadow: 1px 1px 2px #999 inset;
}

.buttons {
    width: 100px;
    float: right;
    padding: 2px 4px;
}

.buttons a {
    display: block;
    text-align: center;
    margin-bottom: 3px;
}

.table {
    position: relative;
    z-index: 0;
    table-layout: fixed;
    width: 100%;
    border: 1px solid #ccc;
    border-collapse: collapse; /* makes MS IE render empty cells */
    background: #fff;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    -moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.2);

    /* in iframe we don't have set correct fonts, set them now */
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 11px;
}
.table td  {
    text-align: left;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    padding: 0;
    white-space: nowrap;
    overflow: hidden;
    empty-cells: show;
    padding: 4px;
}
.table .droptarget td {
    padding: 4px 4px 3px 4px;
    border-bottom: 2px solid #000;
}
.table .droptarget .comment td {
    padding: 4px;
    border-bottom: 1px solid #ccc;
}
table .about td {
    color: red;
}
.table td:first-child {
    border-left: none;
}
.table th {
    text-align: left;
    font-weight: bold;
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 4px;
    overflow: hidden;
    text-overflow: ellipsis;
    background: #ddd;
    box-shadow:
	1px 1px 2px rgba(255,255,255,0.9) inset,
	0 5px 10px -5px rgba(255,255,255,0.5) inset;
    -webkit-box-shadow:
	1px 1px 2px rgba(255,255,255,0.9) inset,
	0 5px 10px -5px rgba(255,255,255,0.5) inset;
    -moz-box-shadow:
	1px 1px 2px rgba(255,255,255,0.9) inset,
	0 5px 10px -5px rgba(255,255,255,0.5) inset;
}
.table th:first-child {
    border-left: none;
}
.table th.pressed {
    background: #aaa;
    box-shadow: 1px 1px 2px #888 inset;
    -webkit-box-shadow: 1px 1px 2px #888 inset;
    -moz-box-shadow: 1px 1px 2px #888 inset;
}
.table th.sort-ascend span:before {
    content: url("ascend.png");
    padding-right: 4px;
}
.table th.sort-descend span:before {
    content: url("descend.png");
    padding-right: 4px;
}
.table .droptarget th {
    padding: 4px 4px 3px 4px;
    border-bottom: 2px solid #000;
}
.table tbody.invalid {
    color: #f00;
}
.table tbody.disabled {
    color: #888;
    font-style: italic;
}
.table tbody.selected {
    background: #9dc0ea;
    color: #000;
}

#statusbar {
    width: 100%;
    margin: 0 0 8px 0;
}

#statusbar td {
    padding: 3px 6px;
    white-space: nowrap;
    border-left: 1px solid #bbb;
    border-top: 1px solid #bbb;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
    background: #f8f8f8;
    box-shadow:
	0 10px 5px rgba(255,255,255,0.5) inset,
	1px 1px 2px rgba(255,255,255,0.9) inset;
    -webkit-box-shadow:
	0 10px 5px rgba(255,255,255,0.5) inset,
	1px 1px 2px rgba(255,255,255,0.9) inset;
    -moz-box-shadow:
	0 10px 5px rgba(255,255,255,0.5) inset,
	1px 1px 2px rgba(255,255,255,0.9) inset;
}
#statusbar td.disabled {
    color: #c0c0c0;
}
#statusbar td.about {
    color: red;
}

.list {
    width: 100%;
}
.list td {
    padding: 2px 0 2px 0;
    margin: 0;
}
.list td.ctrl {
    min-width: 30px;
    font-size: 8px;
    border-top: 1px solid #ddd;
}
.list td.label {
    text-align: right;
    font-weight: bold;
    padding: 7px 1em;
    vertical-align: middle;
    white-space: nowrap;
    height: 20px;
    text-shadow: #fff 1px 1px;
    border-top: 1px solid #ddd;
    width: 100px;
}
.list td.label input {
    font-family: verdana, arial, helvetica, sans-serif;
    font-weight: bold;
    font-size: 11px;
    border: 0;
    margin: 0;
    padding: 2px;
    text-align: right;
    background: #f0f0f0;
    width: 15em;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}
.list td.label input:focus {
    border: 1px solid #888;
}
.list tbody.group td.label {
}
.list td.extra {
    min-width: 26px;
    border-top: 1px solid #ddd;
}
.list td.value {
    border-top: 1px solid #ddd;
}
.list td.tvalue {
    min-width: 10em;
    border-top: 1px solid #ddd;
    padding-right: 10px;
}
.list td.sep {
    padding: 0;
}
.list td.flabel {
    background: #f0f0f0;
    font-style: italic;
    text-align: right;
    padding: 4px 1em 4px 1em;
    vertical-align: middle;
    white-space: nowrap;
    height: 20px;
    border-top: 1px solid #ddd;
}
.list td.fextra {
    min-width: 26px;
    border-top: 1px solid #fff;
}
.list td.fvalue {
    width: 100%;
    border-top: 1px solid #fff;
}
.list h2 {
    text-align: right;
    font-weight: normal;
    font-size: 16px;
    padding: 12px 4px 2px 6px;
    margin: 0 0 1px 0;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #bbb;
    box-shadow: 0 1px #fff;
    -webkit-box-shadow: 0 1px #fff;
    -moz-box-shadow: 0 1px #fff;
}
.list h2 input {
    text-align: right;
    background: #f0f0f0;
    font-family: verdana, arial, helvetica, sans-serif;
    font-weight: normal;
    font-size: 16px;
    border: 0;
    margin: 0;
    padding: 0;
    width: 15em;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}
.list h2.setup {
    text-align: left;
}
.list hr {
    border: none;
    border-bottom: 1px solid #bbb;
    padding: 0;
    margin: 0 0 1px 0;
    box-shadow: 0 1px #fff;
    -webkit-box-shadow: 0 1px #fff;
    -moz-box-shadow: 0 1px #fff;
}
.list tbody tr.closed {
    display: none;
}
.list tbody.hidden tr {
    display: none;
}
.list .droptarget td {
    border-top: 1px solid #000;
}
.list .droptarget td table td {
    border-top: 0;
}

input {
    color: #000;
    background: #fff;
    margin: 2px;
    padding: 2px;
    border: 1px solid #888;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
    -webkit-box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
    -moz-box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
}
input:disabled {
    color: #888;
    background: #fff;
}
select {
    color: #000;
    margin: 0;
    padding: 2px 1px;
    border: 1px solid #888;
    background: #fff;
}
select:disabled {
    color: #888;
    background: #fff;
}
span.select {
    display: inline-block;
    margin: 2px;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
    -webkit-box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
    -moz-box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
}
textarea {
    display: block;
    width: 99%;
    margin: 2px;
    border: 1px solid #888;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
    -webkit-box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
    -moz-box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
}
.graph {
    margin: 4px 4px 2px 2px;
}
.graph svg.graph {
    background: #fff;
    margin: 0;
    border: 1px solid #888;
    overflow: hidden;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
    -webkit-box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
    -moz-box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
}
.graph table td {
    width: 25%;
    padding: 0 4px 0 0;
    margin: 0;
}

.error {
    color: #f00;
}
.changed {
    color: #00f;
}
.disabled {
    color: #888;
}
.tablerror {
    color: #f00;
    text-align: center;
    font-size: large;
}

.cbox {
    display: inline-block;
    position: relative;
    margin: 2px;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
}

.cbox input {
    position: absolute;
    left: 2px;
    top: 2px;
    margin: 0;
    padding: 0 2px;
    z-index: 1;
    border: none;
    background: #fff;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    outline: none;
}
.cbox input:disabled {
    color: #888;
    background: #fff;
}
.cbox select {
    position: relative;
    width: 11em;
    margin: 0;
    padding: 2px;
    box-shadow: none;
    background: #fff;
}
.cbox select:disabled {
    color: #888;
    background: #fff;
}

.checkbox {
    white-space: nowrap;
}
.checkbox input {
    font-size: 11px;
    border: none;
    margin: 0 2px 0 2px;
    padding: 0;
    vertical-align: middle;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}
.checkbox input:focus {
    border: 1px solid #888;
}
.checkbox td {
    padding: 2px 1em 2px 0;
    margin: 0 2px 0 0;
}

.radio {
    font-size: 13px;
    margin: 2px 1em 2px 2px;
    vertical-align: bottom;
}
.radio input {
    margin: 0 2px 0 0;
    padding: 0;
    border: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}

.rovalue {
    padding: 4px 2px;
    margin: 0;
    white-space: pre-wrap;

    user-select: text;
    -webkit-user-select: text;
    -o-user-select: text;
}
.roprevalue {
    font-family: monospace;
    padding: 4px 2px;
    margin: 0;

    user-select: text;
    -webkit-user-select: text;
    -o-user-select: text;
}

.opt div {
    vertical-align: bottom;
}

.curtain {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #f0f0f0;
    padding: 0;
    margin: 0;
    vertical-align: bottom;
}

.defval {
    padding: 2px;
    color: gray;
}

.strikeout {
    text-decoration: line-through;
}

.skindrag {
    position: absolute;
    opacity: 0.6;
    z-index: 10;
}

.skindrag input {
    border: 0;
    color: #000;
    background: none;
}

a.not {
    font-size: 10px;
    width: 12px;
    margin: 2px;
    padding: 0;
    border: 1px solid #888;
    background: #fff;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
    -webkit-box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
    -moz-box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
}
a.not img {
    vertical-align: -1px;
    border: none;
}
a.not_disabled {
    font-size: 10px;
    width: 12px;
    margin: 2px;
    padding: 0;
    border: 1px solid #888;
    background: #eee;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
    -webkit-box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
    -moz-box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
}
a.not_disabled img {
    vertical-align: -1px;
    border: none;
}
a.not:hover {
    background: #eee;
}
a.not:active {
    background: #aaa;
    box-shadow: 1px 1px 2px #888 inset;
    -webkit-box-shadow: 1px 1px 2px #888 inset;
    -moz-box-shadow: 1px 1px 2px #888 inset;
}

div.icon {
    float: left;
    width: 16px;
    height: 16px;
    overflow: hidden;
    margin: -1px 4px -3px 0;
    background: url('icons.png');
}

.disabled div.icon {
    filter: gray; /* IE */
    -moz-filter: grayscale(1);
    -webkit-filter: grayscale(1);
}

form {
    margin: 0;
}
