.leftLink {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #003366; LINE-HEIGHT: 15px; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.top_nav {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #333333; FONT-FAMILY: Arial, sans-serif; TEXT-DECORATION: none
}
.top_nav:hover {color:#ffffff}


.section {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #ffffff; LINE-HEIGHT: 15px; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none;}
.head_bold {
	FONT-WEIGHT: bold; FONT-SIZE: 17px; COLOR: #0099ff; LINE-HEIGHT: 15px; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none;}

.copy_1 {
	FONT-SIZE: 11px; COLOR: #000000; LINE-HEIGHT: 14px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.submitBtn {  font-family: Arial; font-size: 11px; border-color: #cccccc; background-color: 
#cccccc; color: #333333}

.more { font: bold 9pt Arial,Helvetica,sans-serif; color: #0066ff; TEXT-DECORATION: none}
.more:hover { color: #333333; }
.more.visited { color: #9999cc; }

.more_grey { font: bold 9pt Arial,Helvetica,sans-serif; color: #333333; TEXT-DECORATION: none}
.more_grey:hover { color: #0066ff; }
.more_grey.visited { color: #0066ff; }

.body { font: 9pt Arial,Helvetica,sans-serif; color: #333333}
.bold_body { font: bold 9pt Arial,Helvetica,sans-serif; color: #333333}
.wbody { font: 9pt Arial,Helvetica,sans-serif; color: #ffffff}
.bbody { font: 9pt Arial,Helvetica,sans-serif; color: #000000}
.large_body { font: 10pt Arial,Helvetica,sans-serif; color: #333333}

.test { font: 8pt Arial,Helvetica,sans-serif; TEXT-DECORATION: none}
.test:hover { color: #FFFFFF; TEXT-DECORATION: underline}

.uptest { font: bold 8pt Arial,Helvetica,sans-serif; TEXT-DECORATION: none}

.wiz_body { font: 14px Arial, sans-serif; color: #333333}

.gray_out { font: 12px Arial, sans-serif; color: #999999; font-style: italic}

hr.std { text-indent: 0px; color: #cccccc; text-align: left; height:1px; width: 95%;}

hr.menu { text-indent: 0px; color: #ffffff; text-align: left; height:1px; width: 100%;}

.num { color: black;  font: smaller Courier,serif; }

.wiz_blue { font: bold 14px Arial,Helvetica,sans-serif; color: #0099ff; TEXT-DECORATION: none}

.wiz_white_large { font: 18px Arial,Helvetica,sans-serif; color: #ffffff; TEXT-DECORATION: none}
.wiz_white_large:hover {color:yellow}
.wiz_white_large:visited {color:#99ccff}

.wiz_blue_large  { font: 18px Arial,Helvetica,sans-serif; color: #99ccff; TEXT-DECORATION: none}
.wiz_blue_large:hover { color:yellow;}
.wiz_blue_large:visited { color:white;}

table.std  { margin-left: 57px; margin-top:57px; }
table.man  { margin-left: 57px; margin-top:62px; }
table.status  { margin-left: 40px; margin-top:57px; }

.app_name { FONT-SIZE: 18px; COLOR: #666666; FONT-FAMILY: Arial Regular, Sans-serif}

.status { FONT-SIZE: 12px; COLOR: #333333; FONT-FAMILY: Arial Regular, Sans-serif}

.connected { font: bold 12px Arial, Sans-serif; COLOR: #0066ff;}

.disconnected { font: bold 12px Arial, Sans-serif; COLOR: #990033;}
.redbold { font: bold 9pt Arial,Helvetica,sans-serif; color: #ff0000}
