<<<<<<< HEAD
﻿table {
    color: rgb(77, 77, 77);
}
thead tr{ 
    background: none repeat scroll 0% 0% rgb(250, 250, 250);
    height: 42px;
    border-bottom: 1px solid rgb(217, 217, 217);
}
tbody tr{
	background-color: #fff;
	height: 42px;
}
tr.edit-tr {
	border: 1px solid rgb(150, 204, 86);
	color: #ccc;
}
table.pure-table div.pure-control-group {
	/*height: 100%;*/
}
table.pure-table input.checkbox-checkbox[type="checkbox"] + label.checkbox-label {
	height: 100%;
	line-height: 100%;
}
table.pure-table input[type="checkbox"].checkbox-checkbox + label.checkbox-label {
    padding: 0;
    margin: 0 0 -3px 0;
    height: 13px;
}
table.pure-table tr.editor-container input[type="checkbox"].checkbox-checkbox + label.checkbox-label span.icon {
	margin-right: 6px;
}
table.pure-table tr.editor-container td.editor-container-text {
	text-align: left;
    border-color: rgb(150, 204, 86);
    padding-left: 40px;
}
table.pure-table td, table.pure-table th{
    padding: 6px 3px;
}
span.table-icon {
    background: url(../img/icons-02.png) no-repeat scroll -198px -432px transparent;
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-left: 5px;
    margin-right: 4px;
    cursor: pointer;
}
span.table-grid-icon {
	background: url(../img/icons-02.png) no-repeat -54px -36px;
	display: inline-block;
	width: 18px;
	height: 21px;
	cursor: pointer;
	margin: 0px 3px;
}
span.enable-icon {
	background-position: -468px 1px;
	width: 16px;
}
span.disable-icon {
	background-position: -486px 1px;
	width: 20px;
}
span.inactive-icon {
	background-position: -468px -24px;
	width:16px;
}
span.inactive-disable-icon {
    background-position: -486px -24px;
    width:20px;
}
span.safely-remove-icon{
	background-position: -398px -54px;
	width: 19px;
}
span.edit-modify-icon {
    background-position: -54px -34px;
}
span.connect-icon {
    background-position: -198px -34px;
}
span.edit-trash-icon {
    background-position: -90px -34px; 
}
span.close-icon {
	background-position: -54px 0;
}
span.add-icon {
	cursor: pointer;
	background-position: -72px 0;
}
span.delete-icon {
	cursor: pointer;
	background-position: -90px 0;
}
span.reset-icon {
	cursor: pointer;
    background-position: -126px 0px;
}
span.clock-icon {
	background-position: -17px -34px;
}
span.delete-all-icon {
	background-position: -90px 0;
}
span.refresh-icon {
	cursor: pointer;
	background-position: -108px 0;
}
span.block-icon {
	background-position: -144px 0;
}
span.conn-status { 
background: url('../img/icons-02.png') no-repeat scroll -18px -1px transparent; 
width: 18px; 
height: 16px; 
display: inline-block; 
}
span.disconn-status {
	cursor: pointer;
	background-position: -54px 0;
}
span.play-icon {
    background: url("../img/icons-02.png") no-repeat scroll -360px -54px;
    cursor: pointer;
    display: inline-block;
    height: 18px;
    margin-left: 5px;
    margin-right: 4px;
    width: 18px;
}
span.noplay-icon {
    background: url("../img/icons-02.png") no-repeat scroll -378px -54px;
    cursor: pointer;
    display: inline-block;
    height: 18px;
    margin-left: 5px;
    margin-right: 4px;
    width: 18px;
}
label.table-icon-text {
	color: rgb(89, 158, 0);
	cursor: pointer;
}
tr.head {
    background-color: #fafafa;
    border-bottom: 1px solid #d9d9d9;
    border-top: 1px solid #d9d9d9;
    color: #1a1a1a;
}
tr.editor-container {
    border: 1px solid rgb(150, 204, 86);
    text-align: left;
    display: table-row;
}
th, td {
	text-align: center;
}
td.edit-td-top, tr.edit-td-top {
	border-bottom:1px solid rgb(150, 204, 86)!important;
}
div.table-op {
	margin-bottom: 8px;
	position: relative;
	text-align: right;
	width:100%;
}
div.table-btn {
	display: inline-block;
	text-align: right;
    margin-right: 5px;
    vertical-align: middle;
}
div.table-note {
	display: inline-block;
	margin: 0;
	float: left;
}
div.table-note span {
	vertical-align: bottom;
}
th.table-head, td.table-content {
	vertical-align: middle;
	text-align: center;
	font-weight: normal;
}
td.table-content {
	word-wrap: break-word;
	word-break: break-all;
}
div.table-bottom-pages {
	position: relative;
	padding: 0px;
	margin-top: 10px;
	text-align: right;
	line-height: 20px;
	vertical-align: middle;
}
div.table-bottom-pages span {
    display: inline-block;
    line-height: 21px;
    height: 21px;
    padding: 0px 5px;
    cursor: pointer;
}
div.table-bottom-pages span.page {
    background: url("../img/icons-01.png") no-repeat scroll -214px -191px;
    height: 22px;
    margin-left: 2px;
    width: 14px;
    display: inline-block;
    cursor: pointer;
}
div.table-bottom-pages span.page.right {
    background-position: -214px -214px;
}
div.table-bottom-pages span.page.gray {
    background-position: -214px -168px;
}
div.table-bottom-pages span.page.right.gray {
    background-position: -214px -144px;
}
span.click-page {
	color: rgb(89, 158, 0);
}
div.keyword {
	margin: 5px 5px;
	display: inline-block;
}
div.div-mask {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #b2b2b2;
	opacity: 0.3;
	z-index: 299;
	display: block;
}
table.sche tr.block, table.sche tr th.block {
	height: 49px;
}
table.sche tr.blockex, table.sche tr th.blockex {
	height: 10px;
}
table.sche tr, table.cale tr {
	height: 21px;
    width: 33px;
}
table.sche th {
    border: 0px solid #999;
	font-family: "Arial";
	font-weight: normal;
    font-size: 12px;
    text-align: center;
	padding: 0;
    height: 18px;
    width: 33px;	
}
table.cale th.sel {
	background: #96cc56;
}
table.cale th {
    border: 1px solid #999;
    font-family: "Arial";
    font-weight: normal;
    font-size: 12px;
    text-align: center;
    padding: 0;
    height: 18px;
    width: 33px;
    cursor: pointer;
}
table.cale td {
    border: 1px solid #999;
    padding: 0;
    height: 18px;
    width: 11px;
    cursor: pointer;
}
table.cale span {
    float: left;
    height: 18px;
    width: 93px;
    padding-left: 14px;
    margin: 1px 0 1px 1px;
    cursor: pointer;
}
table.cale span.sel {
    background: #96cc56;
}
div.on-mask {
    z-index: 999;
    display: inline-block;
}
span.conn-status {
    background: url('../img/icons-02.png') no-repeat scroll -18px -1px transparent;
    width: 18px;
    height: 16px;
    display: inline-block;
}
span.conn-opt {
	color:#599E00;
	cursor:pointer;
}
span.conn-opt-disabled {
	color:#b3b3b3;
	cursor:pointer;
}
div.btn-right, div.inline-btn-right {
	text-align: right;
    margin: 16px 35px 16px 0;
}
div.inline-btn-right2 {
	text-align: right;
	margin-left: 30px;
	margin-bottom: 15px;
=======
﻿table {
    color: rgb(77, 77, 77);
}
thead tr{ 
    background: none repeat scroll 0% 0% rgb(250, 250, 250);
    height: 42px;
    border-bottom: 1px solid rgb(217, 217, 217);
}
tbody tr{
	background-color: #fff;
	height: 42px;
}
tr.edit-tr {
	border: 1px solid rgb(150, 204, 86);
	color: #ccc;
}
table.pure-table div.pure-control-group {
	/*height: 100%;*/
}
table.pure-table input.checkbox-checkbox[type="checkbox"] + label.checkbox-label {
	height: 100%;
	line-height: 100%;
}
table.pure-table input[type="checkbox"].checkbox-checkbox + label.checkbox-label {
    padding: 0;
    margin: 0 0 -3px 0;
    height: 13px;
}
table.pure-table tr.editor-container input[type="checkbox"].checkbox-checkbox + label.checkbox-label span.icon {
	margin-right: 6px;
}
table.pure-table tr.editor-container td.editor-container-text {
	text-align: left;
    border-color: rgb(150, 204, 86);
    padding-left: 40px;
}
table.pure-table td, table.pure-table th{
    padding: 6px 3px;
}
span.table-icon {
    background: url(../img/icons-02.png) no-repeat scroll -198px -432px transparent;
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-left: 5px;
    margin-right: 4px;
    cursor: pointer;
}
span.table-grid-icon {
	background: url(../img/icons-02.png) no-repeat -54px -36px;
	display: inline-block;
	width: 18px;
	height: 21px;
	cursor: pointer;
	margin: 0px 3px;
}
span.enable-icon {
	background-position: -468px 1px;
	width: 16px;
}
span.disable-icon {
	background-position: -486px 1px;
	width: 20px;
}
span.inactive-icon {
	background-position: -468px -24px;
	width:16px;
}
span.inactive-disable-icon {
    background-position: -486px -24px;
    width:20px;
}
span.safely-remove-icon{
	background-position: -398px -54px;
	width: 19px;
}
span.edit-modify-icon {
    background-position: -54px -34px;
}
span.connect-icon {
    background-position: -198px -34px;
}
span.edit-trash-icon {
    background-position: -90px -34px; 
}
span.close-icon {
	background-position: -54px 0;
}
span.add-icon {
	cursor: pointer;
	background-position: -72px 0;
}
span.delete-icon {
	cursor: pointer;
	background-position: -90px 0;
}
span.reset-icon {
	cursor: pointer;
    background-position: -126px 0px;
}
span.clock-icon {
	background-position: -17px -34px;
}
span.delete-all-icon {
	background-position: -90px 0;
}
span.refresh-icon {
	cursor: pointer;
	background-position: -108px 0;
}
span.block-icon {
	background-position: -144px 0;
}
span.conn-status { 
background: url('../img/icons-02.png') no-repeat scroll -18px -1px transparent; 
width: 18px; 
height: 16px; 
display: inline-block; 
}
span.disconn-status {
	cursor: pointer;
	background-position: -54px 0;
}
span.play-icon {
    background: url("../img/icons-02.png") no-repeat scroll -360px -54px;
    cursor: pointer;
    display: inline-block;
    height: 18px;
    margin-left: 5px;
    margin-right: 4px;
    width: 18px;
}
span.noplay-icon {
    background: url("../img/icons-02.png") no-repeat scroll -378px -54px;
    cursor: pointer;
    display: inline-block;
    height: 18px;
    margin-left: 5px;
    margin-right: 4px;
    width: 18px;
}
label.table-icon-text {
	color: rgb(89, 158, 0);
	cursor: pointer;
}
tr.head {
    background-color: #fafafa;
    border-bottom: 1px solid #d9d9d9;
    border-top: 1px solid #d9d9d9;
    color: #1a1a1a;
}
tr.editor-container {
    border: 1px solid rgb(150, 204, 86);
    text-align: left;
    display: table-row;
}
th, td {
	text-align: center;
}
td.edit-td-top, tr.edit-td-top {
	border-bottom:1px solid rgb(150, 204, 86)!important;
}
div.table-op {
	margin-bottom: 8px;
	position: relative;
	text-align: right;
	width:100%;
}
div.table-btn {
	display: inline-block;
	text-align: right;
    margin-right: 5px;
    vertical-align: middle;
}
div.table-note {
	display: inline-block;
	margin: 0;
	float: left;
}
div.table-note span {
	vertical-align: bottom;
}
th.table-head, td.table-content {
	vertical-align: middle;
	text-align: center;
	font-weight: normal;
}
td.table-content {
	word-wrap: break-word;
	word-break: break-all;
}
div.table-bottom-pages {
	position: relative;
	padding: 0px;
	margin-top: 10px;
	text-align: right;
	line-height: 20px;
	vertical-align: middle;
}
div.table-bottom-pages span {
    display: inline-block;
    line-height: 21px;
    height: 21px;
    padding: 0px 5px;
    cursor: pointer;
}
div.table-bottom-pages span.page {
    background: url("../img/icons-01.png") no-repeat scroll -214px -191px;
    height: 22px;
    margin-left: 2px;
    width: 14px;
    display: inline-block;
    cursor: pointer;
}
div.table-bottom-pages span.page.right {
    background-position: -214px -214px;
}
div.table-bottom-pages span.page.gray {
    background-position: -214px -168px;
}
div.table-bottom-pages span.page.right.gray {
    background-position: -214px -144px;
}
span.click-page {
	color: rgb(89, 158, 0);
}
div.keyword {
	margin: 5px 5px;
	display: inline-block;
}
div.div-mask {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #b2b2b2;
	opacity: 0.3;
	z-index: 299;
	display: block;
}
table.sche tr.block, table.sche tr th.block {
	height: 49px;
}
table.sche tr.blockex, table.sche tr th.blockex {
	height: 10px;
}
table.sche tr, table.cale tr {
	height: 21px;
    width: 33px;
}
table.sche th {
    border: 0px solid #999;
	font-family: "Arial";
	font-weight: normal;
    font-size: 12px;
    text-align: center;
	padding: 0;
    height: 18px;
    width: 33px;	
}
table.cale th.sel {
	background: #96cc56;
}
table.cale th {
    border: 1px solid #999;
    font-family: "Arial";
    font-weight: normal;
    font-size: 12px;
    text-align: center;
    padding: 0;
    height: 18px;
    width: 33px;
    cursor: pointer;
}
table.cale td {
    border: 1px solid #999;
    padding: 0;
    height: 18px;
    width: 11px;
    cursor: pointer;
}
table.cale span {
    float: left;
    height: 18px;
    width: 93px;
    padding-left: 14px;
    margin: 1px 0 1px 1px;
    cursor: pointer;
}
table.cale span.sel {
    background: #96cc56;
}
div.on-mask {
    z-index: 999;
    display: inline-block;
}
span.conn-status {
    background: url('../img/icons-02.png') no-repeat scroll -18px -1px transparent;
    width: 18px;
    height: 16px;
    display: inline-block;
}
span.conn-opt {
	color:#599E00;
	cursor:pointer;
}
span.conn-opt-disabled {
	color:#b3b3b3;
	cursor:pointer;
}
div.btn-right, div.inline-btn-right {
	text-align: right;
    margin: 16px 35px 16px 0;
}
div.inline-btn-right2 {
	text-align: right;
	margin-left: 30px;
	margin-bottom: 15px;
>>>>>>> 59bffef8551d69606b594c223f73f1df7ea23746
}